DOCS/flowkabellaut/flowkabellaut
[{"id":"2c5be41c.fdb1ac","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"b7f40094.679d5","type":"tab","label":"Decoder","disabled":true,"info":""},{"id":"77d3be268767ac2a","type":"tab","label":"Flow 4","disabled":true,"info":"","env":[]},{"id":"65e47fba56d3f316","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"785fbe44960f2465","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"3da1de5861934e0d","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"5e5625e8d53aba69","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"59f2fb85.60b2e4","type":"subflow","name":"GPRMC Handler ","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"c9dd6738.3bfe08"}]}],"out":[],"env":[],"color":"#DDAA99","status":{"x":560,"y":120,"wires":[{"id":"d9c54e3b.80f5b8","port":0}]}},{"id":"c44913aa.a602b","type":"subflow","name":"AIVDM Decoder","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"77ef9bbe.07f324"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"558d4299.d4b4d4","port":0},{"id":"2c7e7714.bc3828","port":1},{"id":"4896d655.646db8","port":1}]}],"env":[],"color":"#DDAA99","status":{"x":940,"y":220,"wires":[{"id":"558d4299.d4b4d4","port":0},{"id":"2c7e7714.bc3828","port":1}]}},{"id":"89f5bb6f20c9d7b5","type":"subflow","name":"GPRMC Handler  (2)","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"de0e511f932c6f30"}]}],"out":[],"env":[],"color":"#DDAA99","status":{"x":560,"y":120,"wires":[]}},{"id":"2c168e20b48ca5f8","type":"subflow","name":"AIVDM Decoder (2)","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"eee67eab3b25b0c3"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"cb242c7d41c5c6f7","port":1},{"id":"da2146dc65d7cae8","port":1}]}],"env":[],"color":"#DDAA99","status":{"x":940,"y":220,"wires":[{"id":"cb242c7d41c5c6f7","port":1}]}},{"id":"7a514ac7e4bcf6eb","type":"serial-port","serialport":"COM3","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"28f444b0.30a18c","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"bc4860da.1ccfe","type":"MySQLdatabase","name":"bst_op","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"1cb5874.894b0f9","type":"MySQLdatabase","name":"bst_op_decoder","host":"127.0.0.1","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"5416d43d.0ba9d4","type":"MySQLdatabase","d":true,"name":"bst_op_decoder_insert","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"ba36506d.14c11","type":"MySQLdatabase","z":"b7f40094.679d5","name":"bst_op_decoder_insert","host":"127.0.0.1","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"5d2afcfd.611a14","type":"Hikvision-config","d":true,"host":"192.168.55.222","port":"80","name":"ptz","authentication":"basic","protocol":"http","heartbeattimerdisconnectionlimit":"1","deviceinfo":"[object Object]"},{"id":"72574d1.98c5bb4","type":"serial-port","serialport":"COM3","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"399277c2f994d299","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"988865ca.0ab6a8","type":"Hikvision-config","d":true,"host":"192.168.1.63","port":"80","name":"IP CAMERA","authentication":"digest","protocol":"http","heartbeattimerdisconnectionlimit":"1","deviceinfo":"{\"DeviceInfo\":{\"$\":{\"version\":\"2.0\",\"xmlns\":\"http://www.hikvision.com/ver20/XMLSchema\"},\"deviceName\":\"IP CAMERA\",\"deviceID\":\"6aff4000-1f90-11b3-8148-807c625433a2\",\"deviceDescription\":\"IPCamera\",\"deviceLocation\":\"hangzhou\",\"systemContact\":\"Hikvision.China\",\"model\":\"DS-2CD2T26G2-4I\",\"serialNumber\":\"DS-2CD2T26G2-4I20220328AAWRJ73844404\",\"macAddress\":\"80:7c:62:54:33:a2\",\"firmwareVersion\":\"V5.7.3\",\"firmwareReleasedDate\":\"build 220112\",\"encoderVersion\":\"V7.3\",\"encoderReleasedDate\":\"build 211223\",\"bootVersion\":\"V1.3.4\",\"bootReleasedDate\":\"100316\",\"hardwareVersion\":\"0x0\",\"deviceType\":\"IPCamera\",\"telecontrolID\":\"88\",\"supportBeep\":\"false\",\"supportVideoLoss\":\"false\",\"firmwareVersionInfo\":\"B-R-G5-0\"}}"},{"id":"254fffa1.cb281","type":"Hikvision-config","d":true,"host":"192.168.1.64","port":"80","name":"IP CAMERA","authentication":"digest","protocol":"http","heartbeattimerdisconnectionlimit":"1","deviceinfo":"{\"DeviceInfo\":{\"$\":{\"version\":\"2.0\",\"xmlns\":\"http://www.hikvision.com/ver20/XMLSchema\"},\"deviceName\":\"IP CAMERA\",\"deviceID\":\"6aff4000-1f90-11b3-8148-807c625433bb\",\"deviceDescription\":\"IPCamera\",\"deviceLocation\":\"hangzhou\",\"systemContact\":\"Hikvision.China\",\"model\":\"DS-2CD2T26G2-4I\",\"serialNumber\":\"DS-2CD2T26G2-4I20220328AAWRJ73844429\",\"macAddress\":\"80:7c:62:54:33:bb\",\"firmwareVersion\":\"V5.7.3\",\"firmwareReleasedDate\":\"build 220112\",\"encoderVersion\":\"V7.3\",\"encoderReleasedDate\":\"build 211223\",\"bootVersion\":\"V1.3.4\",\"bootReleasedDate\":\"100316\",\"hardwareVersion\":\"0x0\",\"deviceType\":\"IPCamera\",\"telecontrolID\":\"88\",\"supportBeep\":\"false\",\"supportVideoLoss\":\"false\",\"firmwareVersionInfo\":\"B-R-G5-0\"}}"},{"id":"61cb5c58f04299da","type":"Hikvision-config","d":true,"host":"192.168.1.63","port":"80","name":"Cam01","authentication":"digest","protocol":"http","heartbeattimerdisconnectionlimit":"1","deviceinfo":"[object Object]"},{"id":"016b6f639f48c603","type":"Hikvision-config","d":true,"host":"192.168.1.64","port":"80","name":"Cam02","authentication":"digest","protocol":"http","heartbeattimerdisconnectionlimit":"1","deviceinfo":"[object Object]"},{"id":"54d2656c.98870c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#00cec4","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#00cec4","edited":true},"page-titlebar-backgroundColor":{"value":"#00cec4","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bfff4","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#00cec4","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8c97334d.4dd3","type":"ui_tab","name":"Cakrawala","icon":"dashboard","disabled":false,"hidden":false},{"id":"12ba0ec5.41e919","type":"ui_tab","name":"Camera","icon":"dashboard","disabled":false,"hidden":false},{"id":"c90233bd.e033c","type":"ui_tab","name":"Diagnostic","icon":"dashboard","disabled":false,"hidden":false},{"id":"acea1d6a.d8396","type":"ui_group","name":"Default","tab":"8c97334d.4dd3","order":1,"disp":false,"width":"9","collapse":false},{"id":"1aa13968.48e06f","type":"ui_group","name":"","tab":"12ba0ec5.41e919","order":1,"disp":false,"width":"16","collapse":false},{"id":"10c12a4b.7fe94e","type":"ui_group","name":"","tab":"c90233bd.e033c","order":2,"disp":false,"width":"16","collapse":false},{"id":"33c070c2.8ed358","type":"json-db-collection","name":"gps","collection":"gps","save":true},{"id":"7e6488c246171f07","type":"sqlitedb","db":"/media/cpn/TRANSCEND/dataCamera.sql","mode":"RWC"},{"id":"5fa3516b39e862f6","type":"key-value-store","filepath":"store.json","namespace":"","name":""},{"id":"4b3b9486aa138da6","type":"key-value-store","filepath":"store.json","namespace":"","name":""},{"id":"2eaa5987be6446cd","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9871d6e44d7a6a87","type":"websocket-listener","path":"/ws/sensordata","wholemsg":"false"},{"id":"9821ed2c003bd755","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b925949e0d43a33a","type":"serial-port","serialport":"COM4","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"88803de7b24633ba","type":"serial-port","serialport":"COM1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"41d7844fb87907c5","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b87b2e5a6c9c7a97","type":"websocket-listener","d":true,"path":"/ws/sensordata","wholemsg":"false"},{"id":"0cd44d4311772c09","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3c9674f98eede628","type":"MySQLdatabase","d":true,"name":"bst_op","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"cec82572fadbefa4","type":"MySQLdatabase","d":true,"name":"bst_op_decoder","host":"127.0.0.1","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"3e0ad9615de1feee","type":"MySQLdatabase","d":true,"name":"bst_op_decoder_insert","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"f446fd9394e31ea8","type":"websocket-listener","path":"/ws/geofence","wholemsg":"false"},{"id":"672b6b60.482154","type":"function","z":"59f2fb85.60b2e4","name":"","func":"function convertLat(latitude,north_south){\n    var splitLat=latitude.split(\".\"),\n    secLat=splitLat[0].substring(splitLat[0].length - 2, splitLat[0].length)+'.'+splitLat[1],\n    degLat=splitLat[0].substring(0,splitLat[0].length - 2),\n    minLat=parseFloat(secLat)/60;\n    if(north_south=='S'){\n    \tnorth_south=-1;\n    }else{\n    \tnorth_south=1;\n    }\n    return String((parseFloat(degLat)+minLat)*north_south);\n}\n\nfunction convertLng(longitude,east_west){\n    var splitLng=longitude.split(\".\"),\n    secLng=splitLng[0].substring(splitLng[0].length - 2, splitLng[0].length)+'.'+splitLng[1],\n    degLng=splitLng[0].substring(0,splitLng[0].length - 2),\n    minLng=parseFloat(secLng)/60;\n    if(east_west=='W'){\n    \teast_west=-1;\n    }else{\n    \teast_west=1;\n    }\n    return String((parseFloat(degLng)+minLng)*east_west);\n}\n\nfunction fixDateTime(date_stamp,time_stamp){\n    var d = new Date(), date = date_stamp.substring(0,2), month = date_stamp.substring(2,4);\n    var fixDateStamp=String(d.getUTCFullYear())+'-'+month+'-'+date;\n    var fixTimeStamp=time_stamp.substring(0,2)+':'+time_stamp.substring(2,4)+':'+time_stamp.substring(4,6);\n    return String(fixDateStamp+' '+fixTimeStamp);\n}\n\n// var msgText=String(msg.payload);\nvar msgText=String(msg.gprmc);\nvar m=msgText.split(\",\");\nvar time_stamp=String(m[1]),validity=m[2],latitude=m[3],north_south=m[4],longitude=m[5],east_west=m[6],sog=m[7],cog=m[8],\ndate_stamp=String(m[9]),variation=m[10],fillbits=m[11];\n\nif(String(sog)!==''){\n    sog=String(parseFloat(sog));\n}else{\n    sog=\"0\";\n}\nif(String(cog)!==''){\n    cog=String(parseFloat(cog));\n}else{\n    cog=\"0\";\n}\nvar heading=cog;\nvar lat=convertLat(latitude,north_south);\nvar lng=convertLng(longitude,east_west);\nvar fixDT=fixDateTime(date_stamp,time_stamp);\n\nmsg.topic=\"INSERT INTO bst_mbs VALUES(0,\"+global.get('stationId')+\",\"+lat+\",\"+lng+\",\"+heading+\",\"+sog+\",\"+cog+\",'\"+fixDT+\"','\"+fixDT+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":40,"wires":[[]]},{"id":"c9dd6738.3bfe08","type":"function","z":"59f2fb85.60b2e4","name":"","func":"var msgText=String(msg.payload);\nmsg.gprmc=msgText;\nmsg.topic=\"INSERT INTO gprmc_msg VALUES (0,'\"+msgText+\"',\"+global.get('stationId')+\",1,UTC_TIMESTAMP())\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":40,"wires":[[]]},{"id":"c421af40.2cbc8","type":"debug","z":"59f2fb85.60b2e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"30cf3cce.a394c4","type":"debug","z":"59f2fb85.60b2e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":140,"wires":[]},{"id":"ccdbd10b.f8613","type":"debug","z":"59f2fb85.60b2e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":140,"y":220,"wires":[]},{"id":"f982e0d4.a3675","type":"function","z":"c44913aa.a602b","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nif(msg.parsed.ship_id===0){\n    msg.parsed.ship_id=msg.payload.insertId;\n}\nvar parsed=msg.parsed;\n\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar dynamic=parsed.dynamic;\nvar destination=parsed.destination;\nvar draught=parsed.draught;\nvar dynamicSize = Object.size(dynamic);\nvar destinationSize = Object.size(destination);\nvar draughtSize = Object.size(draught);\n\nmsg.parsed.size={};\nmsg.parsed.size.dynamic=dynamicSize;\nmsg.parsed.size.destination=destinationSize;\nmsg.parsed.size.draught=draughtSize;\n\nvar d = new Date();\nvar suffix = String(d.getUTCFullYear())+String(addZero(d.getUTCMonth()+1));\nvar insertDynamic=\"INSERT INTO ais_dynamic_\"+suffix+\" set ship_id=\"+parsed.ship_id+\",\";\nvar updateDynamic=\"INSERT INTO ais_dynamic set ship_id=\"+parsed.ship_id+\",\";\nif(parsed.exists){\n    updateDynamic=\"UPDATE ais_dynamic set \";\n}\ni=1;\nObject.keys(dynamic).forEach(key => {\n\t// console.log(key, static[key]);\n    if(i>1){\n    \tinsertDynamic+=\",\";\n    \tupdateDynamic+=\",\";\n    }\n    var column = String(key);\n    var value = String(dynamic[key]);\n    if(value===\"undefined\"){\n        value=\"0\";\n    }\n    if(column===\"raim\"){\n        if(value===\"false\"){\n            value=\"0\";\n        }else{\n            value=\"1\";\n        }\n    }\n    if(column===\"latitude\" || column===\"longitude\"){\n        if(value!==\"0\" && value!==\"undefined\"){\n            insertDynamic+=column+\"='\"+value+\"'\";\n            updateDynamic+=column+\"='\"+value+\"'\";\n        }\n    }else{\n        insertDynamic+=column+\"='\"+value+\"'\";\n        updateDynamic+=column+\"='\"+value+\"'\";\n    }\n    i++;\n});\ninsertDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\nif(!parsed.exists){\n    updateDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}else{\n    updateDynamic+=\",updated_at=UTC_TIMESTAMP() WHERE ship_id=\"+parsed.ship_id;\n}\n\nmsg.insertDynamic=insertDynamic.replace(\",,,\", \",\");\nmsg.updateDynamic=updateDynamic.replace(\",,,\", \",\");\n\nvar insertDestination=0;\ni=1;\nif(destination.destination!==undefined){\n    var tempEta = destination.eta.toISOString().slice(0, 19).replace('T', ' ');\n    destination.eta = tempEta;\n    insertDestination=\"INSERT INTO ais_destination set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(destination).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDestination+=\",\";\n        }\n        var column = String(key);\n        var value = String(destination[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDestination+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDestination+=\",updated_at='\"+parsed.time_stamp+\"'\";\n    insertDestination=insertDestination.replace(\"\\\\\", \"\\\\\\\\\");\n}\nmsg.insertDestination=insertDestination;\n\nvar insertDraught=0;\ni=1;\nif(draught.draught!==undefined){\n    insertDraught=\"INSERT INTO ais_draught set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(draught).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDraught+=\",\";\n        }\n        var column = String(key);\n        var value = String(draught[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDraught+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDraught+=\",updated_at='\"+parsed.time_stamp+\"'\";\n}\nmsg.insertDraught=insertDraught;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":180,"wires":[["7e576ba3.c222dc"]]},{"id":"7e576ba3.c222dc","type":"change","z":"c44913aa.a602b","name":"insertDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[[]]},{"id":"2f22b443.2cd2dc","type":"change","z":"c44913aa.a602b","name":"updateDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"updateDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[[]]},{"id":"825c61a3.ee5ff8","type":"change","z":"c44913aa.a602b","name":"insertDestination","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDestination","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[[]]},{"id":"327efe48.d65622","type":"change","z":"c44913aa.a602b","name":"insertDraught","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDraught","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[[]]},{"id":"80326aa1.b61fb8","type":"switch","z":"c44913aa.a602b","name":"checkDestination","property":"insertDestination","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":300,"wires":[["825c61a3.ee5ff8"],["2c7e7714.bc3828"]]},{"id":"2c7e7714.bc3828","type":"switch","z":"c44913aa.a602b","name":"checkDraught","property":"insertDraught","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":380,"wires":[["327efe48.d65622"],[]]},{"id":"fd146afe.46855","type":"function","z":"c44913aa.a602b","name":"","func":"var decoded=msg.payload;\nmsg.decoded=decoded;\nif(decoded!==undefined){\n    msg.sqlStatic=\"SELECT * from ais_static where mmsi='\"+msg.payload.senderMmsi+\"'\";\n    // msg.sqlDynamic=\"SELECT count() as total from ais_dynamic where mmsi='\"+msg.payload.senderMmsi+\"'\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":60,"wires":[["cc58a25b.853748"]]},{"id":"4896d655.646db8","type":"switch","z":"c44913aa.a602b","name":"If !Undefined","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":60,"wires":[["fd146afe.46855"],[]]},{"id":"cc58a25b.853748","type":"change","z":"c44913aa.a602b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sqlStatic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":60,"wires":[[]]},{"id":"35c43afb.30e5b6","type":"function","z":"c44913aa.a602b","name":"","func":"// if (msg.payload && !msg.payload.length){\n//     msg.result=\"No Data\";\n// }else{\n//     msg.result=msg.payload.length;\n// }\n// return msg;\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar isDataExists=true;\nvar ship_id=0;\nvar aisData={static:{},dynamic:{},destination:{},draught:{}};\n\nif (msg.payload && !msg.payload.length){\n    isDataExists=false;\n}\n\nvar d = new Date();\nvar time_stamp = String(d.getUTCFullYear())+'-'+String(addZero(d.getUTCMonth()+1))+'-'+String(addZero(d.getUTCDate()))+' ';\ntime_stamp += String(addZero(d.getUTCHours()))+':'+String(addZero(d.getUTCMinutes()))+':'+String(addZero(d.getUTCSeconds()));\n\n//Init Ship ID\nif(!isDataExists){\n    ship_id=0;\n}else{\n    ship_id=msg.payload[0].id;\n}\naisData.ship_id=ship_id;\n//Static Data\naisData.static.mmsi=msg.decoded.senderMmsi,\naisData.static.callsign=msg.decoded.callsign,\naisData.static.vessel_name=msg.decoded.name,\naisData.static.imo=msg.decoded.shipId,\naisData.static.ship_type=msg.decoded.shipType,\naisData.static.dimension_a=msg.decoded.dimensionToBow,\naisData.static.dimension_b=msg.decoded.dimensionToStern,\naisData.static.dimension_c=msg.decoded.dimensionToPort,\naisData.static.dimension_d=msg.decoded.dimensionToStarboard,\naisData.static.fix_type=msg.decoded.fix_type,\n//Dynamic Data\naisData.dynamic.station_id=global.get('stationId'),\naisData.dynamic.sog=msg.decoded.speedOverGround,\naisData.dynamic.cog=msg.decoded.courseOverGround,\naisData.dynamic.heading=msg.decoded.trueHeading,\naisData.dynamic.turning_direction=msg.decoded.turningDirection,\naisData.dynamic.rot=msg.decoded.turningRate,\naisData.dynamic.bearing=0,\naisData.dynamic.nav_status=msg.decoded.navigationStatus,\naisData.dynamic.latitude=msg.decoded.latitude,\naisData.dynamic.longitude=msg.decoded.longitude,\naisData.dynamic.raim=msg.decoded.raim,\naisData.dynamic.msg_type=msg.decoded.messageType,\naisData.dynamic.repeat_indicator=msg.decoded.repeatIndicator,\naisData.dynamic.position_accuracy=msg.decoded.positionAccuracy,\n//Destination\naisData.destination.destination=msg.decoded.destination,\naisData.destination.eta=msg.decoded.eta,\n//Draught\naisData.draught.draught=msg.decoded.draught;\n//Timestamp\naisData.time_stamp=time_stamp;\n//isExists?\naisData.exists=isDataExists;\n\nmsg.parsed=aisData;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["5e90d679.f169a"]]},{"id":"5e90d679.f169a","type":"function","z":"c44913aa.a602b","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nvar parsed=msg.parsed;\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\nvar astatic=parsed.static;\nvar staticSize = Object.size(astatic);\n\nvar insertStatic;\nvar isUpdate=false;\nif(!parsed.exists){\n\tinsertStatic=\"INSERT INTO ais_static set \";\n}else{\n    insertStatic=\"UPDATE ais_static set \";\n    isUpdate=true;\n}\nvar i=1;\nObject.keys(astatic).forEach(key => {\n    // console.log(key, astatic[key]);\n    if(i>1){\n        insertStatic+=\",\";\n    }\n    var column = String(key);\n    var value = String(astatic[key]);\n    if(value===\"undefined\"){\n        value=0;\n        if(column==\"vessel_name\"){\n            value=\"\";\n        }else if(column==\"imo\"){\n            value=\"\";\n        }else if(column==\"callsign\"){\n            value=\"\";\n        }\n    }\n    insertStatic+=column+\"='\"+value+\"'\";\n    i++;\n});\n// console.log(insertStatic);\nif(isUpdate){\n    insertStatic+=\",updated_at=UTC_TIMESTAMP() WHERE id=\"+parsed.ship_id;\n}else{\n    insertStatic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}\nmsg.topic=insertStatic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[[]]},{"id":"77ef9bbe.07f324","type":"ais-decoder","z":"c44913aa.a602b","name":"","x":130,"y":60,"wires":[["36ff1f65.fbc868"]]},{"id":"36ff1f65.fbc868","type":"function","z":"c44913aa.a602b","name":"","func":"if(msg.payload===undefined){\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":60,"wires":[["4896d655.646db8"]]},{"id":"2ecf077352c28f1a","type":"function","z":"89f5bb6f20c9d7b5","name":"","func":"function convertLat(latitude,north_south){\n    var splitLat=latitude.split(\".\"),\n    secLat=splitLat[0].substring(splitLat[0].length - 2, splitLat[0].length)+'.'+splitLat[1],\n    degLat=splitLat[0].substring(0,splitLat[0].length - 2),\n    minLat=parseFloat(secLat)/60;\n    if(north_south=='S'){\n    \tnorth_south=-1;\n    }else{\n    \tnorth_south=1;\n    }\n    return String((parseFloat(degLat)+minLat)*north_south);\n}\n\nfunction convertLng(longitude,east_west){\n    var splitLng=longitude.split(\".\"),\n    secLng=splitLng[0].substring(splitLng[0].length - 2, splitLng[0].length)+'.'+splitLng[1],\n    degLng=splitLng[0].substring(0,splitLng[0].length - 2),\n    minLng=parseFloat(secLng)/60;\n    if(east_west=='W'){\n    \teast_west=-1;\n    }else{\n    \teast_west=1;\n    }\n    return String((parseFloat(degLng)+minLng)*east_west);\n}\n\nfunction fixDateTime(date_stamp,time_stamp){\n    var d = new Date(), date = date_stamp.substring(0,2), month = date_stamp.substring(2,4);\n    var fixDateStamp=String(d.getUTCFullYear())+'-'+month+'-'+date;\n    var fixTimeStamp=time_stamp.substring(0,2)+':'+time_stamp.substring(2,4)+':'+time_stamp.substring(4,6);\n    return String(fixDateStamp+' '+fixTimeStamp);\n}\n\n// var msgText=String(msg.payload);\nvar msgText=String(msg.gprmc);\nvar m=msgText.split(\",\");\nvar time_stamp=String(m[1]),validity=m[2],latitude=m[3],north_south=m[4],longitude=m[5],east_west=m[6],sog=m[7],cog=m[8],\ndate_stamp=String(m[9]),variation=m[10],fillbits=m[11];\n\nif(String(sog)!==''){\n    sog=String(parseFloat(sog));\n}else{\n    sog=\"0\";\n}\nif(String(cog)!==''){\n    cog=String(parseFloat(cog));\n}else{\n    cog=\"0\";\n}\nvar heading=cog;\nvar lat=convertLat(latitude,north_south);\nvar lng=convertLng(longitude,east_west);\nvar fixDT=fixDateTime(date_stamp,time_stamp);\n\nmsg.topic=\"INSERT INTO bst_mbs VALUES(0,\"+global.get('stationId')+\",\"+lat+\",\"+lng+\",\"+heading+\",\"+sog+\",\"+cog+\",'\"+fixDT+\"','\"+fixDT+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":40,"wires":[[]]},{"id":"de0e511f932c6f30","type":"function","z":"89f5bb6f20c9d7b5","name":"","func":"var msgText=String(msg.payload);\nmsg.gprmc=msgText;\nmsg.topic=\"INSERT INTO gprmc_msg VALUES (0,'\"+msgText+\"',\"+global.get('stationId')+\",1,UTC_TIMESTAMP())\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":40,"wires":[[]]},{"id":"405b495a02e049a3","type":"debug","z":"89f5bb6f20c9d7b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"94b1a7858b506911","type":"debug","z":"89f5bb6f20c9d7b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":140,"wires":[]},{"id":"ab14cb025bf05f26","type":"debug","z":"89f5bb6f20c9d7b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":140,"y":220,"wires":[]},{"id":"2057fe7d1026cc7c","type":"function","z":"2c168e20b48ca5f8","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nif(msg.parsed.ship_id===0){\n    msg.parsed.ship_id=msg.payload.insertId;\n}\nvar parsed=msg.parsed;\n\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar dynamic=parsed.dynamic;\nvar destination=parsed.destination;\nvar draught=parsed.draught;\nvar dynamicSize = Object.size(dynamic);\nvar destinationSize = Object.size(destination);\nvar draughtSize = Object.size(draught);\n\nmsg.parsed.size={};\nmsg.parsed.size.dynamic=dynamicSize;\nmsg.parsed.size.destination=destinationSize;\nmsg.parsed.size.draught=draughtSize;\n\nvar d = new Date();\nvar suffix = String(d.getUTCFullYear())+String(addZero(d.getUTCMonth()+1));\nvar insertDynamic=\"INSERT INTO ais_dynamic_\"+suffix+\" set ship_id=\"+parsed.ship_id+\",\";\nvar updateDynamic=\"INSERT INTO ais_dynamic set ship_id=\"+parsed.ship_id+\",\";\nif(parsed.exists){\n    updateDynamic=\"UPDATE ais_dynamic set \";\n}\ni=1;\nObject.keys(dynamic).forEach(key => {\n\t// console.log(key, static[key]);\n    if(i>1){\n    \tinsertDynamic+=\",\";\n    \tupdateDynamic+=\",\";\n    }\n    var column = String(key);\n    var value = String(dynamic[key]);\n    if(value===\"undefined\"){\n        value=\"0\";\n    }\n    if(column===\"raim\"){\n        if(value===\"false\"){\n            value=\"0\";\n        }else{\n            value=\"1\";\n        }\n    }\n    if(column===\"latitude\" || column===\"longitude\"){\n        if(value!==\"0\" && value!==\"undefined\"){\n            insertDynamic+=column+\"='\"+value+\"'\";\n            updateDynamic+=column+\"='\"+value+\"'\";\n        }\n    }else{\n        insertDynamic+=column+\"='\"+value+\"'\";\n        updateDynamic+=column+\"='\"+value+\"'\";\n    }\n    i++;\n});\ninsertDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\nif(!parsed.exists){\n    updateDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}else{\n    updateDynamic+=\",updated_at=UTC_TIMESTAMP() WHERE ship_id=\"+parsed.ship_id;\n}\n\nmsg.insertDynamic=insertDynamic.replace(\",,,\", \",\");\nmsg.updateDynamic=updateDynamic.replace(\",,,\", \",\");\n\nvar insertDestination=0;\ni=1;\nif(destination.destination!==undefined){\n    var tempEta = destination.eta.toISOString().slice(0, 19).replace('T', ' ');\n    destination.eta = tempEta;\n    insertDestination=\"INSERT INTO ais_destination set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(destination).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDestination+=\",\";\n        }\n        var column = String(key);\n        var value = String(destination[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDestination+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDestination+=\",updated_at='\"+parsed.time_stamp+\"'\";\n    insertDestination=insertDestination.replace(\"\\\\\", \"\\\\\\\\\");\n}\nmsg.insertDestination=insertDestination;\n\nvar insertDraught=0;\ni=1;\nif(draught.draught!==undefined){\n    insertDraught=\"INSERT INTO ais_draught set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(draught).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDraught+=\",\";\n        }\n        var column = String(key);\n        var value = String(draught[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDraught+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDraught+=\",updated_at='\"+parsed.time_stamp+\"'\";\n}\nmsg.insertDraught=insertDraught;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":180,"wires":[["799a4606065f1c33"]]},{"id":"799a4606065f1c33","type":"change","z":"2c168e20b48ca5f8","name":"insertDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[[]]},{"id":"aabfb555aad2037f","type":"change","z":"2c168e20b48ca5f8","name":"updateDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"updateDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[[]]},{"id":"37e991c65fb61e2a","type":"change","z":"2c168e20b48ca5f8","name":"insertDestination","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDestination","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[[]]},{"id":"049edeab9ce66290","type":"change","z":"2c168e20b48ca5f8","name":"insertDraught","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDraught","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[[]]},{"id":"dbd397309f335d0b","type":"switch","z":"2c168e20b48ca5f8","name":"checkDestination","property":"insertDestination","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":300,"wires":[["37e991c65fb61e2a"],["cb242c7d41c5c6f7"]]},{"id":"cb242c7d41c5c6f7","type":"switch","z":"2c168e20b48ca5f8","name":"checkDraught","property":"insertDraught","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":380,"wires":[["049edeab9ce66290"],[]]},{"id":"f4cc969d855fdf38","type":"function","z":"2c168e20b48ca5f8","name":"","func":"var decoded=msg.payload;\nmsg.decoded=decoded;\nif(decoded!==undefined){\n    msg.sqlStatic=\"SELECT * from ais_static where mmsi='\"+msg.payload.senderMmsi+\"'\";\n    // msg.sqlDynamic=\"SELECT count() as total from ais_dynamic where mmsi='\"+msg.payload.senderMmsi+\"'\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":60,"wires":[["98a6e2edc30b0da3"]]},{"id":"da2146dc65d7cae8","type":"switch","z":"2c168e20b48ca5f8","name":"If !Undefined","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":60,"wires":[["f4cc969d855fdf38"],[]]},{"id":"98a6e2edc30b0da3","type":"change","z":"2c168e20b48ca5f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sqlStatic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":60,"wires":[[]]},{"id":"766b79b923d3aea6","type":"function","z":"2c168e20b48ca5f8","name":"","func":"// if (msg.payload && !msg.payload.length){\n//     msg.result=\"No Data\";\n// }else{\n//     msg.result=msg.payload.length;\n// }\n// return msg;\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar isDataExists=true;\nvar ship_id=0;\nvar aisData={static:{},dynamic:{},destination:{},draught:{}};\n\nif (msg.payload && !msg.payload.length){\n    isDataExists=false;\n}\n\nvar d = new Date();\nvar time_stamp = String(d.getUTCFullYear())+'-'+String(addZero(d.getUTCMonth()+1))+'-'+String(addZero(d.getUTCDate()))+' ';\ntime_stamp += String(addZero(d.getUTCHours()))+':'+String(addZero(d.getUTCMinutes()))+':'+String(addZero(d.getUTCSeconds()));\n\n//Init Ship ID\nif(!isDataExists){\n    ship_id=0;\n}else{\n    ship_id=msg.payload[0].id;\n}\naisData.ship_id=ship_id;\n//Static Data\naisData.static.mmsi=msg.decoded.senderMmsi,\naisData.static.callsign=msg.decoded.callsign,\naisData.static.vessel_name=msg.decoded.name,\naisData.static.imo=msg.decoded.shipId,\naisData.static.ship_type=msg.decoded.shipType,\naisData.static.dimension_a=msg.decoded.dimensionToBow,\naisData.static.dimension_b=msg.decoded.dimensionToStern,\naisData.static.dimension_c=msg.decoded.dimensionToPort,\naisData.static.dimension_d=msg.decoded.dimensionToStarboard,\naisData.static.fix_type=msg.decoded.fix_type,\n//Dynamic Data\naisData.dynamic.station_id=global.get('stationId'),\naisData.dynamic.sog=msg.decoded.speedOverGround,\naisData.dynamic.cog=msg.decoded.courseOverGround,\naisData.dynamic.heading=msg.decoded.trueHeading,\naisData.dynamic.turning_direction=msg.decoded.turningDirection,\naisData.dynamic.rot=msg.decoded.turningRate,\naisData.dynamic.bearing=0,\naisData.dynamic.nav_status=msg.decoded.navigationStatus,\naisData.dynamic.latitude=msg.decoded.latitude,\naisData.dynamic.longitude=msg.decoded.longitude,\naisData.dynamic.raim=msg.decoded.raim,\naisData.dynamic.msg_type=msg.decoded.messageType,\naisData.dynamic.repeat_indicator=msg.decoded.repeatIndicator,\naisData.dynamic.position_accuracy=msg.decoded.positionAccuracy,\n//Destination\naisData.destination.destination=msg.decoded.destination,\naisData.destination.eta=msg.decoded.eta,\n//Draught\naisData.draught.draught=msg.decoded.draught;\n//Timestamp\naisData.time_stamp=time_stamp;\n//isExists?\naisData.exists=isDataExists;\n\nmsg.parsed=aisData;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["ac1fc11743fc9cd6"]]},{"id":"ac1fc11743fc9cd6","type":"function","z":"2c168e20b48ca5f8","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nvar parsed=msg.parsed;\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\nvar astatic=parsed.static;\nvar staticSize = Object.size(astatic);\n\nvar insertStatic;\nvar isUpdate=false;\nif(!parsed.exists){\n\tinsertStatic=\"INSERT INTO ais_static set \";\n}else{\n    insertStatic=\"UPDATE ais_static set \";\n    isUpdate=true;\n}\nvar i=1;\nObject.keys(astatic).forEach(key => {\n    // console.log(key, astatic[key]);\n    if(i>1){\n        insertStatic+=\",\";\n    }\n    var column = String(key);\n    var value = String(astatic[key]);\n    if(value===\"undefined\"){\n        value=0;\n        if(column==\"vessel_name\"){\n            value=\"\";\n        }else if(column==\"imo\"){\n            value=\"\";\n        }else if(column==\"callsign\"){\n            value=\"\";\n        }\n    }\n    insertStatic+=column+\"='\"+value+\"'\";\n    i++;\n});\n// console.log(insertStatic);\nif(isUpdate){\n    insertStatic+=\",updated_at=UTC_TIMESTAMP() WHERE id=\"+parsed.ship_id;\n}else{\n    insertStatic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}\nmsg.topic=insertStatic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[[]]},{"id":"eee67eab3b25b0c3","type":"ais-decoder","z":"2c168e20b48ca5f8","name":"","x":130,"y":60,"wires":[["2c5511dfb74c3f98"]]},{"id":"2c5511dfb74c3f98","type":"function","z":"2c168e20b48ca5f8","name":"","func":"if(msg.payload===undefined){\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":60,"wires":[["da2146dc65d7cae8"]]},{"id":"d85730c.d768ad","type":"inject","z":"2c5be41c.fdb1ac","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":90,"y":40,"wires":[["a5b8aa8e.4d1ac8"]]},{"id":"b4a80e30.93116","type":"function","z":"2c5be41c.fdb1ac","name":"","func":"var d=new Date();\nvar suffix=d.getUTCFullYear().toString();\nvar m=d.getUTCMonth()+1;\nif(m<10){\n\tm=\"0\"+m.toString();\n}else{\n\tm.toString();\n}\nsuffix+=m\nvar sql=\"CREATE TABLE IF NOT EXISTS \";\nvar aivdm=\"aivdm_msg\";\nvar aisDyn=\"ais_dynamic\";\nmsg.sqla=sql+aivdm+\"_\"+suffix+\" like \"+aivdm;\nmsg.sqlb=sql+aisDyn+\"_\"+suffix+\" like \"+aisDyn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":740,"wires":[["c990d4c3.e00b88","1cec40e8.9ddfff"]]},{"id":"1cec40e8.9ddfff","type":"change","z":"2c5be41c.fdb1ac","name":"VDM History","rules":[{"t":"move","p":"sqla","pt":"msg","to":"topic","tot":"msg"},{"t":"delete","p":"sqlb","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":700,"wires":[["a137c359.5cb69"]]},{"id":"c990d4c3.e00b88","type":"change","z":"2c5be41c.fdb1ac","name":"AIS History","rules":[{"t":"move","p":"sqlb","pt":"msg","to":"topic","tot":"msg"},{"t":"delete","p":"sqla","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":780,"wires":[["cf5ea955.921f38"]]},{"id":"c4d9e623.855728","type":"debug","z":"2c5be41c.fdb1ac","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":740,"wires":[]},{"id":"cceb4345.37515","type":"switch","z":"2c5be41c.fdb1ac","name":"aivdm switch","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\\!","vt":"str"},{"t":"regex","v":"!AIVDM","vt":"str","case":false},{"t":"regex","v":"GPRMC","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":3,"x":810,"y":120,"wires":[["7c657008.dc6d2"],["47fc8c55.5cccc4","4f5b1511.e457dc"],["909a42a0.f416b","7cc4012.373d9"]]},{"id":"47fc8c55.5cccc4","type":"change","z":"2c5be41c.fdb1ac","name":"Other","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":100,"wires":[["f1e75823.bc4778","3598b0f8.042ad8"]]},{"id":"8724f6c3.b40438","type":"debug","z":"2c5be41c.fdb1ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":220,"wires":[]},{"id":"909a42a0.f416b","type":"subflow:59f2fb85.60b2e4","z":"2c5be41c.fdb1ac","name":"","x":1010,"y":140,"wires":[]},{"id":"9bfa1d18.ed4ae","type":"tcp request","z":"2c5be41c.fdb1ac","name":"bst","server":"","port":"","out":"sit","ret":"buffer","splitc":" ","x":790,"y":40,"wires":[["29a4b3ef.1a8d4c"]]},{"id":"6b0328c1.5be2a8","type":"debug","z":"2c5be41c.fdb1ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":480,"wires":[]},{"id":"51fcd742.b93918","type":"inject","z":"2c5be41c.fdb1ac","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":540,"wires":[["1b11aa44.c17fa6"]]},{"id":"f4855be.de9fca8","type":"change","z":"2c5be41c.fdb1ac","name":"set IP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.publicIPv4","tot":"msg"},{"t":"set","p":"publicIPv4","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":540,"wires":[["caaf6300.b9c78"]]},{"id":"abbe02dd.06ef2","type":"debug","z":"2c5be41c.fdb1ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":600,"wires":[]},{"id":"9812ce75.a17ee","type":"change","z":"2c5be41c.fdb1ac","name":"set IP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.publicIPv4","tot":"msg"},{"t":"set","p":"publicIPv4","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":600,"wires":[["e4d77c12.7b705"]]},{"id":"63f7363f.017cf8","type":"switch","z":"2c5be41c.fdb1ac","name":"","property":"payload.publicIPv4","propertyType":"msg","rules":[{"t":"neq","v":"get('publicIPv4')","vt":"global"}],"checkall":"false","repair":false,"outputs":1,"x":390,"y":600,"wires":[["9812ce75.a17ee"]]},{"id":"b44e6da.2770f9","type":"exec","z":"2c5be41c.fdb1ac","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Exec","x":250,"y":400,"wires":[["15924636.e2aafa"],["15924636.e2aafa"],["15924636.e2aafa"]]},{"id":"15924636.e2aafa","type":"debug","z":"2c5be41c.fdb1ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":400,"wires":[]},{"id":"29a4b3ef.1a8d4c","type":"split","z":"2c5be41c.fdb1ac","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":630,"y":120,"wires":[["cceb4345.37515"]]},{"id":"32c3a7a1.b509b8","type":"exec","z":"2c5be41c.fdb1ac","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Exec","x":250,"y":460,"wires":[["71386ed5.4db5d"],["71386ed5.4db5d"],["71386ed5.4db5d"]]},{"id":"71386ed5.4db5d","type":"debug","z":"2c5be41c.fdb1ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":460,"wires":[]},{"id":"f1e75823.bc4778","type":"function","z":"2c5be41c.fdb1ac","name":"insert aivdm","func":"var aivdm=msg.payload;\nvar d=new Date();\nvar suffix=d.getUTCFullYear().toString();\nvar m=d.getUTCMonth()+1;\nif(m<10){\n\tm=\"0\"+m.toString();\n}else{\n\tm.toString();\n}\nsuffix+=m\nif(aivdm!==undefined && aivdm!=='' && aivdm!==null){\n    msg.insAivdm=\"INSERT INTO aivdm_msg values(0,'\"+String(aivdm)+\"',\"+global.get('stationId')+\",0,UTC_TIMESTAMP())\";\n    msg.topic=\"INSERT INTO aivdm_msg_\"+suffix+\" values(0,'\"+String(aivdm)+\"',\"+global.get('stationId')+\",0,UTC_TIMESTAMP())\";\n    msg.payload=String(aivdm);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":100,"wires":[["a1459d46.3fa7d"]]},{"id":"9ec54ffc.b6271","type":"status","z":"2c5be41c.fdb1ac","name":"","scope":["9bfa1d18.ed4ae"],"x":80,"y":180,"wires":[["108d9a60.7075c6"]]},{"id":"ed5804f4.9e2b18","type":"debug","z":"2c5be41c.fdb1ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":220,"wires":[]},{"id":"108d9a60.7075c6","type":"switch","z":"2c5be41c.fdb1ac","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"common.status.error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":180,"wires":[["d3fa825c.8ac9b","ed5804f4.9e2b18"]]},{"id":"d3fa825c.8ac9b","type":"change","z":"2c5be41c.fdb1ac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":180,"wires":[["a5b8aa8e.4d1ac8"]]},{"id":"8390294b.faa608","type":"debug","z":"2c5be41c.fdb1ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":280,"wires":[]},{"id":"445286d7.d2c0e8","type":"inject","z":"2c5be41c.fdb1ac","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":190,"y":700,"wires":[["b4a80e30.93116"]]},{"id":"4f5b1511.e457dc","type":"function","z":"2c5be41c.fdb1ac","name":"","func":"msg.payload=String(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":220,"wires":[["d7e076c3.76b4d"]]},{"id":"7c657008.dc6d2","type":"function","z":"2c5be41c.fdb1ac","name":"getAIVDM","func":"var pl=String(msg.payload);\nvar aivdm=pl.split(\"\\\\\")[2];\nmsg.payload=aivdm;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":60,"wires":[["f1e75823.bc4778","3598b0f8.042ad8"]]},{"id":"cf20dad2.cfcb78","type":"change","z":"2c5be41c.fdb1ac","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"insAivdm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":160,"wires":[["e745a895.6c0e88"]]},{"id":"4652e6ec.c686f8","type":"nmea","z":"2c5be41c.fdb1ac","name":"","property":"payload","outputProperty":"payload","x":70,"y":280,"wires":[["62f4ca3b.5ecc74"]]},{"id":"62f4ca3b.5ecc74","type":"debug","z":"2c5be41c.fdb1ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":210,"y":280,"wires":[]},{"id":"161ee4ec.003393","type":"serial out","z":"2c5be41c.fdb1ac","name":"","serial":"28f444b0.30a18c","x":1370,"y":40,"wires":[]},{"id":"3598b0f8.042ad8","type":"function","z":"2c5be41c.fdb1ac","name":"","func":"var m=String(msg.payload);\nmsg.payload=new Buffer(m.replace(\"!AIVDM\",\"$AIABM\"), 'utf-8');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":40,"wires":[["161ee4ec.003393","5bd8d63f.923f08"]]},{"id":"d7dcf579.d3f308","type":"switch","z":"2c5be41c.fdb1ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":480,"wires":[[]]},{"id":"5bd8d63f.923f08","type":"debug","z":"2c5be41c.fdb1ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":40,"wires":[]},{"id":"7cc4012.373d9","type":"serial out","z":"2c5be41c.fdb1ac","name":"","serial":"28f444b0.30a18c","x":830,"y":180,"wires":[]},{"id":"6e10e2a2.87065c","type":"inject","z":"2c5be41c.fdb1ac","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":840,"wires":[["a9e769ab.5292e8"]]},{"id":"a9e769ab.5292e8","type":"file in","z":"2c5be41c.fdb1ac","d":true,"name":"","filename":"/home/cpn/Downloads/cakrawala-radarpng/hasilRadar/radar.png","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":900,"wires":[["7cd4b58a.bbd9dc","fe58361b.d5ff4"]]},{"id":"d6924e2.0320ab","type":"debug","z":"2c5be41c.fdb1ac","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":980,"wires":[]},{"id":"28cf98d0.b481a8","type":"http request","z":"2c5be41c.fdb1ac","d":true,"name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":1040,"wires":[["d6924e2.0320ab"]]},{"id":"7cd4b58a.bbd9dc","type":"function","z":"2c5be41c.fdb1ac","d":true,"name":"","func":"msg.headers = {\"Content-Type\": \"multipart/form-data\"};\nmsg.method = \"POST\";\nmsg.url = 'http://139.180.134.99:1479/api/radarpng';\nmsg.headers[\"content-type\"] = \"application/json\";\nmsg.data = msg.payload;\nmsg.payload= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":980,"wires":[["28cf98d0.b481a8"]]},{"id":"84beb140.b55768","type":"http request","z":"2c5be41c.fdb1ac","d":true,"name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://127.0.0.1:8080/radar.png","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":1140,"wires":[["45ecc541.42abcc","66507cd8.1cbd94"]]},{"id":"7ea6ca30.c0bbc4","type":"inject","z":"2c5be41c.fdb1ac","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1080,"wires":[["84beb140.b55768"]]},{"id":"66507cd8.1cbd94","type":"debug","z":"2c5be41c.fdb1ac","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1180,"wires":[]},{"id":"77129bbe.e719a4","type":"change","z":"2c5be41c.fdb1ac","name":"","rules":[{"t":"set","p":"host","pt":"global","to":"payload.RECEIVER.IP","tot":"msg"},{"t":"set","p":"port","pt":"global","to":"payload.RECEIVER.Port","tot":"msg"},{"t":"set","p":"stationId","pt":"global","to":"payload.DEFAULT.StationID","tot":"msg"},{"t":"set","p":"host","pt":"msg","to":"host","tot":"global"},{"t":"set","p":"port","pt":"msg","to":"port","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":40,"wires":[["9bfa1d18.ed4ae"]]},{"id":"a5b8aa8e.4d1ac8","type":"file in","z":"2c5be41c.fdb1ac","name":"config","filename":"/home/cpn/BSTOP/bst.ini","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":40,"wires":[["2dcfea83.444956"]]},{"id":"fbc98753.3e9db8","type":"function","z":"2c5be41c.fdb1ac","d":true,"name":"","func":"if (msg.payload) {\n    // if (msg.payload.senderMmsi.slice(0, 3) == 970) {\n    if (msg.payload.senderMmsi == 525019407) {\n        msg.method = \"POST\";\n        msg.url = \"http://127.0.0.1/api/aissart\";\n        msg.headers = {\"Content-Type\": \"application/json\"};\n        msg.data = msg.payload;\n        msg.sart = 1;\n        return msg;\n    } \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":280,"wires":[["7e2f48ab.f1fe58","6c318a2e.823784"]]},{"id":"d7e076c3.76b4d","type":"ais-decoder","z":"2c5be41c.fdb1ac","name":"","x":750,"y":220,"wires":[["fbc98753.3e9db8"]]},{"id":"7e2f48ab.f1fe58","type":"http request","z":"2c5be41c.fdb1ac","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":280,"wires":[["8390294b.faa608","fb7e3f87.1b391"]]},{"id":"6c318a2e.823784","type":"debug","z":"2c5be41c.fdb1ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":360,"wires":[]},{"id":"fb7e3f87.1b391","type":"switch","z":"2c5be41c.fdb1ac","name":"","property":"sart","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":340,"wires":[["b8b5b505.29c1b8"]]},{"id":"b8b5b505.29c1b8","type":"function","z":"2c5be41c.fdb1ac","name":"","func":"msg.method = \"POST\";\nmsg.url = \"https://bst.cakrawala.id/api/aissart\";\nmsg.headers = {\"Content-Type\": \"application/json\"};\nmsg.payload = msg.data;\nmsg.sart = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":340,"wires":[["2e3206ae.f194ba"]]},{"id":"2e3206ae.f194ba","type":"http request","z":"2c5be41c.fdb1ac","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1190,"y":340,"wires":[["5fbaad89.30abd4"]]},{"id":"5fbaad89.30abd4","type":"debug","z":"2c5be41c.fdb1ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":340,"wires":[]},{"id":"a137c359.5cb69","type":"mysql","z":"2c5be41c.fdb1ac","mydb":"bc4860da.1ccfe","name":"VDM History","x":650,"y":700,"wires":[["c4d9e623.855728"]]},{"id":"cf5ea955.921f38","type":"mysql","z":"2c5be41c.fdb1ac","mydb":"bc4860da.1ccfe","name":"AIS History","x":650,"y":780,"wires":[["c4d9e623.855728"]]},{"id":"a1459d46.3fa7d","type":"mysql","z":"2c5be41c.fdb1ac","mydb":"bc4860da.1ccfe","name":"VDM Insert","x":1370,"y":100,"wires":[["cf20dad2.cfcb78"]]},{"id":"e745a895.6c0e88","type":"mysql","z":"2c5be41c.fdb1ac","mydb":"bc4860da.1ccfe","name":"VDM Insert","x":1370,"y":160,"wires":[["8724f6c3.b40438"]]},{"id":"db991f42.41fc2","type":"cronplus","z":"2c5be41c.fdb1ac","name":"Create History Table","outputField":"payload","timeZone":"Africa/Abidjan","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0 0 1 * ? *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":740,"wires":[["b4a80e30.93116"]]},{"id":"42aba00.9a4df6","type":"cronplus","z":"2c5be41c.fdb1ac","d":true,"name":"Check Provider","outputField":"payload","timeZone":"Africa/Abidjan","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0 * * * ? *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":120,"y":600,"wires":[["46592bc6.1804b4"]]},{"id":"cb1483ab.b943d","type":"cronplus","z":"2c5be41c.fdb1ac","name":"dbUpdater","outputField":"payload","timeZone":"Africa/Abidjan","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"str","payload":"C:\\BSTOP\\dbUpdater.bat","expressionType":"cron","expression":"0 0/5 * * * ? *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":110,"y":400,"wires":[["b44e6da.2770f9"]]},{"id":"910851a6.566a1","type":"cronplus","z":"2c5be41c.fdb1ac","name":"transmitCron","outputField":"payload","timeZone":"Africa/Abidjan","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"str","payload":"C:\\BSTOP\\transmit_cron.bat","expressionType":"cron","expression":"0 0/5 * * * ? *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":110,"y":460,"wires":[["32c3a7a1.b509b8"]]},{"id":"37123079.003a2","type":"cronplus","z":"2c5be41c.fdb1ac","name":"Re-Init","outputField":"payload","timeZone":"Africa/Abidjan","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"date","payload":"","expressionType":"cron","expression":"0 0 * * * ? *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":90,"y":100,"wires":[["a5b8aa8e.4d1ac8"]]},{"id":"2dcfea83.444956","type":"parser-ini","z":"2c5be41c.fdb1ac","property":"payload","name":"","x":470,"y":40,"wires":[["77129bbe.e719a4"]]},{"id":"fe58361b.d5ff4","type":"jimp-image","z":"2c5be41c.fdb1ac","d":true,"name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"test","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":630,"y":860,"wires":[["786a2316.5337ec"]]},{"id":"786a2316.5337ec","type":"image viewer","z":"2c5be41c.fdb1ac","d":true,"name":"","width":160,"data":"payload","dataType":"bin","x":750,"y":840,"wires":[["d6924e2.0320ab"]]},{"id":"45ecc541.42abcc","type":"image viewer","z":"2c5be41c.fdb1ac","d":true,"name":"","width":160,"data":"payload","dataType":"msg","x":450,"y":1080,"wires":[["66507cd8.1cbd94"]]},{"id":"caaf6300.b9c78","type":"ipwhois","z":"2c5be41c.fdb1ac","name":"","x":460,"y":540,"wires":[["6b0328c1.5be2a8"]]},{"id":"e4d77c12.7b705","type":"ipwhois","z":"2c5be41c.fdb1ac","name":"","x":640,"y":600,"wires":[["abbe02dd.06ef2"]]},{"id":"1b11aa44.c17fa6","type":"ip","z":"2c5be41c.fdb1ac","d":true,"name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":210,"y":540,"wires":[["f4855be.de9fca8"]]},{"id":"46592bc6.1804b4","type":"ip","z":"2c5be41c.fdb1ac","d":true,"name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":270,"y":600,"wires":[["63f7363f.017cf8"]]},{"id":"67f5e949.9d2b98","type":"inject","z":"b7f40094.679d5","name":"start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":110,"y":40,"wires":[["8998f186.558fb"]]},{"id":"3a4121cf.cf23be","type":"function","z":"b7f40094.679d5","name":"setQuery","func":"// var d=new Date();\n// var suffix=d.getUTCFullYear().toString();\n// var m=d.getUTCMonth()+1;\n// if(m<10){\n// \tm=\"0\"+m.toString();\n// }else{\n// \tm.toString();\n// }\n// suffix+=m\n// msg.payload=\"aivdm_msg_\"+suffix;\nmsg.topic=\"TRUNCATE TABLE aivdm_msg;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":40,"wires":[["a795c45.2dfab38"]]},{"id":"7aba69a.bf9b698","type":"function","z":"b7f40094.679d5","name":"setQuery","func":"msg.topic=\"SELECT msg_id, msg_text from aivdm_msg where msg_decode_status=0 order by msg_id asc limit 1;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":100,"wires":[["71090174.efda7"]]},{"id":"366d5417.d92e0c","type":"change","z":"b7f40094.679d5","name":"setPayload","rules":[{"t":"set","p":"qResult","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload[0].msg_text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":240,"wires":[["49eeb5d6.b3e384"]]},{"id":"5adfb6d6.d7d9a8","type":"function","z":"b7f40094.679d5","name":"setUpdateQuery","func":"var aid=String(msg.qResult[0].msg_id);\n// msg.topic=\"UPDATE \"+flow.get('aivdmTable')+\" set msg_decode_status=1 where msg_id=\"+aid+\";\";\nmsg.topic=\"UPDATE aivdm_msg set msg_decode_status=1 where msg_id=\"+aid+\";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":300,"wires":[["1b0950f0.5bff6f","acc3d31a.19442"]]},{"id":"d203c127.d80c2","type":"change","z":"b7f40094.679d5","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":360,"wires":[["ea244c3f.c94a8","ac4931e8.ad4f8"]]},{"id":"8a661087.4f65e","type":"switch","z":"b7f40094.679d5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":2,"x":270,"y":180,"wires":[["62cc8e99.347ca"],["366d5417.d92e0c"]]},{"id":"ac4931e8.ad4f8","type":"debug","z":"b7f40094.679d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":400,"wires":[]},{"id":"acc3d31a.19442","type":"debug","z":"b7f40094.679d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":300,"wires":[]},{"id":"49eeb5d6.b3e384","type":"subflow:c44913aa.a602b","z":"b7f40094.679d5","name":"","x":480,"y":240,"wires":[["5adfb6d6.d7d9a8"]]},{"id":"67058a8.9a2c374","type":"comment","z":"b7f40094.679d5","d":true,"name":"scrapping","info":"","x":100,"y":480,"wires":[]},{"id":"703fa36f.00288c","type":"exec","z":"b7f40094.679d5","d":true,"command":"cd /home/cpn/scrap/ && python3 scrap.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scrap","x":250,"y":640,"wires":[["6c3974d8.0885dc"],[],[]]},{"id":"56c87241.b89cec","type":"json","z":"b7f40094.679d5","d":true,"name":"","property":"payload","action":"obj","pretty":false,"x":110,"y":720,"wires":[["ff333f84.82eaf"]]},{"id":"514b5af0.27e5f4","type":"switch","z":"b7f40094.679d5","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"null","vt":"str"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":2,"x":530,"y":640,"wires":[["9fbc25b.3186dd8"],["56c87241.b89cec"]]},{"id":"6c3974d8.0885dc","type":"function","z":"b7f40094.679d5","d":true,"name":"","func":"msg.payload = msg.payload.trim()\nif(msg.payload === \"\"){\n    msg.payload = \"null\";\n}else if(msg.payload === \" \"){\n    msg.payload = \"null\";\n}else if(msg.payload === \"None\"){\n    msg.payload = \"null\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":640,"wires":[["514b5af0.27e5f4"]]},{"id":"ff333f84.82eaf","type":"function","z":"b7f40094.679d5","d":true,"name":"","func":"var as={};\nas.mmsi=String(msg.payload.mmsi);\nas.callsign=msg.payload.callsign;\nas.vessel_name=msg.payload.nameAis;\nas.imo=String(msg.payload.imo);\nas.ship_type=msg.payload.typeColor+\"0\";\nas.type_name=msg.payload.type;\nas.type_detail=msg.payload.typeSpecific;\nas.gt=String(msg.payload.grossTonnage);\nas.dwt=String(msg.payload.deadweight);\nas.lo=String(msg.payload[\"length\"]);\nas.be=String(msg.payload.breadth);\nas.year_built=String(msg.payload.yearBuilt);\nas.home_port=msg.payload.homePort;\nas.country=msg.payload.country\nmsg.aisStatic=as;\n\nmsg.method = \"POST\";\nmsg.url = \"http://127.0.0.1/api/updateais\";\nmsg.header = {};\nmsg.payload = msg.aisStatic;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":720,"wires":[["6192cfe5.d0074"]]},{"id":"6192cfe5.d0074","type":"http request","z":"b7f40094.679d5","d":true,"name":"postAIS_STATIC_DATA","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":720,"wires":[["9bd91294.e0d78"]]},{"id":"dc2b2e85.38f82","type":"function","z":"b7f40094.679d5","d":true,"name":"getMMSI","func":"var count = flow.get(\"count\");\nmsg.topic = \"SELECT mmsi from ais_static where id=\"+count;\nmsg.aisStatic = {};\nmsg.aisStatic.id = String(count);\nflow.set(\"count\",parseInt(count)+1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":520,"wires":[["b1b4ad86.1cfec"]]},{"id":"be2d6407.6b89a8","type":"change","z":"b7f40094.679d5","d":true,"name":"setCounter","rules":[{"t":"set","p":"count","pt":"flow","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":520,"wires":[["7aa80fd1.9a84"]]},{"id":"341076ac.f8098a","type":"function","z":"b7f40094.679d5","d":true,"name":"setArgv","func":"msg.payload=String(msg.payload[0].mmsi);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":640,"wires":[["703fa36f.00288c"]]},{"id":"6ed821ca.5c14c","type":"switch","z":"b7f40094.679d5","d":true,"name":"checkMMSI","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":580,"wires":[["bf3f03cc.2fb4a"],["341076ac.f8098a"]]},{"id":"91be8d53.8b399","type":"inject","z":"b7f40094.679d5","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":520,"wires":[["be2d6407.6b89a8"]]},{"id":"71090174.efda7","type":"mysql","z":"b7f40094.679d5","mydb":"bc4860da.1ccfe","name":"Get AIVDM","x":550,"y":100,"wires":[["8a661087.4f65e"]]},{"id":"1b0950f0.5bff6f","type":"mysql","z":"b7f40094.679d5","mydb":"1cb5874.894b0f9","name":"Update Decoded","x":490,"y":300,"wires":[["d203c127.d80c2"]]},{"id":"a795c45.2dfab38","type":"mysql","z":"b7f40094.679d5","mydb":"5416d43d.0ba9d4","name":"VDM History","x":550,"y":40,"wires":[["c4a3714e.7b56b"]]},{"id":"b1b4ad86.1cfec","type":"mysql","z":"b7f40094.679d5","d":true,"mydb":"bc4860da.1ccfe","name":"","x":650,"y":520,"wires":[["6ed821ca.5c14c"]]},{"id":"b02d2aba.7324b8","type":"cronplus","z":"b7f40094.679d5","name":"Re-Start","outputField":"payload","timeZone":"Africa/Abidjan","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0/10 * * * ? *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":100,"y":120,"wires":[["8998f186.558fb"]]},{"id":"8998f186.558fb","type":"do","z":"b7f40094.679d5","name":"","tasks":["cleanAIVDM","qStart"],"outputs":3,"x":250,"y":80,"wires":[["3a4121cf.cf23be"],["7aba69a.bf9b698"],[]]},{"id":"7aa80fd1.9a84","type":"do","z":"b7f40094.679d5","d":true,"name":"","tasks":["scrap"],"outputs":2,"x":390,"y":520,"wires":[["dc2b2e85.38f82"],[]]},{"id":"ea244c3f.c94a8","type":"do-return","z":"b7f40094.679d5","name":"","mode":"continue","x":480,"y":360,"wires":[]},{"id":"c4a3714e.7b56b","type":"do-return","z":"b7f40094.679d5","name":"","mode":"done","x":690,"y":40,"wires":[]},{"id":"62cc8e99.347ca","type":"do-return","z":"b7f40094.679d5","name":"","mode":"continue","x":480,"y":180,"wires":[]},{"id":"bf3f03cc.2fb4a","type":"do-return","z":"b7f40094.679d5","d":true,"name":"","mode":"abort","x":630,"y":580,"wires":[]},{"id":"9bd91294.e0d78","type":"do-return","z":"b7f40094.679d5","d":true,"name":"","mode":"continue","x":640,"y":760,"wires":[]},{"id":"9fbc25b.3186dd8","type":"do-return","z":"b7f40094.679d5","d":true,"name":"","mode":"continue","x":680,"y":640,"wires":[]},{"id":"3cfde93e.c8be3e","type":"mysql","z":"77d3be268767ac2a","mydb":"bc4860da.1ccfe","name":"RMC Insert","x":320,"y":40,"wires":[[]]},{"id":"d9c54e3b.80f5b8","type":"mysql","z":"77d3be268767ac2a","mydb":"bc4860da.1ccfe","name":"MBS Insert","x":670,"y":40,"wires":[[]]},{"id":"be3668c.a274518","type":"mysql","z":"77d3be268767ac2a","mydb":"bc4860da.1ccfe","name":"Insert & Update","x":520,"y":180,"wires":[[]]},{"id":"cea63a36.c1f23","type":"mysql","z":"77d3be268767ac2a","mydb":"1cb5874.894b0f9","name":"Check AIS Static","x":190,"y":120,"wires":[[]]},{"id":"ea413ad4.3b8f58","type":"mysql","z":"77d3be268767ac2a","mydb":"5416d43d.0ba9d4","name":"Insert & Update","x":660,"y":120,"wires":[[]]},{"id":"9cfa0e2a.07ac9","type":"mysql","z":"77d3be268767ac2a","mydb":"5416d43d.0ba9d4","name":"Insert & Update","x":520,"y":240,"wires":[[]]},{"id":"db51a5d7.1a896","type":"mysql","z":"77d3be268767ac2a","mydb":"5416d43d.0ba9d4","name":"Insert & Update","x":760,"y":300,"wires":[[]]},{"id":"558d4299.d4b4d4","type":"mysql","z":"77d3be268767ac2a","mydb":"5416d43d.0ba9d4","name":"Insert & Update","x":720,"y":380,"wires":[[]]},{"id":"64f77bd9810e9ede","type":"function","z":"65e47fba56d3f316","name":"","func":"function fill(num){\n    if(num<10){\n        return \"0\"+String(num);\n    }else{\n        return String(num);\n    }\n}\nvar times = flow.get('ts');\nvar t=times.split(\",\");\nmsg.foldernya= `${flow.get(\"path\")}/Cam01/${t[0]}/${t[1]}/${t[2].slice(0,-2)}.ckr`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["77c4c1fff4aca822"]]},{"id":"bf2b68d3a5f828f0","type":"function","z":"65e47fba56d3f316","name":"","func":"var g=msg.gps;\nvar t=msg.ts.split(\",\");\n\nmsg.geotag=`${g.lat},${g.lon},${g.speedKnots},${t[0]},${t[1]},${t[2].slice(0,-2)}`;\n\nmsg.payload=true;\n\nvar overlay = \"Lat:\"+String(g.lat)+\" | Lon:\"+String(g.lon);\n\nmsg.filename=msg.path+\"/dataCamera.csv\";\n\nflow.set(\"overlay\",overlay);\nflow.set(\"geotag\",msg.geotag);\nflow.set(\"gps\",msg.gps);\nflow.set(\"ts\",msg.ts);\nflow.set(\"filepath1\",msg.path+\"/Cam01/cam01.csv\");\nflow.set(\"filepath2\",msg.path+\"/Cam02/cam02.csv\");\nflow.set(\"pathnya\", msg.path);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":220,"wires":[["e95b101e16d68605"]]},{"id":"ee6c852a5c354ec5","type":"file","z":"65e47fba56d3f316","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1090,"y":240,"wires":[[]]},{"id":"44f57376ad577dec","type":"change","z":"65e47fba56d3f316","name":"cam01-csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"geotag","tot":"flow"},{"t":"set","p":"filename","pt":"msg","to":"filepath1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":240,"wires":[["ee6c852a5c354ec5"]]},{"id":"4616a63b4078817e","type":"function","z":"65e47fba56d3f316","name":"","func":"function fill(num){\n    if(num<10){\n        return \"0\"+String(num);\n    }else{\n        return String(num);\n    }\n}\nvar times = flow.get('ts');\nvar t=times.split(\",\");\nmsg.foldernya= `${flow.get(\"path\")}/Cam02/${t[0]}/${t[1]}/${t[2].slice(0,-2)}.ckr`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":360,"wires":[["1e7123a64d0d2cf3"]]},{"id":"12210b267f2d4ef7","type":"exec","z":"65e47fba56d3f316","command":"ls /media/cpn/","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"chkDir","x":110,"y":140,"wires":[["04e68cb599be0a14"],[],[]]},{"id":"04e68cb599be0a14","type":"function","z":"65e47fba56d3f316","name":"","func":"var m=msg.payload.split(\":\")[1].trim().split(\"\\n\");\nif(m.length > 1) {\n    msg.path = \"/media/cpn/\" + m[1];\n}else {\n    msg.path = \"/media/cpn/\" + m[0];\n}\nflow.set(\"path\",msg.path);\n\nvar sog=msg.gps.speedKnots;\n\nif(sog<5){\n    msg.delay=0;\n}else{\n    msg.delay=57;\n}\n\nmsg.ts=String(msg.gps.dateTime).trim();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":140,"wires":[["cefbf7f129cd1287"]]},{"id":"c21fb603311ea2a6","type":"switch","z":"65e47fba56d3f316","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"RMC","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":250,"y":60,"wires":[["84e8c59f726a8ecb"]]},{"id":"0f39cb55dada3a3b","type":"change","z":"65e47fba56d3f316","name":"","rules":[{"t":"set","p":"gps","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":60,"wires":[["12210b267f2d4ef7"]]},{"id":"9834d0c705cb56b6","type":"function","z":"65e47fba56d3f316","name":"","func":"msg.overlay=flow.get(\"overlay\");\nflow.set('img1',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":300,"wires":[["e878be2697d4fd3d"]]},{"id":"5a335223cf41b33c","type":"function","z":"65e47fba56d3f316","name":"","func":"msg.overlay=flow.get(\"overlay\");\nflow.set('img2',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["60c3af44bbcbce3e"]]},{"id":"a3a1a24d6b1e60f2","type":"template","z":"65e47fba56d3f316","name":"Img-In","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"{{payload.img}}\" width=\"600px\" height=\"400px;\"/>\n<p>Lat: {{payload.gps.lat}} | Lon: {{payload.gps.lon}} | Speed: {{payload.gps.speedKnots}}</p>","output":"str","x":1050,"y":300,"wires":[["c6d9d31c18c1165c"]]},{"id":"b83ef694efd60f83","type":"change","z":"65e47fba56d3f316","name":"img1","rules":[{"t":"set","p":"payload.img","pt":"msg","to":"img1","tot":"flow"},{"t":"set","p":"payload.gps","pt":"msg","to":"gps","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":300,"wires":[["a3a1a24d6b1e60f2"]]},{"id":"48e2d6f318461244","type":"change","z":"65e47fba56d3f316","name":"img2","rules":[{"t":"set","p":"payload.img","pt":"msg","to":"img2","tot":"flow"},{"t":"set","p":"payload.gps","pt":"msg","to":"gps","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":360,"wires":[["110a14c2832c1a64"]]},{"id":"110a14c2832c1a64","type":"template","z":"65e47fba56d3f316","name":"Img-In","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"{{payload.img}}\" width=\"600px\" height=\"400px;\"/>\n<p>Lat: {{payload.gps.lat}} | Lon: {{payload.gps.lon}} | Speed: {{payload.gps.speedKnots}}</p>","output":"str","x":1050,"y":360,"wires":[["d22f56e8b8885501"]]},{"id":"d2ae8de95c18fe28","type":"file","z":"65e47fba56d3f316","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1090,"y":420,"wires":[[]]},{"id":"37165f5c052664be","type":"change","z":"65e47fba56d3f316","name":"cam02-csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"geotag","tot":"flow"},{"t":"set","p":"filename","pt":"msg","to":"filepath2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":420,"wires":[["d2ae8de95c18fe28"]]},{"id":"dc17418d7d7166db","type":"file","z":"65e47fba56d3f316","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":410,"y":220,"wires":[["1ce1deb5f11a2442"]]},{"id":"e95b101e16d68605","type":"change","z":"65e47fba56d3f316","name":"geoTag","rules":[{"t":"set","p":"payload","pt":"msg","to":"geotag","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":220,"wires":[["dc17418d7d7166db"]]},{"id":"1ce1deb5f11a2442","type":"change","z":"65e47fba56d3f316","name":"shoot","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":300,"wires":[["90e3c478e88b91fc","9b0a2a0de557ac69"]]},{"id":"61e41ecc4e03333d","type":"serial in","z":"65e47fba56d3f316","name":"","serial":"72574d1.98c5bb4","x":110,"y":60,"wires":[["c21fb603311ea2a6"]]},{"id":"7e5da84f1d60e1fb","type":"nmea","z":"65e47fba56d3f316","name":"","property":"payload","outputProperty":"payload","x":570,"y":60,"wires":[["0f39cb55dada3a3b","0106db2b09f692fb"]]},{"id":"90e3c478e88b91fc","type":"hikvisionUltimatePicture","z":"65e47fba56d3f316","name":"","topic":"","server":"988865ca.0ab6a8","channelID":"1","rotateimage":"0","heightimage":"","widthimage":"","qualityimage":"70","cropimage":"","textoverlay":"","textoverlayXY":"","textoverlayWH":"","urlImageCurrentIndex":"0","x":260,"y":300,"wires":[["9834d0c705cb56b6"],[]]},{"id":"9b0a2a0de557ac69","type":"hikvisionUltimatePicture","z":"65e47fba56d3f316","name":"","topic":"","server":"254fffa1.cb281","channelID":"1","rotateimage":"0","heightimage":"","widthimage":"","qualityimage":"70","cropimage":"","textoverlay":"","textoverlayXY":"","textoverlayWH":"","urlImageCurrentIndex":"0","x":260,"y":360,"wires":[["5a335223cf41b33c"],[]]},{"id":"77c4c1fff4aca822","type":"jimp-image","z":"65e47fba56d3f316","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"foldernya","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":810,"y":300,"wires":[["b83ef694efd60f83","44f57376ad577dec"]]},{"id":"1e7123a64d0d2cf3","type":"jimp-image","z":"65e47fba56d3f316","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"foldernya","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":810,"y":360,"wires":[["48e2d6f318461244","37165f5c052664be"]]},{"id":"60c3af44bbcbce3e","type":"jimp-image","z":"65e47fba56d3f316","name":"overlay","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_WHITE","parameter1Type":"jimpFont","parameter2":"10","parameter2Type":"num","parameter3":"-10","parameter3Type":"num","parameter4":"overlay","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_LEFT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_BOTTOM","parameter6Type":"AlignY","parameter7":"","parameter7Type":"auto","parameter8":"","parameter8Type":"auto","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":540,"y":360,"wires":[["4616a63b4078817e"]]},{"id":"e878be2697d4fd3d","type":"jimp-image","z":"65e47fba56d3f316","name":"overlay","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_WHITE","parameter1Type":"jimpFont","parameter2":"10","parameter2Type":"num","parameter3":"-10","parameter3Type":"num","parameter4":"overlay","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_LEFT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_BOTTOM","parameter6Type":"AlignY","parameter7":"","parameter7Type":"auto","parameter8":"","parameter8Type":"auto","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":540,"y":300,"wires":[["64f77bd9810e9ede"]]},{"id":"84e8c59f726a8ecb","type":"delay","z":"65e47fba56d3f316","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":410,"y":60,"wires":[["7e5da84f1d60e1fb"]]},{"id":"104f610e9b966228","type":"function","z":"65e47fba56d3f316","name":"","func":"var g=msg.gps;\nvar t=msg.ts.split(\",\");\n\nmsg.geotag=`${g.lat},${g.lon},${g.speedKnots},${t[0]},${t[1]},${t[2].slice(0,-2)}`;\n\nmsg.payload=true;\n\nvar overlay = \"Lat:\"+String(g.lat)+\" | Lon:\"+String(g.lon);\n\nmsg.filename=`${msg.path}/dataCamera_${t[0]}.csv`;\n\nmsg.params = {$lat:g.lat,$lng:g.lon,$speed:g.speedKnots,$date:t[0],$hours:t[1],$minutes:t[2].slice(0,-2)};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":220,"wires":[["8e13c841563e75fc","837fd9722a266b51"]]},{"id":"8e13c841563e75fc","type":"change","z":"65e47fba56d3f316","name":"geoTag","rules":[{"t":"set","p":"payload","pt":"msg","to":"geotag","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":160,"wires":[["30da8a794926a9c3"]]},{"id":"30da8a794926a9c3","type":"file","z":"65e47fba56d3f316","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":750,"y":200,"wires":[[]]},{"id":"7e88cb895f3b1fde","type":"cronplus","z":"65e47fba56d3f316","name":"HandleJikaGpsMati","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 */10 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":130,"y":440,"wires":[["7b82984e27cf3de2"]]},{"id":"7b82984e27cf3de2","type":"exec","z":"65e47fba56d3f316","command":"ls /dev/ttyACM0","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"chkGPS","x":320,"y":500,"wires":[[],["456eabf5211eb898"],[]]},{"id":"456eabf5211eb898","type":"function","z":"65e47fba56d3f316","name":"","func":"if(msg.payload.includes(\"cannot access '/dev/ttyACM0'\")){\n    msg.payload = 'gpsmati'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":500,"wires":[["e5445b81af2fbedd"]]},{"id":"232023b5cfafdc8b","type":"file","z":"65e47fba56d3f316","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":300,"y":640,"wires":[["a62aaa0b1d1aa526"]]},{"id":"a62aaa0b1d1aa526","type":"change","z":"65e47fba56d3f316","name":"shoot","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":760,"wires":[["68a722c5d26289fd","a2e2460baab5527b"]]},{"id":"68a722c5d26289fd","type":"hikvisionUltimatePicture","z":"65e47fba56d3f316","name":"","topic":"","server":"988865ca.0ab6a8","channelID":"1","rotateimage":"0","heightimage":"","widthimage":"","qualityimage":"80","cropimage":"","textoverlay":"","textoverlayXY":"","textoverlayWH":"","urlImageCurrentIndex":"0","x":260,"y":720,"wires":[["241392ba9c0c4685"],[]]},{"id":"a2e2460baab5527b","type":"hikvisionUltimatePicture","z":"65e47fba56d3f316","name":"","topic":"","server":"254fffa1.cb281","channelID":"1","rotateimage":"0","heightimage":"","widthimage":"","qualityimage":"80","cropimage":"","textoverlay":"","textoverlayXY":"","textoverlayWH":"","urlImageCurrentIndex":"0","x":260,"y":780,"wires":[["9df119009811ac45"],[]]},{"id":"241392ba9c0c4685","type":"function","z":"65e47fba56d3f316","name":"","func":"msg.overlay=flow.get(\"overlay\");\nflow.set('img1',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":720,"wires":[["c8b35d6f082827d8"]]},{"id":"9df119009811ac45","type":"function","z":"65e47fba56d3f316","name":"","func":"msg.overlay=flow.get(\"overlay\");\nflow.set('img2',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":780,"wires":[["1c373fd343c16c66"]]},{"id":"c8b35d6f082827d8","type":"jimp-image","z":"65e47fba56d3f316","name":"overlay","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_WHITE","parameter1Type":"jimpFont","parameter2":"10","parameter2Type":"num","parameter3":"-10","parameter3Type":"num","parameter4":"overlay","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_LEFT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_BOTTOM","parameter6Type":"AlignY","parameter7":"","parameter7Type":"auto","parameter8":"","parameter8Type":"auto","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":540,"y":720,"wires":[["437cb5611c68c219"]]},{"id":"1c373fd343c16c66","type":"jimp-image","z":"65e47fba56d3f316","name":"overlay","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_WHITE","parameter1Type":"jimpFont","parameter2":"10","parameter2Type":"num","parameter3":"-10","parameter3Type":"num","parameter4":"overlay","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_LEFT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_BOTTOM","parameter6Type":"AlignY","parameter7":"","parameter7Type":"auto","parameter8":"","parameter8Type":"auto","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":540,"y":780,"wires":[["df1660097dc9a5b8"]]},{"id":"437cb5611c68c219","type":"function","z":"65e47fba56d3f316","name":"","func":"function fill(num){\n    if(num<10){\n        return \"0\"+String(num);\n    }else{\n        return String(num);\n    }\n}\nvar times = flow.get('timestamp');\nvar t=times.split(\",\");\nmsg.foldernya= `${flow.get(\"path\")}/Cam01/${t[0]}/${t[1]}/${t[2].slice(0,-2)}.ckr`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":720,"wires":[["e03d812cf72ab02d"]]},{"id":"df1660097dc9a5b8","type":"function","z":"65e47fba56d3f316","name":"","func":"function fill(num){\n    if(num<10){\n        return \"0\"+String(num);\n    }else{\n        return String(num);\n    }\n}\nvar times = flow.get('timestamp');\nvar t=times.split(\",\");\nmsg.foldernya= `${flow.get(\"path\")}/Cam02/${t[0]}/${t[1]}/${t[2].slice(0,-2)}.ckr`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":780,"wires":[["46e20223fbcdc814"]]},{"id":"e03d812cf72ab02d","type":"jimp-image","z":"65e47fba56d3f316","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"foldernya","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":810,"y":720,"wires":[["943a1679844ceb36"]]},{"id":"46e20223fbcdc814","type":"jimp-image","z":"65e47fba56d3f316","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"foldernya","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":810,"y":780,"wires":[["ae7452c07575635b"]]},{"id":"943a1679844ceb36","type":"change","z":"65e47fba56d3f316","name":"cam01-csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"geotag","tot":"flow"},{"t":"set","p":"filename","pt":"msg","to":"filepath1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":720,"wires":[["68dae263bb4c374a"]]},{"id":"68dae263bb4c374a","type":"file","z":"65e47fba56d3f316","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1090,"y":720,"wires":[[]]},{"id":"ae7452c07575635b","type":"change","z":"65e47fba56d3f316","name":"cam02-csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"geotag","tot":"flow"},{"t":"set","p":"filename","pt":"msg","to":"filepath2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":780,"wires":[["2dd087922e42739d"]]},{"id":"2dd087922e42739d","type":"file","z":"65e47fba56d3f316","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1090,"y":780,"wires":[[]]},{"id":"005c8e17fe1febc9","type":"inject","z":"65e47fba56d3f316","name":"CreateFolderPertamaKali","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1040,"wires":[["ebfae46e3fef71ec","4297c870d2f07474"]]},{"id":"ebfae46e3fef71ec","type":"exec","z":"65e47fba56d3f316","command":"ls /media/cpn","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"chkDir","x":330,"y":1040,"wires":[["29f38ac3a6c360d2"],[],[]]},{"id":"29f38ac3a6c360d2","type":"function","z":"65e47fba56d3f316","name":"","func":"var m=msg.payload.split(\":\")[1].trim().split(\"\\n\");\nmsg2={};\nmsg.path=\"/media/cpn/\"+m[0]+\"/Cam01/\";\nmsg2.path=\"/media/cpn/\"+m[0]+\"/Cam02/\";\n\nmsg.payload=\"mkdir \"+msg.path\n\nmsg2.payload=\"mkdir \"+msg2.path\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1020,"wires":[["51fdc55e8fe0671c"],["fb5baf5fe457ab7b"]]},{"id":"fb5baf5fe457ab7b","type":"exec","z":"65e47fba56d3f316","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"createDirCam2","x":620,"y":1060,"wires":[[],[],[]]},{"id":"51fdc55e8fe0671c","type":"exec","z":"65e47fba56d3f316","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"createDirCam1","x":620,"y":1000,"wires":[[],[],[]]},{"id":"5e19671d0899efce","type":"file","z":"65e47fba56d3f316","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":710,"y":640,"wires":[[]]},{"id":"31160a221176a1ef","type":"function","z":"65e47fba56d3f316","name":"","func":"if(msg.payload.length > 0){\n    const diskpercent = msg.payload.filter((item) => item.mount == \"/media/cpn/TRANSCEND\")[0].capacity * 100\n\n    if(diskpercent > 97){\n        //hapus gambar paling lama\n        msg.payload = `rm -rf ${flow.get(\"path\")}/Cam01/${flow.get(\"rmf\")}`\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":860,"wires":[["c198d88744cb2d2b"]]},{"id":"c198d88744cb2d2b","type":"exec","z":"65e47fba56d3f316","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"delOldFile","x":540,"y":860,"wires":[[],[],[]]},{"id":"9fc3e15cdde2c98e","type":"function","z":"65e47fba56d3f316","name":"","func":"msg.payload = `ls ${flow.get(\"path\")}/Cam01 -lt | head -3 | grep \"^d\"`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":920,"wires":[["ac605dd44be51650"]]},{"id":"ac605dd44be51650","type":"exec","z":"65e47fba56d3f316","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fileTerlama","x":450,"y":920,"wires":[["447f30337ff8fda0"],[],[]]},{"id":"447f30337ff8fda0","type":"function","z":"65e47fba56d3f316","name":"","func":"arr = msg.payload.split(' ')\nmsg.payload = arr[arr.length - 1]\nflow.set('rmf',arr[arr.length - 1])\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":920,"wires":[[]]},{"id":"e9db2fc8e2cc7a03","type":"function","z":"65e47fba56d3f316","name":"","func":"const g= msg.gps;\nconst t= msg.ts.split(\",\");\nmsg.filename = msg.path+\"/dataCamera.csv\";\nmsg.payload = `${g.lat},${g.lon},${g.speedKnots},${t[0]},${t[1]},${t[2].slice(0,-2)}`;\nflow.set('timestamp', msg.ts)\nmsg.params = {$lat:g.lat,$lng:g.lon,$speed:g.speedKnots,$date:t[0],$hours:t[1],$minutes:t[2].slice(0,-2)};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":640,"wires":[["232023b5cfafdc8b","30bd8b56a125018d"]]},{"id":"c6dc86d1472507f2","type":"function","z":"65e47fba56d3f316","name":"","func":"const g= msg.gps;\nconst t= msg.ts.split(\",\");\nmsg.filename=`${msg.path}/dataCamera_${t[0]}.csv`;\nmsg.payload = `${g.lat},${g.lon},${g.speedKnots},${t[0]},${t[1]},${t[2].slice(0,-2)}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":640,"wires":[["5e19671d0899efce"]]},{"id":"e5445b81af2fbedd","type":"function","z":"65e47fba56d3f316","name":"","func":"if(msg.payload != 'gpsmati'){\n    msg.payload = biarin;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":500,"wires":[["2bc5f4e664f5cf53"]]},{"id":"b5af407e70080e19","type":"exec","z":"65e47fba56d3f316","command":"ls /media/cpn/","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"chkDir","x":370,"y":560,"wires":[["225feefab4bc4f4c"],[],[]]},{"id":"225feefab4bc4f4c","type":"function","z":"65e47fba56d3f316","name":"","func":"var m=msg.payload.split(\":\")[1].trim().split(\"\\n\");\nmsg.path=\"/media/cpn/\"+m[0];\nflow.set(\"path\",msg.path);\n\nmsg.ts=String(new Date()).trim();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":560,"wires":[["71f72e6702d90256"]]},{"id":"bd466ada1f998586","type":"change","z":"65e47fba56d3f316","name":"","rules":[{"t":"set","p":"gps","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":560,"wires":[["b5af407e70080e19"]]},{"id":"5facd671654b491a","type":"template","z":"65e47fba56d3f316","name":"Img-In","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"http://admin:Amtek12345@192.168.1.63/Streaming/Channels/1/picture\" style=\"width:100%; height:auto\" />","output":"str","x":230,"y":1140,"wires":[["36be3924556f88d6"]]},{"id":"6d333339ba66acf3","type":"cronplus","z":"65e47fba56d3f316","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"*/25 * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":100,"y":1160,"wires":[["5facd671654b491a","68b16dac925c6d80","3be3a5341f1198c7","8cb9436df6ce6e6e","738f1f054f8b055d","2cfdb1da99a7a451","54a8eaaf1be6560b","2d86dfb7cd9c1feb"]]},{"id":"68b16dac925c6d80","type":"template","z":"65e47fba56d3f316","name":"Img-In","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"http://admin:Amtek12345@192.168.1.64/Streaming/Channels/1/picture\" style=\"width:100%; height:auto\" />","output":"str","x":230,"y":1180,"wires":[["45966d42e6ec83a3"]]},{"id":"3be3a5341f1198c7","type":"exec","z":"65e47fba56d3f316","command":"ping 192.168.1.63 -c 1","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":280,"y":1240,"wires":[["286a322419599ce4","260729881ab4db3d"],[],[]]},{"id":"8cb9436df6ce6e6e","type":"exec","z":"65e47fba56d3f316","command":"ping 192.168.1.64 -c 1","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":280,"y":1300,"wires":[["c15346c4b934c055","3f9b5b83e1351d91"],[],[]]},{"id":"c2e33f648bc70a54","type":"function","z":"65e47fba56d3f316","name":"","func":"const newArr = [];\nmsg.payload.map((item) => {\n    newArr.push({name: item.filesystem, usage: item.capacity*100 + '%' })\n})\nmsg.payload = JSON.stringify(newArr)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1360,"wires":[["79f8305baecab8f6"]]},{"id":"109a7a2a13335b9e","type":"function","z":"65e47fba56d3f316","name":"","func":"msg.payload = JSON.stringify(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1400,"wires":[["dbca2b242ffec9bc"]]},{"id":"50c540cc14106a4a","type":"function","z":"65e47fba56d3f316","name":"","func":"msg.payload = JSON.stringify(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1440,"wires":[["bf264a7ce8d46f3c"]]},{"id":"260729881ab4db3d","type":"function","z":"65e47fba56d3f316","name":"","func":"if(msg.payload.includes('Unreachable')){\n    msg.payload = 'Kamera 1 tidak connect'\n} else {\n    msg.payload = 'Ping Camera 1 Connected'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1240,"wires":[["d039463d22caab23"]]},{"id":"7c79102676bd1e97","type":"function","z":"65e47fba56d3f316","name":"","func":"if(msg.payload.includes('Unreachable')){\n    msg.payload = 'Kamera 2 tidak connect'\n} else {\n    msg.payload = 'Ping Camera 2 Connected'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1360,"wires":[["d039463d22caab23"]]},{"id":"3f9b5b83e1351d91","type":"delay","z":"65e47fba56d3f316","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":620,"y":1300,"wires":[["7c79102676bd1e97"]]},{"id":"d1254f5adb142262","type":"cronplus","z":"65e47fba56d3f316","name":"sebelumcheckssd","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0/30 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":130,"y":920,"wires":[["9fc3e15cdde2c98e"]]},{"id":"d222f7472ca982d5","type":"cronplus","z":"65e47fba56d3f316","name":"deldatalama","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":110,"y":860,"wires":[["f42e03884d1d4168"]]},{"id":"8324e255a240da81","type":"function","z":"65e47fba56d3f316","name":"","func":"const diskpercent = msg.payload.filter((item) => item.filesystem == \"/dev/sda1\")[0].capacity * 100\nif(diskpercent > 97){\n    msg.payload = `ssd hampir penuh`\n}else{\n    msg.payload = 'ssd masih aman < 97%'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1180,"wires":[["d039463d22caab23"]]},{"id":"2d86dfb7cd9c1feb","type":"delay","z":"65e47fba56d3f316","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":500,"y":1140,"wires":[["274464cc69d430eb"]]},{"id":"187e14be3b20d7ba","type":"cronplus","z":"65e47fba56d3f316","name":"deldatalamajamnya","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0/30 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":130,"y":1500,"wires":[["d7fcd4f2f7a43c32"]]},{"id":"6ea9c7caf4f30c87","type":"cronplus","z":"65e47fba56d3f316","name":"sebelumcheckssd","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0/20 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":150,"y":1560,"wires":[["86adc360b40ef4ca"]]},{"id":"86adc360b40ef4ca","type":"function","z":"65e47fba56d3f316","name":"","func":"msg.payload = `ls ${flow.get(\"path\")}/Cam01 -ltr | head -2 | grep \"^d\"`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1560,"wires":[["214042385b290c95"]]},{"id":"88a1675cf5136304","type":"function","z":"65e47fba56d3f316","name":"","func":"if(msg.payload.length > 0){\n    const diskpercent = msg.payload.filter((item) => item.mount == \"/media/cpn/TRANSCEND\")[0].capacity * 100\n    if(diskpercent > 96){\n        msg.payload = `rm -rf ${flow.get(\"path\")}/Cam01/${flow.get('tglrmj')}/${flow.get(\"rmfj\")}`\n    }\n}\n   \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1500,"wires":[["2c5ea3d67132023c"]]},{"id":"214042385b290c95","type":"exec","z":"65e47fba56d3f316","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fileTerlama","x":470,"y":1560,"wires":[["a2df63117ef98bcf"],[],[]]},{"id":"2c5ea3d67132023c","type":"exec","z":"65e47fba56d3f316","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"delOldFile","x":580,"y":1500,"wires":[[],[],[]]},{"id":"a2df63117ef98bcf","type":"function","z":"65e47fba56d3f316","name":"","func":"const arr = msg.payload.split(' ')\nconst folder = arr[arr.length - 1]\nflow.set('tglrmj', folder.trim())\nmsg.payload = `ls ${flow.get(\"path\")}/Cam01/${folder.trim()} -ltr | head -2`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1560,"wires":[["15f2b7cf50c41b76"]]},{"id":"15f2b7cf50c41b76","type":"exec","z":"65e47fba56d3f316","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fileTerlama","x":130,"y":1640,"wires":[["95ae408dca6a51e6"],[],[]]},{"id":"95ae408dca6a51e6","type":"function","z":"65e47fba56d3f316","name":"","func":"arr = msg.payload.split(' ')\nmsg.payload = arr[arr.length - 1]\nflow.set('rmfj',arr[arr.length - 1])\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1640,"wires":[[]]},{"id":"d039463d22caab23","type":"ui_toast","z":"65e47fba56d3f316","position":"top right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notifikasi","x":780,"y":1260,"wires":[]},{"id":"c6d9d31c18c1165c","type":"ui_template","z":"65e47fba56d3f316","group":"acea1d6a.d8396","name":"","order":0,"width":"9","height":"8","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1180,"y":300,"wires":[[]]},{"id":"d22f56e8b8885501","type":"ui_template","z":"65e47fba56d3f316","group":"acea1d6a.d8396","name":"","order":0,"width":"9","height":"8","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1180,"y":360,"wires":[[]]},{"id":"36be3924556f88d6","type":"ui_template","z":"65e47fba56d3f316","group":"1aa13968.48e06f","name":"Camera","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":360,"y":1140,"wires":[[]]},{"id":"45966d42e6ec83a3","type":"ui_template","z":"65e47fba56d3f316","group":"1aa13968.48e06f","name":"Camera","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":360,"y":1180,"wires":[[]]},{"id":"286a322419599ce4","type":"ui_template","z":"65e47fba56d3f316","group":"10c12a4b.7fe94e","name":"Diagnosa","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":480,"y":1240,"wires":[[]]},{"id":"c15346c4b934c055","type":"ui_template","z":"65e47fba56d3f316","group":"10c12a4b.7fe94e","name":"Diagnosa","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":480,"y":1300,"wires":[[]]},{"id":"79f8305baecab8f6","type":"ui_template","z":"65e47fba56d3f316","group":"10c12a4b.7fe94e","name":"Diagnosa","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":1360,"wires":[[]]},{"id":"dbca2b242ffec9bc","type":"ui_template","z":"65e47fba56d3f316","group":"10c12a4b.7fe94e","name":"Diagnosa","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":1400,"wires":[[]]},{"id":"bf264a7ce8d46f3c","type":"ui_template","z":"65e47fba56d3f316","group":"10c12a4b.7fe94e","name":"Diagnosa","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":1440,"wires":[[]]},{"id":"cefbf7f129cd1287","type":"moment","z":"65e47fba56d3f316","name":"","topic":"","input":"gps.dateTime","inputType":"msg","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYMMDD,HH,mmss","locale":"en-US","output":"ts","outputType":"msg","outTz":"Asia/Makassar","x":420,"y":140,"wires":[["bf2b68d3a5f828f0","104f610e9b966228"]]},{"id":"71f72e6702d90256","type":"moment","z":"65e47fba56d3f316","name":"","topic":"","input":"ts","inputType":"msg","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYMMDD,HH,mmss","locale":"en-US","output":"ts","outputType":"msg","outTz":"Asia/Makassar","x":700,"y":560,"wires":[["e9db2fc8e2cc7a03","c6dc86d1472507f2"]]},{"id":"4297c870d2f07474","type":"sqlite","z":"65e47fba56d3f316","mydb":"7e6488c246171f07","sqlquery":"fixed","sql":"create table datacamera (lat TEXT, lng TEXT, speed TEXT, date TEXT, hours TEXT, minutes TEXT)","name":"createTable","x":350,"y":980,"wires":[[]]},{"id":"30bd8b56a125018d","type":"sqlite","z":"65e47fba56d3f316","mydb":"7e6488c246171f07","sqlquery":"prepared","sql":"insert into datacamera (lat,lng,speed,date,hours,minutes) values ($lat,$lng,$speed,$date,$hours,$minutes)","name":"saveToSqlite","x":350,"y":440,"wires":[[]]},{"id":"837fd9722a266b51","type":"sqlite","z":"65e47fba56d3f316","mydb":"7e6488c246171f07","sqlquery":"prepared","sql":"insert into datacamera (lat,lng,speed,date,hours,minutes) values ($lat,$lng,$speed,$date,$hours,$minutes)","name":"saveToSqlite","x":750,"y":240,"wires":[[]]},{"id":"2bc5f4e664f5cf53","type":"key-value-read","z":"65e47fba56d3f316","store":"5fa3516b39e862f6","key":"gpsdata","name":"","x":90,"y":560,"wires":[["bd466ada1f998586"]]},{"id":"0106db2b09f692fb","type":"key-value-write","z":"65e47fba56d3f316","store":"5fa3516b39e862f6","action":"set","key":"gpsdata","keyvalue":"","name":"","x":870,"y":60,"wires":[[]]},{"id":"f42e03884d1d4168","type":"Drives","z":"65e47fba56d3f316","name":"checkssd","x":260,"y":860,"wires":[["31160a221176a1ef"]]},{"id":"738f1f054f8b055d","type":"Drives","z":"65e47fba56d3f316","name":"","x":230,"y":1360,"wires":[["c2e33f648bc70a54"]]},{"id":"274464cc69d430eb","type":"Drives","z":"65e47fba56d3f316","name":"checkssd","x":580,"y":1180,"wires":[["8324e255a240da81"]]},{"id":"d7fcd4f2f7a43c32","type":"Drives","z":"65e47fba56d3f316","name":"checkssd","x":300,"y":1500,"wires":[["88a1675cf5136304"]]},{"id":"2cfdb1da99a7a451","type":"Memory","z":"65e47fba56d3f316","name":"","scale":"Gigabyte","x":220,"y":1400,"wires":[["109a7a2a13335b9e"]]},{"id":"54a8eaaf1be6560b","type":"NetworkIntf","z":"65e47fba56d3f316","name":"","x":210,"y":1440,"wires":[["50c540cc14106a4a"]]},{"id":"38242fcd666320fb","type":"http request","z":"785fbe44960f2465","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1370,"y":120,"wires":[["a6e9b389b787ee3a"]]},{"id":"4f5d08ea21aa05ea","type":"function","z":"785fbe44960f2465","name":"function 1","func":"msg.method = \"POST\"\nmsg.url = \"http://ais-local-lumen.test/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"noerr":1,"initialize":"","finalize":"","libs":[],"x":1200,"y":120,"wires":[["38242fcd666320fb","1b0ca282780460d2","a6e9b389b787ee3a"]]},{"id":"6378b55d46c1aef6","type":"split","z":"785fbe44960f2465","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":310,"y":100,"wires":[["8c8e9127f60b2969","0eaa5eb9fdfb34ca"]]},{"id":"af64aad9d4abd176","type":"function","z":"785fbe44960f2465","name":"function 2","func":"flow.set(\"dataais\", msg.payload)\nmsg.payload = msg.payload.source\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":120,"wires":[["0c5c77bd078a96d6"]]},{"id":"2d8d926f48805679","type":"debug","z":"785fbe44960f2465","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":260,"wires":[]},{"id":"97ec2cb5bc26175e","type":"exec","z":"785fbe44960f2465","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":270,"y":260,"wires":[["2d8d926f48805679"],["2d8d926f48805679"],["2d8d926f48805679"]]},{"id":"b85479f0781cc3ab","type":"http in","z":"785fbe44960f2465","name":"","url":"/api/nampungdata","method":"post","upload":false,"swaggerDoc":"","x":120,"y":540,"wires":[["1daeef59c62d020c","78e9813f7dfa28cb"]]},{"id":"78e9813f7dfa28cb","type":"debug","z":"785fbe44960f2465","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":540,"wires":[]},{"id":"1daeef59c62d020c","type":"http response","z":"785fbe44960f2465","name":"","statusCode":"200","headers":{},"x":340,"y":620,"wires":[]},{"id":"4d89d4e253db5122","type":"ais","z":"785fbe44960f2465","name":"","x":610,"y":120,"wires":[["ea82637e7ddb85eb"]]},{"id":"0c5c77bd078a96d6","type":"ais-decoder","z":"785fbe44960f2465","name":"","x":1050,"y":120,"wires":[["4f5d08ea21aa05ea"]]},{"id":"2b34c3f405e14410","type":"cronplus","z":"785fbe44960f2465","d":true,"name":"sendata","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" app:sendata","expressionType":"cron","expression":"0 * * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":100,"y":260,"wires":[["97ec2cb5bc26175e"]]},{"id":"1b0ca282780460d2","type":"mqtt out","z":"785fbe44960f2465","name":"","topic":"aisdataloggerfak","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0cd44d4311772c09","x":1380,"y":60,"wires":[]},{"id":"8c8e9127f60b2969","type":"function","z":"785fbe44960f2465","name":"function 6","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":60,"wires":[["4d89d4e253db5122","3c0fb15b245776f9"]]},{"id":"ea82637e7ddb85eb","type":"switch","z":"785fbe44960f2465","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"regex","v":"^(0\\d{8}|1\\d{8}|2\\d{8}|3\\d{8}|4\\d{8}|5\\d{8}|6\\d{8}|7\\d{8}|8\\d{8}|9\\d{8})$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":120,"wires":[["af64aad9d4abd176"]]},{"id":"3c0fb15b245776f9","type":"ais-decoder","z":"785fbe44960f2465","name":"","x":610,"y":20,"wires":[["18d1a188201f22b8"]]},{"id":"18d1a188201f22b8","type":"switch","z":"785fbe44960f2465","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":20,"wires":[["e9654a1a66c74bed"]]},{"id":"e9654a1a66c74bed","type":"switch","z":"785fbe44960f2465","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":20,"wires":[["a61b320933e5558c","453f8aba25253dbb","571e9bc4976885b9"]]},{"id":"a61b320933e5558c","type":"function","z":"785fbe44960f2465","name":"function 11","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/aisstatic\"\nconst aisdata2 = msg.payload\nmsg.payload = aisdata2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":20,"wires":[["598bf4f035b69d29"]]},{"id":"598bf4f035b69d29","type":"http request","z":"785fbe44960f2465","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1230,"y":20,"wires":[[]]},{"id":"453f8aba25253dbb","type":"mqtt out","z":"785fbe44960f2465","name":"","topic":"aisdataloggerfak","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0cd44d4311772c09","x":1080,"y":60,"wires":[]},{"id":"d8c6605999e24b0e","type":"debug","z":"785fbe44960f2465","name":"debug 23","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":360,"wires":[]},{"id":"05abe60b55748bac","type":"exec","z":"785fbe44960f2465","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":270,"y":360,"wires":[["d8c6605999e24b0e"],["d8c6605999e24b0e"],["d8c6605999e24b0e"]]},{"id":"be5648b371b0f00b","type":"cronplus","z":"785fbe44960f2465","d":true,"name":"radar image","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" radarpng","expressionType":"cron","expression":"0 * * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":110,"y":360,"wires":[["05abe60b55748bac"]]},{"id":"95b2911726af19e9","type":"debug","z":"785fbe44960f2465","name":"debug 24","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":440,"wires":[]},{"id":"bd674c2a1bfdb483","type":"exec","z":"785fbe44960f2465","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":270,"y":440,"wires":[["95b2911726af19e9"],["95b2911726af19e9"],["95b2911726af19e9"]]},{"id":"7e69f3b7e3a2a1f1","type":"cronplus","z":"785fbe44960f2465","d":true,"name":"radar data","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" fetchradar","expressionType":"cron","expression":"0 * * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":110,"y":440,"wires":[["bd674c2a1bfdb483"]]},{"id":"86bd4ec62c668ee3","type":"switch","z":"785fbe44960f2465","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"GPRMC","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":180,"wires":[["f87ae6b72bedc83e"]]},{"id":"f87ae6b72bedc83e","type":"function","z":"785fbe44960f2465","name":"function 14","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":180,"wires":[["fab8e8ee44e4894c"]]},{"id":"0eaa5eb9fdfb34ca","type":"delay","z":"785fbe44960f2465","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"25","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":480,"y":180,"wires":[["86bd4ec62c668ee3"]]},{"id":"3d582d1a5d233547","type":"function","z":"785fbe44960f2465","name":"function 15","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/position\"\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":180,"wires":[["7df89e3a8dde9d67"]]},{"id":"7df89e3a8dde9d67","type":"http request","z":"785fbe44960f2465","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1250,"y":180,"wires":[[]]},{"id":"fab8e8ee44e4894c","type":"nmea","z":"785fbe44960f2465","name":"","property":"payload","outputProperty":"payload","x":910,"y":180,"wires":[["3d582d1a5d233547"]]},{"id":"14e608f073399ec8","type":"serial in","z":"785fbe44960f2465","name":"","serial":"b925949e0d43a33a","x":110,"y":100,"wires":[["6378b55d46c1aef6"]]},{"id":"a6e9b389b787ee3a","type":"debug","z":"785fbe44960f2465","name":"debug 25","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1400,"y":180,"wires":[]},{"id":"571e9bc4976885b9","type":"debug","z":"785fbe44960f2465","name":"debug 26","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":80,"wires":[]},{"id":"e7652ac4b97c47c6","type":"tcp in","z":"3da1de5861934e0d","name":"","server":"client","host":"192.168.5.150","port":"32459","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":210,"y":100,"wires":[["0888acabf48ea07a"]]},{"id":"92d0aba787751fc3","type":"debug","z":"3da1de5861934e0d","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":40,"wires":[]},{"id":"0888acabf48ea07a","type":"delay","z":"3da1de5861934e0d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":450,"y":100,"wires":[["530424d44e42d19c"]]},{"id":"dde4650dbd8c7b93","type":"tcp in","z":"3da1de5861934e0d","name":"","server":"client","host":"192.168.100.2","port":"32457","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":210,"y":320,"wires":[["043d9c14d5fa6942"]]},{"id":"6121bae0b0c029c3","type":"tcp in","z":"3da1de5861934e0d","name":"","server":"client","host":"192.168.100.4","port":"32458","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":210,"y":400,"wires":[["043d9c14d5fa6942","e485e1e5fb100ee7"]]},{"id":"5d4912085bc140ce","type":"debug","z":"3da1de5861934e0d","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":320,"wires":[]},{"id":"c168704aad2ca3a4","type":"debug","z":"3da1de5861934e0d","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":400,"wires":[]},{"id":"3b50bc7cf4addea5","type":"inject","z":"3da1de5861934e0d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":460,"wires":[["a0e5a3c9ef20a101"]]},{"id":"098f096108a31873","type":"function","z":"3da1de5861934e0d","name":"function 3","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/adsbdatav2\"\nconst aisdata1 = { msgSbs: flow.get(\"dataadsb\") }\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":140,"wires":[["133be0ef45f84639","184c763e25bab11b"]]},{"id":"133be0ef45f84639","type":"http request","z":"3da1de5861934e0d","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":390,"y":220,"wires":[["5f4335fc566bdf0c"]]},{"id":"5f4335fc566bdf0c","type":"debug","z":"3da1de5861934e0d","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":220,"wires":[]},{"id":"530424d44e42d19c","type":"function","z":"3da1de5861934e0d","name":"function 4","func":"flow.set(\"dataadsb\", msg.payload)\nmsg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":100,"wires":[["c414e3d8efaa0cab"]]},{"id":"043d9c14d5fa6942","type":"debug","z":"3da1de5861934e0d","name":"debug 19","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":220,"y":160,"wires":[]},{"id":"d5ccc77627c47db2","type":"tcp in","z":"3da1de5861934e0d","name":"","server":"client","host":"192.168.100.4","port":"32459","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":210,"y":40,"wires":[["80964d9f591c396e","0888acabf48ea07a","611c39d1fc59b274"]]},{"id":"80964d9f591c396e","type":"function","z":"3da1de5861934e0d","name":"function 13","func":"flow.set(\"dataadsb\", msg.payload)\nmsg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":40,"wires":[["b1f25231041b428a"]]},{"id":"184c763e25bab11b","type":"mqtt out","z":"3da1de5861934e0d","name":"","topic":"adsbdataloggerfak","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0cd44d4311772c09","x":1170,"y":100,"wires":[]},{"id":"e485e1e5fb100ee7","type":"debug","z":"3da1de5861934e0d","name":"debug 20","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":360,"wires":[]},{"id":"611c39d1fc59b274","type":"debug","z":"3da1de5861934e0d","name":"debug 21","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":140,"wires":[]},{"id":"c18dd45d04a08962","type":"switch","z":"3da1de5861934e0d","name":"","property":"payload.lat","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":40,"wires":[["92d0aba787751fc3"]]},{"id":"c414e3d8efaa0cab","type":"npm","z":"3da1de5861934e0d","name":"","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"sbs1","module_style":"function","msg_payload":"return_val","function_name":"parseSbs1Message","x":770,"y":100,"wires":[["098f096108a31873"]]},{"id":"3105dd7145e64d04","type":"npm","z":"3da1de5861934e0d","name":"","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"mode-s-decoder","module_style":"function","msg_payload":"return_val","function_name":"parse","x":470,"y":320,"wires":[["5d4912085bc140ce"]]},{"id":"8f7b73a0803854db","type":"npm","z":"3da1de5861934e0d","name":"","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"ads-b","module_style":"function","msg_payload":"return_val","function_name":"decode","x":470,"y":400,"wires":[[]]},{"id":"9aad9839094c28c1","type":"npm","z":"3da1de5861934e0d","d":true,"name":"","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"decoder1090-c","module_style":"cstr","msg_payload":"return_val","function_name":"","x":450,"y":540,"wires":[[]]},{"id":"b1f25231041b428a","type":"npm","z":"3da1de5861934e0d","name":"","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"sbs1","module_style":"function","msg_payload":"return_val","function_name":"parseSbs1Message","x":610,"y":40,"wires":[["c18dd45d04a08962"]]},{"id":"a0e5a3c9ef20a101","type":"function-npm","z":"3da1de5861934e0d","name":"","func":"const decoder = require('decoder1090-c')\nmsg.payload = decoder.decodeMsg(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["c168704aad2ca3a4"]]},{"id":"4f41ca3abb80bbe2","type":"cronplus","z":"5e5625e8d53aba69","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"C:\\laragon\\bin\\php\\php-8.2.14-Win32-vs16-x64\\php \"C:\\Users\\PC LAB PERNIKA\\Documents\\AIS-Local\\artisan\" fetchradar","expressionType":"cron","expression":"0 * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":120,"y":60,"wires":[["86f3eaf7d7c67e1b"]]},{"id":"86f3eaf7d7c67e1b","type":"exec","z":"5e5625e8d53aba69","command":"","addpay":"","append":"","useSpawn":"false","timer":"","winHide":true,"oldrc":false,"name":"","x":310,"y":60,"wires":[["b7249332c6ea28a6"],["b7249332c6ea28a6"],["b7249332c6ea28a6"]]},{"id":"b7249332c6ea28a6","type":"debug","z":"5e5625e8d53aba69","name":"debug 27","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":60,"wires":[]},{"id":"fb47a779e99901a1","type":"http in","z":"5e5625e8d53aba69","name":"","url":"/sendgeofencealarm","method":"post","upload":false,"swaggerDoc":"","x":190,"y":200,"wires":[["e885ad348bd33fb9","74054f9f696c361a","dc5463f170f6206a"]]},{"id":"e885ad348bd33fb9","type":"http response","z":"5e5625e8d53aba69","name":"","statusCode":"","headers":{},"x":490,"y":140,"wires":[]},{"id":"74054f9f696c361a","type":"change","z":"5e5625e8d53aba69","name":"","rules":[{"t":"move","p":"payload.msg","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":260,"wires":[["563e5f7a01f879c1"]]},{"id":"563e5f7a01f879c1","type":"websocket out","z":"5e5625e8d53aba69","name":"","server":"f446fd9394e31ea8","client":"","x":670,"y":200,"wires":[]},{"id":"dc5463f170f6206a","type":"debug","z":"5e5625e8d53aba69","name":"debug 28","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":360,"wires":[]}]