DOCS/flowfak&server/ksop/sungaiputing.txt
[
    {
        "id": "80f8a74d09dd9b8e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d009caf2999efae",
        "type": "http request",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1370,
        "y": 120,
        "wires": [
            [
                "8e574384b6ad5386"
            ]
        ]
    },
    {
        "id": "91f07b0b1beac785",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 1",
        "func": "msg.method = \"POST\"\nmsg.url = \"http://ais-local-lumen.test/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst latlong = flow.get(\"latlong2\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1, ...latlong };\nmsg.payload = joinedObject;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 120,
        "wires": [
            [
                "6d009caf2999efae",
                "fafb16ad640becdb",
                "d81ccbfa75ceab3e",
                "eb21a38f8a46f194"
            ]
        ]
    },
    {
        "id": "87113fc21a601501",
        "type": "split",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "598bf7a64767202f",
                "b418f5247252face"
            ]
        ]
    },
    {
        "id": "9e582d152143cdb2",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 2",
        "func": "flow.set(\"dataais\", msg.payload)\nconst latlng = {lat2: msg.payload.latitude, long2: msg.payload.longitude}\nflow.set(\"latlong2\", latlng)\nmsg.payload = msg.payload.source\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 120,
        "wires": [
            [
                "02f82ac6b123a9d7"
            ]
        ]
    },
    {
        "id": "58829394358c8f38",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "c3cbb809cc8f24bb",
        "type": "exec",
        "z": "80f8a74d09dd9b8e",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "58829394358c8f38"
            ],
            [
                "58829394358c8f38"
            ],
            [
                "58829394358c8f38"
            ]
        ]
    },
    {
        "id": "cfe7db1431b3dba4",
        "type": "http in",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "url": "/api/nampungdata",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "f4f4a356c9762ee4",
                "013a5da94217477c"
            ]
        ]
    },
    {
        "id": "013a5da94217477c",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 540,
        "wires": []
    },
    {
        "id": "f4f4a356c9762ee4",
        "type": "http response",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 340,
        "y": 620,
        "wires": []
    },
    {
        "id": "bb393fdd3886b308",
        "type": "ais",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "db85db0c414fe9cb"
            ]
        ]
    },
    {
        "id": "02f82ac6b123a9d7",
        "type": "ais-decoder",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "91f07b0b1beac785",
                "11913f59a4f89c5a"
            ]
        ]
    },
    {
        "id": "589e1504f4101961",
        "type": "mqtt out",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "topic": "aisdataloggerksop",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c0587586e0feab65",
        "x": 1690,
        "y": 60,
        "wires": []
    },
    {
        "id": "598bf7a64767202f",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 6",
        "func": "var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 60,
        "wires": [
            [
                "bb393fdd3886b308",
                "8ca7be96b9aebb4f"
            ]
        ]
    },
    {
        "id": "db85db0c414fe9cb",
        "type": "switch",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "property": "payload.mmsi",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^(0\\d{8}|1\\d{8}|2\\d{8}|3\\d{8}|4\\d{8}|5\\d{8}|6\\d{8}|7\\d{8}|8\\d{8}|9\\d{8})$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 120,
        "wires": [
            [
                "9e582d152143cdb2"
            ]
        ]
    },
    {
        "id": "8ca7be96b9aebb4f",
        "type": "ais-decoder",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "x": 610,
        "y": 20,
        "wires": [
            [
                "03f0db8f60e81b36"
            ]
        ]
    },
    {
        "id": "03f0db8f60e81b36",
        "type": "switch",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 20,
        "wires": [
            [
                "a5d56ae4d1ade438"
            ]
        ]
    },
    {
        "id": "a5d56ae4d1ade438",
        "type": "switch",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 20,
        "wires": [
            [
                "02b43f7af9a2a960",
                "22f5244112f7294d",
                "1b7f68a8eb8e5080",
                "c49c3c8eef6b4887"
            ]
        ]
    },
    {
        "id": "02b43f7af9a2a960",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 11",
        "func": "msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/aisstatic\"\nconst aisdata2 = msg.payload\nmsg.payload = aisdata2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 20,
        "wires": [
            [
                "92e91a9d426856c0"
            ]
        ]
    },
    {
        "id": "92e91a9d426856c0",
        "type": "http request",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1230,
        "y": 20,
        "wires": [
            [
                "8e574384b6ad5386"
            ]
        ]
    },
    {
        "id": "8103d42455c2730a",
        "type": "mqtt out",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "topic": "aisdataloggerksop",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c0587586e0feab65",
        "x": 1270,
        "y": 60,
        "wires": []
    },
    {
        "id": "8193dc6a09766bf4",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 360,
        "wires": []
    },
    {
        "id": "10d8acc802b0e40a",
        "type": "exec",
        "z": "80f8a74d09dd9b8e",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "8193dc6a09766bf4"
            ],
            [
                "8193dc6a09766bf4"
            ],
            [
                "8193dc6a09766bf4"
            ]
        ]
    },
    {
        "id": "6cbe7239818d91eb",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 440,
        "wires": []
    },
    {
        "id": "011fbe527e649aab",
        "type": "exec",
        "z": "80f8a74d09dd9b8e",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "6cbe7239818d91eb"
            ],
            [
                "6cbe7239818d91eb"
            ],
            [
                "6cbe7239818d91eb"
            ]
        ]
    },
    {
        "id": "10c9f171092ecb97",
        "type": "switch",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "GPRMC",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "2716dfc702639cb5"
            ]
        ]
    },
    {
        "id": "2716dfc702639cb5",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 14",
        "func": "var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 180,
        "wires": [
            [
                "b70bafccf996f9a1"
            ]
        ]
    },
    {
        "id": "b418f5247252face",
        "type": "delay",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "10c9f171092ecb97"
            ]
        ]
    },
    {
        "id": "336a6319b86be83d",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 15",
        "func": "msg.method = \"POST\"\nmsg.url = \"http://ais-local-lumen.test/api/position\"\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 180,
        "wires": [
            [
                "b4d341711f45a650"
            ]
        ]
    },
    {
        "id": "b4d341711f45a650",
        "type": "http request",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1250,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b70bafccf996f9a1",
        "type": "nmea",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "property": "payload",
        "outputProperty": "payload",
        "x": 910,
        "y": 180,
        "wires": [
            [
                "336a6319b86be83d"
            ]
        ]
    },
    {
        "id": "fafb16ad640becdb",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 180,
        "wires": []
    },
    {
        "id": "22f5244112f7294d",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 80,
        "wires": []
    },
    {
        "id": "d772b56317b3bac6",
        "type": "serial in",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "serial": "0960ae41486c6ef0",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "87113fc21a601501",
                "83b07711bfa31668"
            ]
        ]
    },
    {
        "id": "621512a36bdfb88d",
        "type": "cronplus",
        "z": "80f8a74d09dd9b8e",
        "d": true,
        "name": "sendata",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" app:sendata",
                "expressionType": "cron",
                "expression": "0 * * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 100,
        "y": 260,
        "wires": [
            [
                "c3cbb809cc8f24bb"
            ]
        ]
    },
    {
        "id": "10d976203d571979",
        "type": "cronplus",
        "z": "80f8a74d09dd9b8e",
        "d": true,
        "name": "radar image",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" radarpng",
                "expressionType": "cron",
                "expression": "0 * * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 110,
        "y": 360,
        "wires": [
            [
                "10d8acc802b0e40a"
            ]
        ]
    },
    {
        "id": "51e2b2b920a3d855",
        "type": "cronplus",
        "z": "80f8a74d09dd9b8e",
        "d": true,
        "name": "radar data",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" fetchradar",
                "expressionType": "cron",
                "expression": "0 * * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 110,
        "y": 440,
        "wires": [
            [
                "011fbe527e649aab"
            ]
        ]
    },
    {
        "id": "8e574384b6ad5386",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 120,
        "wires": []
    },
    {
        "id": "d81ccbfa75ceab3e",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.long2",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 220,
        "wires": []
    },
    {
        "id": "eb21a38f8a46f194",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 16",
        "func": "const aisdata1 = {idDatalogger: 2}\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 80,
        "wires": [
            [
                "589e1504f4101961"
            ]
        ]
    },
    {
        "id": "1b7f68a8eb8e5080",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "c49c3c8eef6b4887",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 17",
        "func": "const aisdata1 = {idDatalogger: 2}\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 60,
        "wires": [
            [
                "8103d42455c2730a"
            ]
        ]
    },
    {
        "id": "11913f59a4f89c5a",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.longitude",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 280,
        "wires": []
    },
    {
        "id": "83b07711bfa31668",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 160,
        "wires": []
    },
    {
        "id": "c0587586e0feab65",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqttksop.cakrawala.id",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0960ae41486c6ef0",
        "type": "serial-port",
        "name": "",
        "serialport": "COM4",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]