DOCS/flowfak&server/newbadak
[{"id":"80f8a74d09dd9b8e","type":"tab","label":"AIS","disabled":false,"info":"","env":[]},{"id":"b7365955a007c1cd","type":"tab","label":"crontab","disabled":false,"info":"","env":[]},{"id":"4f90a3ebd122d18b","type":"subflow","name":"GPRMC Handler ","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b4eafedf48ad9063"}]}],"out":[],"env":[],"color":"#DDAA99","status":{"x":560,"y":120,"wires":[]}},{"id":"9f8de59c262b7de1","type":"subflow","name":"AIVDM Decoder","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"44c59405dbf60c58"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"4704a8d760c26ca4","port":1},{"id":"0204f1adc622e486","port":1}]}],"env":[],"color":"#DDAA99","status":{"x":940,"y":220,"wires":[{"id":"4704a8d760c26ca4","port":1}]}},{"id":"0e6ef4deee1bd260","type":"subflow","name":"AIVDM Decoder (2)","info":"","category":"","in":[{"x":40,"y":60,"wires":[]}],"out":[{"x":940,"y":120,"wires":[{"id":"b01babb848ae24c6","port":1},{"id":"6449a6dab87d98b4","port":1}]}],"env":[],"color":"#DDAA99","status":{"x":940,"y":220,"wires":[{"id":"b01babb848ae24c6","port":1}]}},{"id":"989d741af49f8810","type":"subflow","name":"AIVDM Decoder (2) (2)","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"61350cdf9ff5e2c0"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"e54a29f0e770562c","port":1},{"id":"485c22cfd72a2725","port":1}]}],"env":[],"color":"#DDAA99","status":{"x":940,"y":220,"wires":[{"id":"e54a29f0e770562c","port":1}]}},{"id":"f614c112864cc4d3","type":"websocket-listener","path":"/ws/sensordata","wholemsg":"false"},{"id":"92bd4385102b2542","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ed5625119e8ad936","type":"websocket-listener","d":true,"path":"/ws/sensordata","wholemsg":"false"},{"id":"c0587586e0feab65","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2bffb4e783a0c2ed","type":"MySQLdatabase","d":true,"name":"bst_op","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"32a6da0f907a8237","type":"MySQLdatabase","d":true,"name":"bst_op_decoder","host":"127.0.0.1","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"1a43de3ee452c915","type":"MySQLdatabase","d":true,"name":"bst_op_decoder_insert","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"c33dbc8e118808df","type":"mqtt-broker","name":"","broker":"mqttksop.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"015be81fc104dab8","type":"websocket-listener","path":"/ws/sensordata","wholemsg":"false"},{"id":"92604253a49f1377","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d5180c640b2f601b","type":"MySQLdatabase","d":true,"name":"bst_op","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"f3fd6adc2e0a5c6e","type":"MySQLdatabase","d":true,"name":"bst_op_decoder","host":"127.0.0.1","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"d6c6df3dcae9f7a8","type":"MySQLdatabase","d":true,"name":"bst_op_decoder_insert","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"af1d04e75c86bf0e","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0d887e44b8969aa2","type":"websocket-listener","d":true,"path":"/ws/sensordata","wholemsg":"false"},{"id":"0171ea66892e68e0","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e376999acc52cf64","type":"MySQLdatabase","d":true,"name":"bst_op","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"697a46bb2a244936","type":"MySQLdatabase","d":true,"name":"bst_op_decoder","host":"127.0.0.1","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"96c384ab1ec09df1","type":"MySQLdatabase","d":true,"name":"bst_op_decoder_insert","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"9ddfa1084fac3bbc","type":"MySQLdatabase","d":true,"name":"bst_op","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"a964e9c6f46a8548","type":"MySQLdatabase","d":true,"name":"bst_op_decoder","host":"127.0.0.1","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"eb3656c5de3390d4","type":"MySQLdatabase","d":true,"name":"bst_op_decoder_insert","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"d22522812311c6f5","type":"websocket-listener","path":"/ws/sensordatas","wholemsg":"false"},{"id":"f9dc875b90431d46","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7a514ac7e4bcf6eb","type":"serial-port","serialport":"COM1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"0960ae41486c6ef0","type":"serial-port","name":"","serialport":"COM3","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"11e860719980e3ac","type":"serial-port","serialport":"COM1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"bb03f8d1f5b4d598","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"abcb1e445f1f66f2","type":"serial-port","serialport":"COM1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5d4e7bb85d491424","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5350d61465f6e996","type":"serial-port","serialport":"COM6","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"af91a2d2538541f9","type":"serial-port","serialport":"COM7","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"eaaf64cadd5e6a71","type":"serial-port","serialport":"COM1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"37ed8ef8f31fc2e8","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2c2e32dcc441c093","type":"serial-port","serialport":"COM1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a50102a20f0f315e","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"dd018d89c98db1d1","type":"websocket-listener","path":"/ws/realtimeais","wholemsg":"false"},{"id":"c306af48406793df","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"coastal","tz":"","charset":"UTF8"},{"id":"359d1491f51c5934","type":"websocket-listener","path":"/ws/exactrealtimeais","wholemsg":"false"},{"id":"15ac1be9d7b1b4e1","type":"function","z":"4f90a3ebd122d18b","name":"","func":"function convertLat(latitude,north_south){\n    var splitLat=latitude.split(\".\"),\n    secLat=splitLat[0].substring(splitLat[0].length - 2, splitLat[0].length)+'.'+splitLat[1],\n    degLat=splitLat[0].substring(0,splitLat[0].length - 2),\n    minLat=parseFloat(secLat)/60;\n    if(north_south=='S'){\n    \tnorth_south=-1;\n    }else{\n    \tnorth_south=1;\n    }\n    return String((parseFloat(degLat)+minLat)*north_south);\n}\n\nfunction convertLng(longitude,east_west){\n    var splitLng=longitude.split(\".\"),\n    secLng=splitLng[0].substring(splitLng[0].length - 2, splitLng[0].length)+'.'+splitLng[1],\n    degLng=splitLng[0].substring(0,splitLng[0].length - 2),\n    minLng=parseFloat(secLng)/60;\n    if(east_west=='W'){\n    \teast_west=-1;\n    }else{\n    \teast_west=1;\n    }\n    return String((parseFloat(degLng)+minLng)*east_west);\n}\n\nfunction fixDateTime(date_stamp,time_stamp){\n    var d = new Date(), date = date_stamp.substring(0,2), month = date_stamp.substring(2,4);\n    var fixDateStamp=String(d.getUTCFullYear())+'-'+month+'-'+date;\n    var fixTimeStamp=time_stamp.substring(0,2)+':'+time_stamp.substring(2,4)+':'+time_stamp.substring(4,6);\n    return String(fixDateStamp+' '+fixTimeStamp);\n}\n\n// var msgText=String(msg.payload);\nvar msgText=String(msg.gprmc);\nvar m=msgText.split(\",\");\nvar time_stamp=String(m[1]),validity=m[2],latitude=m[3],north_south=m[4],longitude=m[5],east_west=m[6],sog=m[7],cog=m[8],\ndate_stamp=String(m[9]),variation=m[10],fillbits=m[11];\n\nif(String(sog)!==''){\n    sog=String(parseFloat(sog));\n}else{\n    sog=\"0\";\n}\nif(String(cog)!==''){\n    cog=String(parseFloat(cog));\n}else{\n    cog=\"0\";\n}\nvar heading=cog;\nvar lat=convertLat(latitude,north_south);\nvar lng=convertLng(longitude,east_west);\nvar fixDT=fixDateTime(date_stamp,time_stamp);\n\nmsg.topic=\"INSERT INTO bst_mbs VALUES(0,\"+global.get('stationId')+\",\"+lat+\",\"+lng+\",\"+heading+\",\"+sog+\",\"+cog+\",'\"+fixDT+\"','\"+fixDT+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":40,"wires":[[]]},{"id":"b4eafedf48ad9063","type":"function","z":"4f90a3ebd122d18b","name":"","func":"var msgText=String(msg.payload);\nmsg.gprmc=msgText;\nmsg.topic=\"INSERT INTO gprmc_msg VALUES (0,'\"+msgText+\"',\"+global.get('stationId')+\",1,UTC_TIMESTAMP())\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":40,"wires":[[]]},{"id":"1c5099576fbb9689","type":"debug","z":"4f90a3ebd122d18b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"4af9b5aa3828a88b","type":"debug","z":"4f90a3ebd122d18b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":140,"wires":[]},{"id":"1e414a35ddb3cecc","type":"debug","z":"4f90a3ebd122d18b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":140,"y":220,"wires":[]},{"id":"d2376b60045d1aac","type":"function","z":"9f8de59c262b7de1","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nif(msg.parsed.ship_id===0){\n    msg.parsed.ship_id=msg.payload.insertId;\n}\nvar parsed=msg.parsed;\n\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar dynamic=parsed.dynamic;\nvar destination=parsed.destination;\nvar draught=parsed.draught;\nvar dynamicSize = Object.size(dynamic);\nvar destinationSize = Object.size(destination);\nvar draughtSize = Object.size(draught);\n\nmsg.parsed.size={};\nmsg.parsed.size.dynamic=dynamicSize;\nmsg.parsed.size.destination=destinationSize;\nmsg.parsed.size.draught=draughtSize;\n\nvar d = new Date();\nvar suffix = String(d.getUTCFullYear())+String(addZero(d.getUTCMonth()+1));\nvar insertDynamic=\"INSERT INTO ais_dynamic_\"+suffix+\" set ship_id=\"+parsed.ship_id+\",\";\nvar updateDynamic=\"INSERT INTO ais_dynamic set ship_id=\"+parsed.ship_id+\",\";\nif(parsed.exists){\n    updateDynamic=\"UPDATE ais_dynamic set \";\n}\ni=1;\nObject.keys(dynamic).forEach(key => {\n\t// console.log(key, static[key]);\n    if(i>1){\n    \tinsertDynamic+=\",\";\n    \tupdateDynamic+=\",\";\n    }\n    var column = String(key);\n    var value = String(dynamic[key]);\n    if(value===\"undefined\"){\n        value=\"0\";\n    }\n    if(column===\"raim\"){\n        if(value===\"false\"){\n            value=\"0\";\n        }else{\n            value=\"1\";\n        }\n    }\n    if(column===\"latitude\" || column===\"longitude\"){\n        if(value!==\"0\" && value!==\"undefined\"){\n            insertDynamic+=column+\"='\"+value+\"'\";\n            updateDynamic+=column+\"='\"+value+\"'\";\n        }\n    }else{\n        insertDynamic+=column+\"='\"+value+\"'\";\n        updateDynamic+=column+\"='\"+value+\"'\";\n    }\n    i++;\n});\ninsertDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\nif(!parsed.exists){\n    updateDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}else{\n    updateDynamic+=\",updated_at=UTC_TIMESTAMP() WHERE ship_id=\"+parsed.ship_id;\n}\n\nmsg.insertDynamic=insertDynamic.replace(\",,,\", \",\");\nmsg.updateDynamic=updateDynamic.replace(\",,,\", \",\");\n\nvar insertDestination=0;\ni=1;\nif(destination.destination!==undefined){\n    var tempEta = destination.eta.toISOString().slice(0, 19).replace('T', ' ');\n    destination.eta = tempEta;\n    insertDestination=\"INSERT INTO ais_destination set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(destination).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDestination+=\",\";\n        }\n        var column = String(key);\n        var value = String(destination[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDestination+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDestination+=\",updated_at='\"+parsed.time_stamp+\"'\";\n    insertDestination=insertDestination.replace(\"\\\\\", \"\\\\\\\\\");\n}\nmsg.insertDestination=insertDestination;\n\nvar insertDraught=0;\ni=1;\nif(draught.draught!==undefined){\n    insertDraught=\"INSERT INTO ais_draught set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(draught).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDraught+=\",\";\n        }\n        var column = String(key);\n        var value = String(draught[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDraught+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDraught+=\",updated_at='\"+parsed.time_stamp+\"'\";\n}\nmsg.insertDraught=insertDraught;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":180,"wires":[["04ae55b28dfff270"]]},{"id":"04ae55b28dfff270","type":"change","z":"9f8de59c262b7de1","name":"insertDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[[]]},{"id":"4506c6dcf9751299","type":"change","z":"9f8de59c262b7de1","name":"updateDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"updateDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[[]]},{"id":"06333236853bfae1","type":"change","z":"9f8de59c262b7de1","name":"insertDestination","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDestination","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[[]]},{"id":"3c9bf3f04d2340c0","type":"change","z":"9f8de59c262b7de1","name":"insertDraught","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDraught","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[[]]},{"id":"a3129761479bebbd","type":"switch","z":"9f8de59c262b7de1","name":"checkDestination","property":"insertDestination","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":300,"wires":[["06333236853bfae1"],["4704a8d760c26ca4"]]},{"id":"4704a8d760c26ca4","type":"switch","z":"9f8de59c262b7de1","name":"checkDraught","property":"insertDraught","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":380,"wires":[["3c9bf3f04d2340c0"],[]]},{"id":"791ca52868337347","type":"function","z":"9f8de59c262b7de1","name":"","func":"var decoded=msg.payload;\nmsg.decoded=decoded;\nif(decoded!==undefined){\n    msg.sqlStatic=\"SELECT * from ais_static where mmsi='\"+msg.payload.senderMmsi+\"'\";\n    // msg.sqlDynamic=\"SELECT count() as total from ais_dynamic where mmsi='\"+msg.payload.senderMmsi+\"'\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":60,"wires":[["d306d82cefa9b14f"]]},{"id":"0204f1adc622e486","type":"switch","z":"9f8de59c262b7de1","name":"If !Undefined","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":60,"wires":[["791ca52868337347"],[]]},{"id":"d306d82cefa9b14f","type":"change","z":"9f8de59c262b7de1","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sqlStatic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":60,"wires":[[]]},{"id":"6d5f2d25d35ddda7","type":"function","z":"9f8de59c262b7de1","name":"","func":"// if (msg.payload && !msg.payload.length){\n//     msg.result=\"No Data\";\n// }else{\n//     msg.result=msg.payload.length;\n// }\n// return msg;\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar isDataExists=true;\nvar ship_id=0;\nvar aisData={static:{},dynamic:{},destination:{},draught:{}};\n\nif (msg.payload && !msg.payload.length){\n    isDataExists=false;\n}\n\nvar d = new Date();\nvar time_stamp = String(d.getUTCFullYear())+'-'+String(addZero(d.getUTCMonth()+1))+'-'+String(addZero(d.getUTCDate()))+' ';\ntime_stamp += String(addZero(d.getUTCHours()))+':'+String(addZero(d.getUTCMinutes()))+':'+String(addZero(d.getUTCSeconds()));\n\n//Init Ship ID\nif(!isDataExists){\n    ship_id=0;\n}else{\n    ship_id=msg.payload[0].id;\n}\naisData.ship_id=ship_id;\n//Static Data\naisData.static.mmsi=msg.decoded.senderMmsi,\naisData.static.callsign=msg.decoded.callsign,\naisData.static.vessel_name=msg.decoded.name,\naisData.static.imo=msg.decoded.shipId,\naisData.static.ship_type=msg.decoded.shipType,\naisData.static.dimension_a=msg.decoded.dimensionToBow,\naisData.static.dimension_b=msg.decoded.dimensionToStern,\naisData.static.dimension_c=msg.decoded.dimensionToPort,\naisData.static.dimension_d=msg.decoded.dimensionToStarboard,\naisData.static.fix_type=msg.decoded.fix_type,\n//Dynamic Data\naisData.dynamic.station_id=global.get('stationId'),\naisData.dynamic.sog=msg.decoded.speedOverGround,\naisData.dynamic.cog=msg.decoded.courseOverGround,\naisData.dynamic.heading=msg.decoded.trueHeading,\naisData.dynamic.turning_direction=msg.decoded.turningDirection,\naisData.dynamic.rot=msg.decoded.turningRate,\naisData.dynamic.bearing=0,\naisData.dynamic.nav_status=msg.decoded.navigationStatus,\naisData.dynamic.latitude=msg.decoded.latitude,\naisData.dynamic.longitude=msg.decoded.longitude,\naisData.dynamic.raim=msg.decoded.raim,\naisData.dynamic.msg_type=msg.decoded.messageType,\naisData.dynamic.repeat_indicator=msg.decoded.repeatIndicator,\naisData.dynamic.position_accuracy=msg.decoded.positionAccuracy,\n//Destination\naisData.destination.destination=msg.decoded.destination,\naisData.destination.eta=msg.decoded.eta,\n//Draught\naisData.draught.draught=msg.decoded.draught;\n//Timestamp\naisData.time_stamp=time_stamp;\n//isExists?\naisData.exists=isDataExists;\n\nmsg.parsed=aisData;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["275d49e4b399794b"]]},{"id":"275d49e4b399794b","type":"function","z":"9f8de59c262b7de1","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nvar parsed=msg.parsed;\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\nvar astatic=parsed.static;\nvar staticSize = Object.size(astatic);\n\nvar insertStatic;\nvar isUpdate=false;\nif(!parsed.exists){\n\tinsertStatic=\"INSERT INTO ais_static set \";\n}else{\n    insertStatic=\"UPDATE ais_static set \";\n    isUpdate=true;\n}\nvar i=1;\nObject.keys(astatic).forEach(key => {\n    // console.log(key, astatic[key]);\n    if(i>1){\n        insertStatic+=\",\";\n    }\n    var column = String(key);\n    var value = String(astatic[key]);\n    if(value===\"undefined\"){\n        value=0;\n        if(column==\"vessel_name\"){\n            value=\"\";\n        }else if(column==\"imo\"){\n            value=\"\";\n        }else if(column==\"callsign\"){\n            value=\"\";\n        }\n    }\n    insertStatic+=column+\"='\"+value+\"'\";\n    i++;\n});\n// console.log(insertStatic);\nif(isUpdate){\n    insertStatic+=\",updated_at=UTC_TIMESTAMP() WHERE id=\"+parsed.ship_id;\n}else{\n    insertStatic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}\nmsg.topic=insertStatic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[[]]},{"id":"44c59405dbf60c58","type":"ais-decoder","z":"9f8de59c262b7de1","name":"","x":130,"y":60,"wires":[["0ee1358dd073c5c2"]]},{"id":"0ee1358dd073c5c2","type":"function","z":"9f8de59c262b7de1","name":"","func":"if(msg.payload===undefined){\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":60,"wires":[["0204f1adc622e486"]]},{"id":"27eb0e75e872bec7","type":"function","z":"0e6ef4deee1bd260","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nif(msg.parsed.ship_id===0){\n    msg.parsed.ship_id=msg.payload.insertId;\n}\nvar parsed=msg.parsed;\n\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar dynamic=parsed.dynamic;\nvar destination=parsed.destination;\nvar draught=parsed.draught;\nvar dynamicSize = Object.size(dynamic);\nvar destinationSize = Object.size(destination);\nvar draughtSize = Object.size(draught);\n\nmsg.parsed.size={};\nmsg.parsed.size.dynamic=dynamicSize;\nmsg.parsed.size.destination=destinationSize;\nmsg.parsed.size.draught=draughtSize;\n\nvar d = new Date();\nvar suffix = String(d.getUTCFullYear())+String(addZero(d.getUTCMonth()+1));\nvar insertDynamic=\"INSERT INTO ais_dynamic_\"+suffix+\" set ship_id=\"+parsed.ship_id+\",\";\nvar updateDynamic=\"INSERT INTO ais_dynamic set ship_id=\"+parsed.ship_id+\",\";\nif(parsed.exists){\n    updateDynamic=\"UPDATE ais_dynamic set \";\n}\ni=1;\nObject.keys(dynamic).forEach(key => {\n\t// console.log(key, static[key]);\n    if(i>1){\n    \tinsertDynamic+=\",\";\n    \tupdateDynamic+=\",\";\n    }\n    var column = String(key);\n    var value = String(dynamic[key]);\n    if(value===\"undefined\"){\n        value=\"0\";\n    }\n    if(column===\"raim\"){\n        if(value===\"false\"){\n            value=\"0\";\n        }else{\n            value=\"1\";\n        }\n    }\n    if(column===\"latitude\" || column===\"longitude\"){\n        if(value!==\"0\" && value!==\"undefined\"){\n            insertDynamic+=column+\"='\"+value+\"'\";\n            updateDynamic+=column+\"='\"+value+\"'\";\n        }\n    }else{\n        insertDynamic+=column+\"='\"+value+\"'\";\n        updateDynamic+=column+\"='\"+value+\"'\";\n    }\n    i++;\n});\ninsertDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\nif(!parsed.exists){\n    updateDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}else{\n    updateDynamic+=\",updated_at=UTC_TIMESTAMP() WHERE ship_id=\"+parsed.ship_id;\n}\n\nmsg.insertDynamic=insertDynamic.replace(\",,,\", \",\");\nmsg.updateDynamic=updateDynamic.replace(\",,,\", \",\");\n\nvar insertDestination=0;\ni=1;\nif(destination.destination!==undefined){\n    var tempEta = destination.eta.toISOString().slice(0, 19).replace('T', ' ');\n    destination.eta = tempEta;\n    insertDestination=\"INSERT INTO ais_destination set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(destination).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDestination+=\",\";\n        }\n        var column = String(key);\n        var value = String(destination[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDestination+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDestination+=\",updated_at='\"+parsed.time_stamp+\"'\";\n    insertDestination=insertDestination.replace(\"\\\\\", \"\\\\\\\\\");\n}\nmsg.insertDestination=insertDestination;\n\nvar insertDraught=0;\ni=1;\nif(draught.draught!==undefined){\n    insertDraught=\"INSERT INTO ais_draught set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(draught).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDraught+=\",\";\n        }\n        var column = String(key);\n        var value = String(draught[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDraught+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDraught+=\",updated_at='\"+parsed.time_stamp+\"'\";\n}\nmsg.insertDraught=insertDraught;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":180,"wires":[["24c1f319968574ae"]]},{"id":"24c1f319968574ae","type":"change","z":"0e6ef4deee1bd260","name":"insertDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[[]]},{"id":"a7d053aea04265b3","type":"change","z":"0e6ef4deee1bd260","name":"updateDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"updateDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[[]]},{"id":"15ac5ba62ace552b","type":"change","z":"0e6ef4deee1bd260","name":"insertDestination","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDestination","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[[]]},{"id":"ae42dc8e252c15bc","type":"change","z":"0e6ef4deee1bd260","name":"insertDraught","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDraught","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[[]]},{"id":"51b8c0a9ad1b9559","type":"switch","z":"0e6ef4deee1bd260","name":"checkDestination","property":"insertDestination","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":300,"wires":[["15ac5ba62ace552b"],["b01babb848ae24c6"]]},{"id":"b01babb848ae24c6","type":"switch","z":"0e6ef4deee1bd260","name":"checkDraught","property":"insertDraught","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":380,"wires":[["ae42dc8e252c15bc"],[]]},{"id":"2003ed86b68c76fd","type":"function","z":"0e6ef4deee1bd260","name":"","func":"var decoded=msg.payload;\nmsg.decoded=decoded;\nif(decoded!==undefined){\n    msg.sqlStatic=\"SELECT * from ais_static where mmsi='\"+msg.payload.senderMmsi+\"'\";\n    // msg.sqlDynamic=\"SELECT count() as total from ais_dynamic where mmsi='\"+msg.payload.senderMmsi+\"'\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":60,"wires":[["2a4a224363d19b10"]]},{"id":"6449a6dab87d98b4","type":"switch","z":"0e6ef4deee1bd260","name":"If !Undefined","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":60,"wires":[["2003ed86b68c76fd"],[]]},{"id":"2a4a224363d19b10","type":"change","z":"0e6ef4deee1bd260","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sqlStatic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":60,"wires":[[]]},{"id":"feb35ce44d81ac9e","type":"function","z":"0e6ef4deee1bd260","name":"","func":"// if (msg.payload && !msg.payload.length){\n//     msg.result=\"No Data\";\n// }else{\n//     msg.result=msg.payload.length;\n// }\n// return msg;\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar isDataExists=true;\nvar ship_id=0;\nvar aisData={static:{},dynamic:{},destination:{},draught:{}};\n\nif (msg.payload && !msg.payload.length){\n    isDataExists=false;\n}\n\nvar d = new Date();\nvar time_stamp = String(d.getUTCFullYear())+'-'+String(addZero(d.getUTCMonth()+1))+'-'+String(addZero(d.getUTCDate()))+' ';\ntime_stamp += String(addZero(d.getUTCHours()))+':'+String(addZero(d.getUTCMinutes()))+':'+String(addZero(d.getUTCSeconds()));\n\n//Init Ship ID\nif(!isDataExists){\n    ship_id=0;\n}else{\n    ship_id=msg.payload[0].id;\n}\naisData.ship_id=ship_id;\n//Static Data\naisData.static.mmsi=msg.decoded.senderMmsi,\naisData.static.callsign=msg.decoded.callsign,\naisData.static.vessel_name=msg.decoded.name,\naisData.static.imo=msg.decoded.shipId,\naisData.static.ship_type=msg.decoded.shipType,\naisData.static.dimension_a=msg.decoded.dimensionToBow,\naisData.static.dimension_b=msg.decoded.dimensionToStern,\naisData.static.dimension_c=msg.decoded.dimensionToPort,\naisData.static.dimension_d=msg.decoded.dimensionToStarboard,\naisData.static.fix_type=msg.decoded.fix_type,\n//Dynamic Data\naisData.dynamic.station_id=global.get('stationId'),\naisData.dynamic.sog=msg.decoded.speedOverGround,\naisData.dynamic.cog=msg.decoded.courseOverGround,\naisData.dynamic.heading=msg.decoded.trueHeading,\naisData.dynamic.turning_direction=msg.decoded.turningDirection,\naisData.dynamic.rot=msg.decoded.turningRate,\naisData.dynamic.bearing=0,\naisData.dynamic.nav_status=msg.decoded.navigationStatus,\naisData.dynamic.latitude=msg.decoded.latitude,\naisData.dynamic.longitude=msg.decoded.longitude,\naisData.dynamic.raim=msg.decoded.raim,\naisData.dynamic.msg_type=msg.decoded.messageType,\naisData.dynamic.repeat_indicator=msg.decoded.repeatIndicator,\naisData.dynamic.position_accuracy=msg.decoded.positionAccuracy,\n//Destination\naisData.destination.destination=msg.decoded.destination,\naisData.destination.eta=msg.decoded.eta,\n//Draught\naisData.draught.draught=msg.decoded.draught;\n//Timestamp\naisData.time_stamp=time_stamp;\n//isExists?\naisData.exists=isDataExists;\n\nmsg.parsed=aisData;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["4c6cb34eab7827ee"]]},{"id":"4c6cb34eab7827ee","type":"function","z":"0e6ef4deee1bd260","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nvar parsed=msg.parsed;\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\nvar astatic=parsed.static;\nvar staticSize = Object.size(astatic);\n\nvar insertStatic;\nvar isUpdate=false;\nif(!parsed.exists){\n\tinsertStatic=\"INSERT INTO ais_static set \";\n}else{\n    insertStatic=\"UPDATE ais_static set \";\n    isUpdate=true;\n}\nvar i=1;\nObject.keys(astatic).forEach(key => {\n    // console.log(key, astatic[key]);\n    if(i>1){\n        insertStatic+=\",\";\n    }\n    var column = String(key);\n    var value = String(astatic[key]);\n    if(value===\"undefined\"){\n        value=0;\n        if(column==\"vessel_name\"){\n            value=\"\";\n        }else if(column==\"imo\"){\n            value=\"\";\n        }else if(column==\"callsign\"){\n            value=\"\";\n        }\n    }\n    insertStatic+=column+\"='\"+value+\"'\";\n    i++;\n});\n// console.log(insertStatic);\nif(isUpdate){\n    insertStatic+=\",updated_at=UTC_TIMESTAMP() WHERE id=\"+parsed.ship_id;\n}else{\n    insertStatic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}\nmsg.topic=insertStatic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[[]]},{"id":"5411a78f77b00555","type":"function","z":"0e6ef4deee1bd260","name":"","func":"if(msg.payload===undefined){\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":60,"wires":[["6449a6dab87d98b4"]]},{"id":"c96d5130e092c8ac","type":"function","z":"989d741af49f8810","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nif(msg.parsed.ship_id===0){\n    msg.parsed.ship_id=msg.payload.insertId;\n}\nvar parsed=msg.parsed;\n\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar dynamic=parsed.dynamic;\nvar destination=parsed.destination;\nvar draught=parsed.draught;\nvar dynamicSize = Object.size(dynamic);\nvar destinationSize = Object.size(destination);\nvar draughtSize = Object.size(draught);\n\nmsg.parsed.size={};\nmsg.parsed.size.dynamic=dynamicSize;\nmsg.parsed.size.destination=destinationSize;\nmsg.parsed.size.draught=draughtSize;\n\nvar d = new Date();\nvar suffix = String(d.getUTCFullYear())+String(addZero(d.getUTCMonth()+1));\nvar insertDynamic=\"INSERT INTO ais_dynamic_\"+suffix+\" set ship_id=\"+parsed.ship_id+\",\";\nvar updateDynamic=\"INSERT INTO ais_dynamic set ship_id=\"+parsed.ship_id+\",\";\nif(parsed.exists){\n    updateDynamic=\"UPDATE ais_dynamic set \";\n}\ni=1;\nObject.keys(dynamic).forEach(key => {\n\t// console.log(key, static[key]);\n    if(i>1){\n    \tinsertDynamic+=\",\";\n    \tupdateDynamic+=\",\";\n    }\n    var column = String(key);\n    var value = String(dynamic[key]);\n    if(value===\"undefined\"){\n        value=\"0\";\n    }\n    if(column===\"raim\"){\n        if(value===\"false\"){\n            value=\"0\";\n        }else{\n            value=\"1\";\n        }\n    }\n    if(column===\"latitude\" || column===\"longitude\"){\n        if(value!==\"0\" && value!==\"undefined\"){\n            insertDynamic+=column+\"='\"+value+\"'\";\n            updateDynamic+=column+\"='\"+value+\"'\";\n        }\n    }else{\n        insertDynamic+=column+\"='\"+value+\"'\";\n        updateDynamic+=column+\"='\"+value+\"'\";\n    }\n    i++;\n});\ninsertDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\nif(!parsed.exists){\n    updateDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}else{\n    updateDynamic+=\",updated_at=UTC_TIMESTAMP() WHERE ship_id=\"+parsed.ship_id;\n}\n\nmsg.insertDynamic=insertDynamic.replace(\",,,\", \",\");\nmsg.updateDynamic=updateDynamic.replace(\",,,\", \",\");\n\nvar insertDestination=0;\ni=1;\nif(destination.destination!==undefined){\n    var tempEta = destination.eta.toISOString().slice(0, 19).replace('T', ' ');\n    destination.eta = tempEta;\n    insertDestination=\"INSERT INTO ais_destination set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(destination).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDestination+=\",\";\n        }\n        var column = String(key);\n        var value = String(destination[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDestination+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDestination+=\",updated_at='\"+parsed.time_stamp+\"'\";\n    insertDestination=insertDestination.replace(\"\\\\\", \"\\\\\\\\\");\n}\nmsg.insertDestination=insertDestination;\n\nvar insertDraught=0;\ni=1;\nif(draught.draught!==undefined){\n    insertDraught=\"INSERT INTO ais_draught set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(draught).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDraught+=\",\";\n        }\n        var column = String(key);\n        var value = String(draught[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDraught+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDraught+=\",updated_at='\"+parsed.time_stamp+\"'\";\n}\nmsg.insertDraught=insertDraught;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":180,"wires":[["822074c3c69a9927"]]},{"id":"822074c3c69a9927","type":"change","z":"989d741af49f8810","name":"insertDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[[]]},{"id":"3e5c9bc04893e146","type":"change","z":"989d741af49f8810","name":"updateDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"updateDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[[]]},{"id":"a6be36537ea05571","type":"change","z":"989d741af49f8810","name":"insertDestination","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDestination","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[[]]},{"id":"bb25a4165f9eb954","type":"change","z":"989d741af49f8810","name":"insertDraught","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDraught","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[[]]},{"id":"8edac1fb80326137","type":"switch","z":"989d741af49f8810","name":"checkDestination","property":"insertDestination","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":300,"wires":[["a6be36537ea05571"],["e54a29f0e770562c"]]},{"id":"e54a29f0e770562c","type":"switch","z":"989d741af49f8810","name":"checkDraught","property":"insertDraught","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":380,"wires":[["bb25a4165f9eb954"],[]]},{"id":"44eced43811b42f9","type":"function","z":"989d741af49f8810","name":"","func":"var decoded=msg.payload;\nmsg.decoded=decoded;\nif(decoded!==undefined){\n    msg.sqlStatic=\"SELECT * from ais_static where mmsi='\"+msg.payload.senderMmsi+\"'\";\n    // msg.sqlDynamic=\"SELECT count() as total from ais_dynamic where mmsi='\"+msg.payload.senderMmsi+\"'\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":60,"wires":[["bfbbead5f13f5082"]]},{"id":"485c22cfd72a2725","type":"switch","z":"989d741af49f8810","name":"If !Undefined","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":60,"wires":[["44eced43811b42f9"],[]]},{"id":"bfbbead5f13f5082","type":"change","z":"989d741af49f8810","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sqlStatic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":60,"wires":[[]]},{"id":"6cb26c273ac6931a","type":"function","z":"989d741af49f8810","name":"","func":"// if (msg.payload && !msg.payload.length){\n//     msg.result=\"No Data\";\n// }else{\n//     msg.result=msg.payload.length;\n// }\n// return msg;\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar isDataExists=true;\nvar ship_id=0;\nvar aisData={static:{},dynamic:{},destination:{},draught:{}};\n\nif (msg.payload && !msg.payload.length){\n    isDataExists=false;\n}\n\nvar d = new Date();\nvar time_stamp = String(d.getUTCFullYear())+'-'+String(addZero(d.getUTCMonth()+1))+'-'+String(addZero(d.getUTCDate()))+' ';\ntime_stamp += String(addZero(d.getUTCHours()))+':'+String(addZero(d.getUTCMinutes()))+':'+String(addZero(d.getUTCSeconds()));\n\n//Init Ship ID\nif(!isDataExists){\n    ship_id=0;\n}else{\n    ship_id=msg.payload[0].id;\n}\naisData.ship_id=ship_id;\n//Static Data\naisData.static.mmsi=msg.decoded.senderMmsi,\naisData.static.callsign=msg.decoded.callsign,\naisData.static.vessel_name=msg.decoded.name,\naisData.static.imo=msg.decoded.shipId,\naisData.static.ship_type=msg.decoded.shipType,\naisData.static.dimension_a=msg.decoded.dimensionToBow,\naisData.static.dimension_b=msg.decoded.dimensionToStern,\naisData.static.dimension_c=msg.decoded.dimensionToPort,\naisData.static.dimension_d=msg.decoded.dimensionToStarboard,\naisData.static.fix_type=msg.decoded.fix_type,\n//Dynamic Data\naisData.dynamic.station_id=global.get('stationId'),\naisData.dynamic.sog=msg.decoded.speedOverGround,\naisData.dynamic.cog=msg.decoded.courseOverGround,\naisData.dynamic.heading=msg.decoded.trueHeading,\naisData.dynamic.turning_direction=msg.decoded.turningDirection,\naisData.dynamic.rot=msg.decoded.turningRate,\naisData.dynamic.bearing=0,\naisData.dynamic.nav_status=msg.decoded.navigationStatus,\naisData.dynamic.latitude=msg.decoded.latitude,\naisData.dynamic.longitude=msg.decoded.longitude,\naisData.dynamic.raim=msg.decoded.raim,\naisData.dynamic.msg_type=msg.decoded.messageType,\naisData.dynamic.repeat_indicator=msg.decoded.repeatIndicator,\naisData.dynamic.position_accuracy=msg.decoded.positionAccuracy,\n//Destination\naisData.destination.destination=msg.decoded.destination,\naisData.destination.eta=msg.decoded.eta,\n//Draught\naisData.draught.draught=msg.decoded.draught;\n//Timestamp\naisData.time_stamp=time_stamp;\n//isExists?\naisData.exists=isDataExists;\n\nmsg.parsed=aisData;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["d13b2b09b129de3a"]]},{"id":"d13b2b09b129de3a","type":"function","z":"989d741af49f8810","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nvar parsed=msg.parsed;\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\nvar astatic=parsed.static;\nvar staticSize = Object.size(astatic);\n\nvar insertStatic;\nvar isUpdate=false;\nif(!parsed.exists){\n\tinsertStatic=\"INSERT INTO ais_static set \";\n}else{\n    insertStatic=\"UPDATE ais_static set \";\n    isUpdate=true;\n}\nvar i=1;\nObject.keys(astatic).forEach(key => {\n    // console.log(key, astatic[key]);\n    if(i>1){\n        insertStatic+=\",\";\n    }\n    var column = String(key);\n    var value = String(astatic[key]);\n    if(value===\"undefined\"){\n        value=0;\n        if(column==\"vessel_name\"){\n            value=\"\";\n        }else if(column==\"imo\"){\n            value=\"\";\n        }else if(column==\"callsign\"){\n            value=\"\";\n        }\n    }\n    insertStatic+=column+\"='\"+value+\"'\";\n    i++;\n});\n// console.log(insertStatic);\nif(isUpdate){\n    insertStatic+=\",updated_at=UTC_TIMESTAMP() WHERE id=\"+parsed.ship_id;\n}else{\n    insertStatic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}\nmsg.topic=insertStatic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[[]]},{"id":"61350cdf9ff5e2c0","type":"ais-decoder","z":"989d741af49f8810","name":"","x":130,"y":60,"wires":[["966faaa917ceb0d4"]]},{"id":"966faaa917ceb0d4","type":"function","z":"989d741af49f8810","name":"","func":"if(msg.payload===undefined){\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":60,"wires":[["485c22cfd72a2725"]]},{"id":"91f07b0b1beac785","type":"function","z":"80f8a74d09dd9b8e","name":"function 1","func":"msg.method = \"POST\"\nmsg.url = \"http://ais-local-lumen.test/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":120,"wires":[["b1dbe95f24f578f0"]]},{"id":"87113fc21a601501","type":"split","z":"80f8a74d09dd9b8e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":310,"y":100,"wires":[["598bf7a64767202f","10c9f171092ecb97"]]},{"id":"9e582d152143cdb2","type":"function","z":"80f8a74d09dd9b8e","name":"function 2","func":"flow.set(\"dataais\", msg.payload)\nmsg.payload = msg.payload.source\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":120,"wires":[["02f82ac6b123a9d7"]]},{"id":"58829394358c8f38","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":1100,"wires":[]},{"id":"c3cbb809cc8f24bb","type":"exec","z":"80f8a74d09dd9b8e","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":290,"y":1100,"wires":[["58829394358c8f38"],["58829394358c8f38"],["58829394358c8f38"]]},{"id":"cfe7db1431b3dba4","type":"http in","z":"80f8a74d09dd9b8e","name":"","url":"/api/nampungdata","method":"post","upload":false,"swaggerDoc":"","x":120,"y":940,"wires":[["f4f4a356c9762ee4","013a5da94217477c"]]},{"id":"013a5da94217477c","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":940,"wires":[]},{"id":"f4f4a356c9762ee4","type":"http response","z":"80f8a74d09dd9b8e","name":"","statusCode":"200","headers":{},"x":340,"y":1020,"wires":[]},{"id":"bb393fdd3886b308","type":"ais","z":"80f8a74d09dd9b8e","name":"","x":610,"y":120,"wires":[["db85db0c414fe9cb"]]},{"id":"02f82ac6b123a9d7","type":"ais-decoder","z":"80f8a74d09dd9b8e","name":"","x":1050,"y":120,"wires":[["91f07b0b1beac785"]]},{"id":"598bf7a64767202f","type":"function","z":"80f8a74d09dd9b8e","name":"function 6","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":60,"wires":[["bb393fdd3886b308","8ca7be96b9aebb4f"]]},{"id":"db85db0c414fe9cb","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"regex","v":"^(0\\d{8}|1\\d{8}|2\\d{8}|3\\d{8}|4\\d{8}|5\\d{8}|6\\d{8}|7\\d{8}|8\\d{8}|9\\d{8})$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":120,"wires":[["9e582d152143cdb2"]]},{"id":"8ca7be96b9aebb4f","type":"ais-decoder","z":"80f8a74d09dd9b8e","name":"","x":610,"y":20,"wires":[["03f0db8f60e81b36"]]},{"id":"03f0db8f60e81b36","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":20,"wires":[["a5d56ae4d1ade438"]]},{"id":"a5d56ae4d1ade438","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":20,"wires":[["02b43f7af9a2a960","22f5244112f7294d"]]},{"id":"02b43f7af9a2a960","type":"function","z":"80f8a74d09dd9b8e","name":"function 11","func":"msg.method = \"POST\"\nmsg.url = \"http://ais-local-lumen.test/api/aisstatic\"\nconst aisdata2 = msg.payload\nmsg.payload = aisdata2;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":20,"wires":[["593c5960ff755da4"]]},{"id":"8193dc6a09766bf4","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 23","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":1200,"wires":[]},{"id":"10d8acc802b0e40a","type":"exec","z":"80f8a74d09dd9b8e","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":290,"y":1200,"wires":[["8193dc6a09766bf4"],["8193dc6a09766bf4"],["8193dc6a09766bf4"]]},{"id":"6cbe7239818d91eb","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 24","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":1280,"wires":[]},{"id":"011fbe527e649aab","type":"exec","z":"80f8a74d09dd9b8e","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":290,"y":1280,"wires":[["6cbe7239818d91eb"],["6cbe7239818d91eb"],["6cbe7239818d91eb"]]},{"id":"10c9f171092ecb97","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"GPRMC","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":180,"wires":[["2716dfc702639cb5"]]},{"id":"2716dfc702639cb5","type":"function","z":"80f8a74d09dd9b8e","name":"function 14","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":180,"wires":[["b70bafccf996f9a1"]]},{"id":"336a6319b86be83d","type":"function","z":"80f8a74d09dd9b8e","name":"function 15","func":"msg.method = \"POST\"\nmsg.url = \"http://ais-local-lumen.test/api/position\"\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":180,"wires":[["8d6440c5f678f75e"]]},{"id":"b70bafccf996f9a1","type":"nmea","z":"80f8a74d09dd9b8e","name":"","property":"payload","outputProperty":"payload","x":910,"y":180,"wires":[["336a6319b86be83d"]]},{"id":"22f5244112f7294d","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 26","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":80,"wires":[]},{"id":"621512a36bdfb88d","type":"cronplus","z":"80f8a74d09dd9b8e","d":true,"name":"sendata","outputField":"payload","timeZone":"","persistDynamic":false,"storeName":"","commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" app:sendata","expressionType":"cron","expression":"0 * * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":120,"y":1100,"wires":[["c3cbb809cc8f24bb"]]},{"id":"10d976203d571979","type":"cronplus","z":"80f8a74d09dd9b8e","d":true,"name":"radar image","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" radarpng","expressionType":"cron","expression":"0 * * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":130,"y":1200,"wires":[["10d8acc802b0e40a"]]},{"id":"51e2b2b920a3d855","type":"cronplus","z":"80f8a74d09dd9b8e","d":true,"name":"radar data","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" fetchradar","expressionType":"cron","expression":"0 * * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":130,"y":1280,"wires":[["011fbe527e649aab"]]},{"id":"8e574384b6ad5386","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 27","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":100,"wires":[]},{"id":"24e95b2aa2604e29","type":"tcp in","z":"80f8a74d09dd9b8e","name":"","server":"client","host":"192.168.8.1","port":"5000","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":100,"y":20,"wires":[["e550773532203df3","5ceac2b50f3b1403"]]},{"id":"e550773532203df3","type":"split","z":"80f8a74d09dd9b8e","name":"","splt":"\\","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":110,"y":80,"wires":[["4e3c733e8d94224d"]]},{"id":"4e3c733e8d94224d","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!AIVDM","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":140,"wires":[["87113fc21a601501"]]},{"id":"200baa739e976dcf","type":"websocket out","z":"80f8a74d09dd9b8e","name":"","server":"dd018d89c98db1d1","client":"","x":1970,"y":200,"wires":[]},{"id":"593c5960ff755da4","type":"www-request","z":"80f8a74d09dd9b8e","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1250,"y":20,"wires":[[]]},{"id":"b1dbe95f24f578f0","type":"www-request","z":"80f8a74d09dd9b8e","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1470,"y":120,"wires":[["200baa739e976dcf","03c392ed6aec309f"]]},{"id":"8d6440c5f678f75e","type":"www-request","z":"80f8a74d09dd9b8e","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1250,"y":180,"wires":[[]]},{"id":"5ceac2b50f3b1403","type":"split","z":"80f8a74d09dd9b8e","name":"","splt":"\\","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":310,"y":380,"wires":[["0553a72103073d8d"]]},{"id":"e799cbb117a99718","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":380,"wires":[["667f0bf3b33c1353","05b53190488e8cd7"]]},{"id":"667f0bf3b33c1353","type":"function","z":"80f8a74d09dd9b8e","name":"function 17","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM ais_data_vessels WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":340,"wires":[["8d8dd00a469def65"]]},{"id":"05b53190488e8cd7","type":"function","z":"80f8a74d09dd9b8e","name":"function 18","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM vessel_list_20240621 WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":420,"wires":[["c7af4539743c7b46"]]},{"id":"8d8dd00a469def65","type":"mysql","z":"80f8a74d09dd9b8e","mydb":"c306af48406793df","name":"","x":1000,"y":340,"wires":[["01b2536b4a8247b2"]]},{"id":"c7af4539743c7b46","type":"mysql","z":"80f8a74d09dd9b8e","mydb":"c306af48406793df","name":"","x":1000,"y":420,"wires":[["12c9d939b488e31e"]]},{"id":"01b2536b4a8247b2","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":340,"wires":[["4e05a6202b842d19"]]},{"id":"12c9d939b488e31e","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":420,"wires":[["4e05a6202b842d19"]]},{"id":"4e05a6202b842d19","type":"function","z":"80f8a74d09dd9b8e","name":"function 19","func":"const aisdata1 = flow.get(\"dataaistemp\")\nconst aisdata2 = msg.payload[0]\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":380,"wires":[["1d49c5f38a45ec26"]]},{"id":"844bbf819cdd5808","type":"websocket out","z":"80f8a74d09dd9b8e","name":"","server":"dd018d89c98db1d1","client":"","x":1910,"y":380,"wires":[]},{"id":"1d49c5f38a45ec26","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1490,"y":380,"wires":[["66c6e2d66bbf9609","c616ab4b220f7d4c"]]},{"id":"03c392ed6aec309f","type":"function","z":"80f8a74d09dd9b8e","name":"function 20","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":100,"wires":[["8e574384b6ad5386"]]},{"id":"66c6e2d66bbf9609","type":"function","z":"80f8a74d09dd9b8e","name":"function 21","func":"const originalJson1 = msg.payload;\n\nconst transformedJson1 = {\n    \"aisData\": {\n        \"id\": originalJson1.id,\n        \"vessel\": {\n            \"vessel_name\": originalJson1.vessel_name,\n            \"vessel_type\": originalJson1.vessel_type,\n            \"mmsi\": originalJson1.mmsi,\n            \"imo\": originalJson1.imo,\n            \"callsign\": originalJson1.callsign,\n            \"draught\": originalJson1.draught,\n            \"dimension_to_bow\": originalJson1.dimension_to_bow,\n            \"dimension_to_stern\": originalJson1.dimension_to_stern,\n            \"dimension_to_port\": originalJson1.dimension_to_port,\n            \"dimension_to_starboard\": originalJson1.dimension_to_starboard,\n            \"reported_destination\": originalJson1.reported_destination,\n            \"out_of_range\": originalJson1.out_of_range,\n            \"type_number\": originalJson1.type_number,\n            \"reported_eta\": originalJson1.reported_eta,\n            \"no_pkk\": originalJson1.no_pkk,\n            \"jenis_layanan\": originalJson1.jenis_layanan,\n            \"nama_negara\": originalJson1.nama_negara,\n            \"tipe_kapal\": originalJson1.tipe_kapal,\n            \"nama_perusahaan\": originalJson1.nama_perusahaan,\n            \"tgl_tiba\": originalJson1.tgl_tiba,\n            \"tgl_brangkat\": originalJson1.tgl_brangkat,\n            \"bendera\": originalJson1.bendera,\n            \"gt_kapal\": originalJson1.gt_kapal,\n            \"dwt\": originalJson1.dwt,\n            \"nakhoda\": originalJson1.nakhoda,\n            \"jenis_trayek\": originalJson1.jenis_trayek,\n            \"pelabuhan_asal\": originalJson1.pelabuhan_asal,\n            \"pelabuhan_tujuan\": originalJson1.pelabuhan_tujuan,\n            \"lokasi_lambat_labuh\": originalJson1.lokasi_lambat_labuh,\n            \"nomor_spog\": originalJson1.nomor_spog,\n            \"jenis_muatan\": originalJson1.jenis_muatan,\n            \"no_pandu\": originalJson1.no_pandu,\n            \"nama_pandu\": originalJson1.nama_pandu,\n            \"nama_kapal_eks\": originalJson1.nama_kapal_eks,\n            \"nama_kapal_pemilik\": originalJson1.nama_kapal_pemilik,\n            \"loa\": originalJson1.loa,\n            \"counting_hari\": originalJson1.counting_hari,\n            \"tgl_counting_hari\": originalJson1.tgl_counting_hari,\n            \"last_update_counting\": originalJson1.last_update_counting,\n            \"isAssign\": originalJson1.isAssign,\n            \"nama_kapal_inaportnet\": originalJson1.nama_kapal_inaportnet,\n            \"created_at\": originalJson1.created_at,\n            \"updated_at\": originalJson1.updated_at\n        },\n        \"channel\": originalJson1.channel,\n        \"messageType\": originalJson1.messageType,\n        \"repeatIndicator\": originalJson1.repeatIndicator,\n        \"senderMmsi\": originalJson1.senderMmsi,\n        \"navigationStatus\": originalJson1.navigationStatus,\n        \"speed\": originalJson1.speedOverGround,\n        \"positionAccurate\": originalJson1.positionAccurate,\n        \"longitude\": originalJson1.longitude,\n        \"latitude\": originalJson1.latitude,\n        \"course\": originalJson1.courseOverGround,\n        \"heading\": originalJson1.courseOverGround,\n        \"timeStampSeconds\": originalJson1.timeStampSeconds,\n        \"raim\": originalJson1.raim,\n        \"radioStatus\": originalJson1.radioStatus,\n        \"talkerId\": originalJson1.talkerId,\n        \"sentenceId\": originalJson1.sentenceId,\n        \"talkerId_text\": originalJson1.talkerId_text,\n        \"sentenceId_text\": originalJson1.sentenceId_text,\n        \"messageType_text\": originalJson1.messageType_text,\n        \"navigationStatus_text\": originalJson1.navigationStatus,\n        \"navigation_status\": originalJson1.navigationStatus,\n        \"timestamp\": new Date().toISOString(),\n        \"distance\": 0,\n        \"is_inside_geofence\": 0,\n        \"is_geofence\": 0,\n        \"created_at\": new Date().toISOString(),\n        \"updated_at\": new Date().toISOString()\n    }\n};\n\nmsg.payload = transformedJson1;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":380,"wires":[["844bbf819cdd5808"]]},{"id":"0553a72103073d8d","type":"ais","z":"80f8a74d09dd9b8e","name":"","x":470,"y":380,"wires":[["e799cbb117a99718"]]},{"id":"c616ab4b220f7d4c","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 33","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1600,"y":480,"wires":[]},{"id":"f25d29dc8abc2295","type":"mqtt in","z":"80f8a74d09dd9b8e","name":"","topic":"aispybadak","qos":"2","datatype":"auto-detect","broker":"92bd4385102b2542","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":480,"wires":[["8e72c01563a15eb5"]]},{"id":"8e72c01563a15eb5","type":"function","z":"80f8a74d09dd9b8e","name":"function 22","func":"// Function to extract key-value pairs from the input string\nfunction parseMessageType3(input) {\n    // Remove \"MessageType3(\" and the trailing \")\"\n    let cleaned = input.replace(/^MessageType3\\(|\\)$/g, '');\n\n    // Extract key-value pairs by splitting on \", \" and processing each entry\n    let parts = cleaned.split(/, (?![^<>]*>)/);\n    let obj = {};\n\n    parts.forEach(part => {\n        let [key, value] = part.split('=');\n        \n        // Clean up key and value\n        key = key.trim();\n        value = value.trim();\n\n        // Process specific types of values\n        if (value.startsWith('<') && value.endsWith('>')) {\n            // Extract enum-like values (e.g. \"<NavigationStatus.AtAnchor: 1>\")\n            value = value.match(/<[^.]+\\.(.+):/)[1]; // extract the enum value\n        } else if (!isNaN(parseFloat(value))) {\n            // Handle numeric values\n            value = parseFloat(value);\n        } else if (value === 'True' || value === 'False') {\n            // Handle boolean values\n            value = value === 'True';\n        } else if (value.startsWith(\"b'\")) {\n            // Handle byte array (e.g. b'\\x00')\n            value = value.replace(/^b'|\\'$/g, '');\n        }\n\n        obj[key] = value;\n    });\n\n    return obj;\n}\n\n// Parse the input string and convert to JSON\nlet parsedData = parseMessageType3(msg.payload);\n\n// Set the parsed JSON object as the output message payload\nmsg.payload = parsedData;\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":480,"wires":[["e799cbb117a99718"]]},{"id":"24877ff6cd79cc8e","type":"cronplus","z":"b7365955a007c1cd","name":"","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"C:\\laragon\\bin\\php\\php-8.2.13-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\AIS-Local\\artisan\" app:checkgeofence","expressionType":"cron","expression":"0 0/2 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":80,"wires":[["802e71f52371a4d6"]]},{"id":"802e71f52371a4d6","type":"exec","z":"b7365955a007c1cd","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":true,"oldrc":false,"name":"","x":310,"y":80,"wires":[["4e7008b74e28ec83"],["4e7008b74e28ec83"],["4e7008b74e28ec83"]]},{"id":"4e7008b74e28ec83","type":"debug","z":"b7365955a007c1cd","name":"debug 28","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":80,"wires":[]},{"id":"e281c4259617e005","type":"cronplus","z":"b7365955a007c1cd","name":"","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"C:\\laragon\\bin\\php\\php-8.2.13-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\AIS-Local\\artisan\" eventtrigger","expressionType":"cron","expression":"0 0/2 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":180,"wires":[["5e0b5cd581c67630"]]},{"id":"5e0b5cd581c67630","type":"exec","z":"b7365955a007c1cd","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":true,"oldrc":false,"name":"","x":310,"y":180,"wires":[["f1f322fc792d5e81"],["f1f322fc792d5e81"],["f1f322fc792d5e81"]]},{"id":"f1f322fc792d5e81","type":"debug","z":"b7365955a007c1cd","name":"debug 29","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":180,"wires":[]},{"id":"93fcdba921be1b64","type":"cronplus","z":"b7365955a007c1cd","name":"","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"C:\\laragon\\bin\\php\\php-8.2.13-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\AIS-Local\\artisan\" app:outofrange","expressionType":"cron","expression":"0 0/2 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":280,"wires":[["30277634ba42bbdb"]]},{"id":"30277634ba42bbdb","type":"exec","z":"b7365955a007c1cd","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":true,"oldrc":false,"name":"","x":310,"y":280,"wires":[["a37fda1cfd30c1cc"],["a37fda1cfd30c1cc"],["a37fda1cfd30c1cc"]]},{"id":"a37fda1cfd30c1cc","type":"debug","z":"b7365955a007c1cd","name":"debug 30","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":280,"wires":[]},{"id":"af0c587981dd9e1e","type":"exec","z":"b7365955a007c1cd","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":true,"oldrc":false,"name":"git pull","x":310,"y":380,"wires":[["a37fda1cfd30c1cc"],["a37fda1cfd30c1cc"],["a37fda1cfd30c1cc"]]},{"id":"031c1f4f99ef6d34","type":"cronplus","z":"b7365955a007c1cd","name":"","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"cd C:\\Users\\user\\Documents\\trackerFe && git pull","expressionType":"cron","expression":"0 */10 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":380,"wires":[["af0c587981dd9e1e"]]},{"id":"28876af64abd1c62","type":"cronplus","z":"b7365955a007c1cd","name":"","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"cd C:\\Users\\user\\Documents\\AIS-Local && git pull","expressionType":"cron","expression":"0 */10 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":460,"wires":[["8212637ab8c746c4"]]},{"id":"8212637ab8c746c4","type":"exec","z":"b7365955a007c1cd","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":true,"oldrc":false,"name":"","x":310,"y":460,"wires":[["95b519614cec9319"],["95b519614cec9319"],["95b519614cec9319"]]},{"id":"95b519614cec9319","type":"debug","z":"b7365955a007c1cd","name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":460,"wires":[]}]