DOCS/flowfak&server/nrabp/flow
[{"id":"80f8a74d09dd9b8e","type":"tab","label":"AIS LKS","disabled":false,"info":"","env":[]},{"id":"8c155df6ea42cba3","type":"tab","label":"AIS ABP","disabled":false,"info":"","env":[]},{"id":"b28578ee71840d04","type":"tab","label":"AIS BMSS","disabled":false,"info":"","env":[]},{"id":"af92fe5558094d88","type":"tab","label":"KSOP","disabled":false,"info":"","env":[]},{"id":"8de36f7138465902","type":"tab","label":"GEOFENCE","disabled":false,"info":"","env":[]},{"id":"1697fcacf91a5d47","type":"tab","label":"AIS WBS","disabled":false,"info":"","env":[]},{"id":"4f90a3ebd122d18b","type":"subflow","name":"GPRMC Handler ","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b4eafedf48ad9063"}]}],"out":[],"env":[],"color":"#DDAA99","status":{"x":560,"y":120,"wires":[]}},{"id":"9f8de59c262b7de1","type":"subflow","name":"AIVDM Decoder","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"44c59405dbf60c58"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"4704a8d760c26ca4","port":1},{"id":"0204f1adc622e486","port":1}]}],"env":[],"color":"#DDAA99","status":{"x":940,"y":220,"wires":[{"id":"4704a8d760c26ca4","port":1}]}},{"id":"0e6ef4deee1bd260","type":"subflow","name":"AIVDM Decoder (2)","info":"","category":"","in":[{"x":40,"y":60,"wires":[]}],"out":[{"x":940,"y":120,"wires":[{"id":"b01babb848ae24c6","port":1},{"id":"6449a6dab87d98b4","port":1}]}],"env":[],"color":"#DDAA99","status":{"x":940,"y":220,"wires":[{"id":"b01babb848ae24c6","port":1}]}},{"id":"989d741af49f8810","type":"subflow","name":"AIVDM Decoder (2) (2)","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"61350cdf9ff5e2c0"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"e54a29f0e770562c","port":1},{"id":"485c22cfd72a2725","port":1}]}],"env":[],"color":"#DDAA99","status":{"x":940,"y":220,"wires":[{"id":"e54a29f0e770562c","port":1}]}},{"id":"c4b23549ec29a777","type":"websocket-listener","path":"/ws/realtimeaisdemo","wholemsg":"false"},{"id":"2b9e76fb8f8da6be","type":"MySQLdatabase","name":"coastal","host":"localhost","port":"3306","db":"coastal","tz":"","charset":"UTF8"},{"id":"f614c112864cc4d3","type":"websocket-listener","path":"/ws/sensordata","wholemsg":"false"},{"id":"92bd4385102b2542","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ed5625119e8ad936","type":"websocket-listener","d":true,"path":"/ws/sensordata","wholemsg":"false"},{"id":"c0587586e0feab65","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2bffb4e783a0c2ed","type":"MySQLdatabase","d":true,"name":"bst_op","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"32a6da0f907a8237","type":"MySQLdatabase","d":true,"name":"bst_op_decoder","host":"127.0.0.1","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"1a43de3ee452c915","type":"MySQLdatabase","d":true,"name":"bst_op_decoder_insert","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"c33dbc8e118808df","type":"mqtt-broker","name":"","broker":"mqttksop.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"92604253a49f1377","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d5180c640b2f601b","type":"MySQLdatabase","d":true,"name":"bst_op","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"f3fd6adc2e0a5c6e","type":"MySQLdatabase","d":true,"name":"bst_op_decoder","host":"127.0.0.1","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"d6c6df3dcae9f7a8","type":"MySQLdatabase","d":true,"name":"bst_op_decoder_insert","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"af1d04e75c86bf0e","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0d887e44b8969aa2","type":"websocket-listener","d":true,"path":"/ws/sensordata","wholemsg":"false"},{"id":"0171ea66892e68e0","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e376999acc52cf64","type":"MySQLdatabase","d":true,"name":"bst_op","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"697a46bb2a244936","type":"MySQLdatabase","d":true,"name":"bst_op_decoder","host":"127.0.0.1","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"96c384ab1ec09df1","type":"MySQLdatabase","d":true,"name":"bst_op_decoder_insert","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"9ddfa1084fac3bbc","type":"MySQLdatabase","d":true,"name":"bst_op","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"a964e9c6f46a8548","type":"MySQLdatabase","d":true,"name":"bst_op_decoder","host":"127.0.0.1","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"eb3656c5de3390d4","type":"MySQLdatabase","d":true,"name":"bst_op_decoder_insert","host":"localhost","port":"3306","db":"bst_op","tz":"UTC","charset":"UTF8"},{"id":"d22522812311c6f5","type":"websocket-listener","path":"/ws/sensordatas","wholemsg":"false"},{"id":"f9dc875b90431d46","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"dd018d89c98db1d1","type":"websocket-listener","path":"/ws/realtimeaislks","wholemsg":"false"},{"id":"c306af48406793df","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"coastal","tz":"","charset":"UTF8"},{"id":"359d1491f51c5934","type":"websocket-listener","path":"/ws/exactrealtimeais","wholemsg":"false"},{"id":"c397fcf23234d0d8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0e7cebf9688e36f6","type":"websocket-client","path":"ws://127.0.0.1:3000/signalk/v1/stream?subscribe=all","tls":"","wholemsg":"false","hb":"0","subprotocol":"","headers":[]},{"id":"7a514ac7e4bcf6eb","type":"serial-port","serialport":"COM1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"0960ae41486c6ef0","type":"serial-port","name":"","serialport":"COM3","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"11e860719980e3ac","type":"serial-port","serialport":"COM1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"bb03f8d1f5b4d598","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"abcb1e445f1f66f2","type":"serial-port","serialport":"COM1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5d4e7bb85d491424","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5350d61465f6e996","type":"serial-port","serialport":"COM6","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"af91a2d2538541f9","type":"serial-port","serialport":"COM7","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"eaaf64cadd5e6a71","type":"serial-port","serialport":"COM1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"37ed8ef8f31fc2e8","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2c2e32dcc441c093","type":"serial-port","serialport":"COM1","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a50102a20f0f315e","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"0c78b0336a5f180b","type":"websocket-listener","path":"/ws/realtimeaisabp","wholemsg":"false"},{"id":"4141f6886b3a37f1","type":"websocket-listener","path":"/ws/realtimeaispalembang","wholemsg":"false"},{"id":"6de47104a153c176","type":"websocket-listener","path":"/ws/realtimeaisbmss","wholemsg":"false"},{"id":"568fbd90132245c7","type":"websocket-listener","path":"/ws/geofence","wholemsg":"false"},{"id":"3d6eb7b459dc5968","type":"websocket-listener","path":"/ws/realtimeaiswbs","wholemsg":"false"},{"id":"15ac1be9d7b1b4e1","type":"function","z":"4f90a3ebd122d18b","name":"","func":"function convertLat(latitude,north_south){\n    var splitLat=latitude.split(\".\"),\n    secLat=splitLat[0].substring(splitLat[0].length - 2, splitLat[0].length)+'.'+splitLat[1],\n    degLat=splitLat[0].substring(0,splitLat[0].length - 2),\n    minLat=parseFloat(secLat)/60;\n    if(north_south=='S'){\n    \tnorth_south=-1;\n    }else{\n    \tnorth_south=1;\n    }\n    return String((parseFloat(degLat)+minLat)*north_south);\n}\n\nfunction convertLng(longitude,east_west){\n    var splitLng=longitude.split(\".\"),\n    secLng=splitLng[0].substring(splitLng[0].length - 2, splitLng[0].length)+'.'+splitLng[1],\n    degLng=splitLng[0].substring(0,splitLng[0].length - 2),\n    minLng=parseFloat(secLng)/60;\n    if(east_west=='W'){\n    \teast_west=-1;\n    }else{\n    \teast_west=1;\n    }\n    return String((parseFloat(degLng)+minLng)*east_west);\n}\n\nfunction fixDateTime(date_stamp,time_stamp){\n    var d = new Date(), date = date_stamp.substring(0,2), month = date_stamp.substring(2,4);\n    var fixDateStamp=String(d.getUTCFullYear())+'-'+month+'-'+date;\n    var fixTimeStamp=time_stamp.substring(0,2)+':'+time_stamp.substring(2,4)+':'+time_stamp.substring(4,6);\n    return String(fixDateStamp+' '+fixTimeStamp);\n}\n\n// var msgText=String(msg.payload);\nvar msgText=String(msg.gprmc);\nvar m=msgText.split(\",\");\nvar time_stamp=String(m[1]),validity=m[2],latitude=m[3],north_south=m[4],longitude=m[5],east_west=m[6],sog=m[7],cog=m[8],\ndate_stamp=String(m[9]),variation=m[10],fillbits=m[11];\n\nif(String(sog)!==''){\n    sog=String(parseFloat(sog));\n}else{\n    sog=\"0\";\n}\nif(String(cog)!==''){\n    cog=String(parseFloat(cog));\n}else{\n    cog=\"0\";\n}\nvar heading=cog;\nvar lat=convertLat(latitude,north_south);\nvar lng=convertLng(longitude,east_west);\nvar fixDT=fixDateTime(date_stamp,time_stamp);\n\nmsg.topic=\"INSERT INTO bst_mbs VALUES(0,\"+global.get('stationId')+\",\"+lat+\",\"+lng+\",\"+heading+\",\"+sog+\",\"+cog+\",'\"+fixDT+\"','\"+fixDT+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":40,"wires":[[]]},{"id":"b4eafedf48ad9063","type":"function","z":"4f90a3ebd122d18b","name":"","func":"var msgText=String(msg.payload);\nmsg.gprmc=msgText;\nmsg.topic=\"INSERT INTO gprmc_msg VALUES (0,'\"+msgText+\"',\"+global.get('stationId')+\",1,UTC_TIMESTAMP())\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":40,"wires":[[]]},{"id":"1c5099576fbb9689","type":"debug","z":"4f90a3ebd122d18b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"4af9b5aa3828a88b","type":"debug","z":"4f90a3ebd122d18b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":140,"wires":[]},{"id":"1e414a35ddb3cecc","type":"debug","z":"4f90a3ebd122d18b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":140,"y":220,"wires":[]},{"id":"d2376b60045d1aac","type":"function","z":"9f8de59c262b7de1","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nif(msg.parsed.ship_id===0){\n    msg.parsed.ship_id=msg.payload.insertId;\n}\nvar parsed=msg.parsed;\n\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar dynamic=parsed.dynamic;\nvar destination=parsed.destination;\nvar draught=parsed.draught;\nvar dynamicSize = Object.size(dynamic);\nvar destinationSize = Object.size(destination);\nvar draughtSize = Object.size(draught);\n\nmsg.parsed.size={};\nmsg.parsed.size.dynamic=dynamicSize;\nmsg.parsed.size.destination=destinationSize;\nmsg.parsed.size.draught=draughtSize;\n\nvar d = new Date();\nvar suffix = String(d.getUTCFullYear())+String(addZero(d.getUTCMonth()+1));\nvar insertDynamic=\"INSERT INTO ais_dynamic_\"+suffix+\" set ship_id=\"+parsed.ship_id+\",\";\nvar updateDynamic=\"INSERT INTO ais_dynamic set ship_id=\"+parsed.ship_id+\",\";\nif(parsed.exists){\n    updateDynamic=\"UPDATE ais_dynamic set \";\n}\ni=1;\nObject.keys(dynamic).forEach(key => {\n\t// console.log(key, static[key]);\n    if(i>1){\n    \tinsertDynamic+=\",\";\n    \tupdateDynamic+=\",\";\n    }\n    var column = String(key);\n    var value = String(dynamic[key]);\n    if(value===\"undefined\"){\n        value=\"0\";\n    }\n    if(column===\"raim\"){\n        if(value===\"false\"){\n            value=\"0\";\n        }else{\n            value=\"1\";\n        }\n    }\n    if(column===\"latitude\" || column===\"longitude\"){\n        if(value!==\"0\" && value!==\"undefined\"){\n            insertDynamic+=column+\"='\"+value+\"'\";\n            updateDynamic+=column+\"='\"+value+\"'\";\n        }\n    }else{\n        insertDynamic+=column+\"='\"+value+\"'\";\n        updateDynamic+=column+\"='\"+value+\"'\";\n    }\n    i++;\n});\ninsertDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\nif(!parsed.exists){\n    updateDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}else{\n    updateDynamic+=\",updated_at=UTC_TIMESTAMP() WHERE ship_id=\"+parsed.ship_id;\n}\n\nmsg.insertDynamic=insertDynamic.replace(\",,,\", \",\");\nmsg.updateDynamic=updateDynamic.replace(\",,,\", \",\");\n\nvar insertDestination=0;\ni=1;\nif(destination.destination!==undefined){\n    var tempEta = destination.eta.toISOString().slice(0, 19).replace('T', ' ');\n    destination.eta = tempEta;\n    insertDestination=\"INSERT INTO ais_destination set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(destination).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDestination+=\",\";\n        }\n        var column = String(key);\n        var value = String(destination[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDestination+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDestination+=\",updated_at='\"+parsed.time_stamp+\"'\";\n    insertDestination=insertDestination.replace(\"\\\\\", \"\\\\\\\\\");\n}\nmsg.insertDestination=insertDestination;\n\nvar insertDraught=0;\ni=1;\nif(draught.draught!==undefined){\n    insertDraught=\"INSERT INTO ais_draught set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(draught).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDraught+=\",\";\n        }\n        var column = String(key);\n        var value = String(draught[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDraught+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDraught+=\",updated_at='\"+parsed.time_stamp+\"'\";\n}\nmsg.insertDraught=insertDraught;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":180,"wires":[["04ae55b28dfff270"]]},{"id":"04ae55b28dfff270","type":"change","z":"9f8de59c262b7de1","name":"insertDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[[]]},{"id":"4506c6dcf9751299","type":"change","z":"9f8de59c262b7de1","name":"updateDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"updateDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[[]]},{"id":"06333236853bfae1","type":"change","z":"9f8de59c262b7de1","name":"insertDestination","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDestination","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[[]]},{"id":"3c9bf3f04d2340c0","type":"change","z":"9f8de59c262b7de1","name":"insertDraught","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDraught","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[[]]},{"id":"a3129761479bebbd","type":"switch","z":"9f8de59c262b7de1","name":"checkDestination","property":"insertDestination","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":300,"wires":[["06333236853bfae1"],["4704a8d760c26ca4"]]},{"id":"4704a8d760c26ca4","type":"switch","z":"9f8de59c262b7de1","name":"checkDraught","property":"insertDraught","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":380,"wires":[["3c9bf3f04d2340c0"],[]]},{"id":"791ca52868337347","type":"function","z":"9f8de59c262b7de1","name":"","func":"var decoded=msg.payload;\nmsg.decoded=decoded;\nif(decoded!==undefined){\n    msg.sqlStatic=\"SELECT * from ais_static where mmsi='\"+msg.payload.senderMmsi+\"'\";\n    // msg.sqlDynamic=\"SELECT count() as total from ais_dynamic where mmsi='\"+msg.payload.senderMmsi+\"'\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":60,"wires":[["d306d82cefa9b14f"]]},{"id":"0204f1adc622e486","type":"switch","z":"9f8de59c262b7de1","name":"If !Undefined","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":60,"wires":[["791ca52868337347"],[]]},{"id":"d306d82cefa9b14f","type":"change","z":"9f8de59c262b7de1","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sqlStatic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":60,"wires":[[]]},{"id":"6d5f2d25d35ddda7","type":"function","z":"9f8de59c262b7de1","name":"","func":"// if (msg.payload && !msg.payload.length){\n//     msg.result=\"No Data\";\n// }else{\n//     msg.result=msg.payload.length;\n// }\n// return msg;\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar isDataExists=true;\nvar ship_id=0;\nvar aisData={static:{},dynamic:{},destination:{},draught:{}};\n\nif (msg.payload && !msg.payload.length){\n    isDataExists=false;\n}\n\nvar d = new Date();\nvar time_stamp = String(d.getUTCFullYear())+'-'+String(addZero(d.getUTCMonth()+1))+'-'+String(addZero(d.getUTCDate()))+' ';\ntime_stamp += String(addZero(d.getUTCHours()))+':'+String(addZero(d.getUTCMinutes()))+':'+String(addZero(d.getUTCSeconds()));\n\n//Init Ship ID\nif(!isDataExists){\n    ship_id=0;\n}else{\n    ship_id=msg.payload[0].id;\n}\naisData.ship_id=ship_id;\n//Static Data\naisData.static.mmsi=msg.decoded.senderMmsi,\naisData.static.callsign=msg.decoded.callsign,\naisData.static.vessel_name=msg.decoded.name,\naisData.static.imo=msg.decoded.shipId,\naisData.static.ship_type=msg.decoded.shipType,\naisData.static.dimension_a=msg.decoded.dimensionToBow,\naisData.static.dimension_b=msg.decoded.dimensionToStern,\naisData.static.dimension_c=msg.decoded.dimensionToPort,\naisData.static.dimension_d=msg.decoded.dimensionToStarboard,\naisData.static.fix_type=msg.decoded.fix_type,\n//Dynamic Data\naisData.dynamic.station_id=global.get('stationId'),\naisData.dynamic.sog=msg.decoded.speedOverGround,\naisData.dynamic.cog=msg.decoded.courseOverGround,\naisData.dynamic.heading=msg.decoded.trueHeading,\naisData.dynamic.turning_direction=msg.decoded.turningDirection,\naisData.dynamic.rot=msg.decoded.turningRate,\naisData.dynamic.bearing=0,\naisData.dynamic.nav_status=msg.decoded.navigationStatus,\naisData.dynamic.latitude=msg.decoded.latitude,\naisData.dynamic.longitude=msg.decoded.longitude,\naisData.dynamic.raim=msg.decoded.raim,\naisData.dynamic.msg_type=msg.decoded.messageType,\naisData.dynamic.repeat_indicator=msg.decoded.repeatIndicator,\naisData.dynamic.position_accuracy=msg.decoded.positionAccuracy,\n//Destination\naisData.destination.destination=msg.decoded.destination,\naisData.destination.eta=msg.decoded.eta,\n//Draught\naisData.draught.draught=msg.decoded.draught;\n//Timestamp\naisData.time_stamp=time_stamp;\n//isExists?\naisData.exists=isDataExists;\n\nmsg.parsed=aisData;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["275d49e4b399794b"]]},{"id":"275d49e4b399794b","type":"function","z":"9f8de59c262b7de1","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nvar parsed=msg.parsed;\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\nvar astatic=parsed.static;\nvar staticSize = Object.size(astatic);\n\nvar insertStatic;\nvar isUpdate=false;\nif(!parsed.exists){\n\tinsertStatic=\"INSERT INTO ais_static set \";\n}else{\n    insertStatic=\"UPDATE ais_static set \";\n    isUpdate=true;\n}\nvar i=1;\nObject.keys(astatic).forEach(key => {\n    // console.log(key, astatic[key]);\n    if(i>1){\n        insertStatic+=\",\";\n    }\n    var column = String(key);\n    var value = String(astatic[key]);\n    if(value===\"undefined\"){\n        value=0;\n        if(column==\"vessel_name\"){\n            value=\"\";\n        }else if(column==\"imo\"){\n            value=\"\";\n        }else if(column==\"callsign\"){\n            value=\"\";\n        }\n    }\n    insertStatic+=column+\"='\"+value+\"'\";\n    i++;\n});\n// console.log(insertStatic);\nif(isUpdate){\n    insertStatic+=\",updated_at=UTC_TIMESTAMP() WHERE id=\"+parsed.ship_id;\n}else{\n    insertStatic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}\nmsg.topic=insertStatic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[[]]},{"id":"44c59405dbf60c58","type":"ais-decoder","z":"9f8de59c262b7de1","name":"","x":130,"y":60,"wires":[["0ee1358dd073c5c2"]]},{"id":"0ee1358dd073c5c2","type":"function","z":"9f8de59c262b7de1","name":"","func":"if(msg.payload===undefined){\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":60,"wires":[["0204f1adc622e486"]]},{"id":"27eb0e75e872bec7","type":"function","z":"0e6ef4deee1bd260","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nif(msg.parsed.ship_id===0){\n    msg.parsed.ship_id=msg.payload.insertId;\n}\nvar parsed=msg.parsed;\n\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar dynamic=parsed.dynamic;\nvar destination=parsed.destination;\nvar draught=parsed.draught;\nvar dynamicSize = Object.size(dynamic);\nvar destinationSize = Object.size(destination);\nvar draughtSize = Object.size(draught);\n\nmsg.parsed.size={};\nmsg.parsed.size.dynamic=dynamicSize;\nmsg.parsed.size.destination=destinationSize;\nmsg.parsed.size.draught=draughtSize;\n\nvar d = new Date();\nvar suffix = String(d.getUTCFullYear())+String(addZero(d.getUTCMonth()+1));\nvar insertDynamic=\"INSERT INTO ais_dynamic_\"+suffix+\" set ship_id=\"+parsed.ship_id+\",\";\nvar updateDynamic=\"INSERT INTO ais_dynamic set ship_id=\"+parsed.ship_id+\",\";\nif(parsed.exists){\n    updateDynamic=\"UPDATE ais_dynamic set \";\n}\ni=1;\nObject.keys(dynamic).forEach(key => {\n\t// console.log(key, static[key]);\n    if(i>1){\n    \tinsertDynamic+=\",\";\n    \tupdateDynamic+=\",\";\n    }\n    var column = String(key);\n    var value = String(dynamic[key]);\n    if(value===\"undefined\"){\n        value=\"0\";\n    }\n    if(column===\"raim\"){\n        if(value===\"false\"){\n            value=\"0\";\n        }else{\n            value=\"1\";\n        }\n    }\n    if(column===\"latitude\" || column===\"longitude\"){\n        if(value!==\"0\" && value!==\"undefined\"){\n            insertDynamic+=column+\"='\"+value+\"'\";\n            updateDynamic+=column+\"='\"+value+\"'\";\n        }\n    }else{\n        insertDynamic+=column+\"='\"+value+\"'\";\n        updateDynamic+=column+\"='\"+value+\"'\";\n    }\n    i++;\n});\ninsertDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\nif(!parsed.exists){\n    updateDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}else{\n    updateDynamic+=\",updated_at=UTC_TIMESTAMP() WHERE ship_id=\"+parsed.ship_id;\n}\n\nmsg.insertDynamic=insertDynamic.replace(\",,,\", \",\");\nmsg.updateDynamic=updateDynamic.replace(\",,,\", \",\");\n\nvar insertDestination=0;\ni=1;\nif(destination.destination!==undefined){\n    var tempEta = destination.eta.toISOString().slice(0, 19).replace('T', ' ');\n    destination.eta = tempEta;\n    insertDestination=\"INSERT INTO ais_destination set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(destination).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDestination+=\",\";\n        }\n        var column = String(key);\n        var value = String(destination[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDestination+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDestination+=\",updated_at='\"+parsed.time_stamp+\"'\";\n    insertDestination=insertDestination.replace(\"\\\\\", \"\\\\\\\\\");\n}\nmsg.insertDestination=insertDestination;\n\nvar insertDraught=0;\ni=1;\nif(draught.draught!==undefined){\n    insertDraught=\"INSERT INTO ais_draught set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(draught).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDraught+=\",\";\n        }\n        var column = String(key);\n        var value = String(draught[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDraught+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDraught+=\",updated_at='\"+parsed.time_stamp+\"'\";\n}\nmsg.insertDraught=insertDraught;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":180,"wires":[["24c1f319968574ae"]]},{"id":"24c1f319968574ae","type":"change","z":"0e6ef4deee1bd260","name":"insertDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[[]]},{"id":"a7d053aea04265b3","type":"change","z":"0e6ef4deee1bd260","name":"updateDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"updateDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[[]]},{"id":"15ac5ba62ace552b","type":"change","z":"0e6ef4deee1bd260","name":"insertDestination","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDestination","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[[]]},{"id":"ae42dc8e252c15bc","type":"change","z":"0e6ef4deee1bd260","name":"insertDraught","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDraught","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[[]]},{"id":"51b8c0a9ad1b9559","type":"switch","z":"0e6ef4deee1bd260","name":"checkDestination","property":"insertDestination","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":300,"wires":[["15ac5ba62ace552b"],["b01babb848ae24c6"]]},{"id":"b01babb848ae24c6","type":"switch","z":"0e6ef4deee1bd260","name":"checkDraught","property":"insertDraught","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":380,"wires":[["ae42dc8e252c15bc"],[]]},{"id":"2003ed86b68c76fd","type":"function","z":"0e6ef4deee1bd260","name":"","func":"var decoded=msg.payload;\nmsg.decoded=decoded;\nif(decoded!==undefined){\n    msg.sqlStatic=\"SELECT * from ais_static where mmsi='\"+msg.payload.senderMmsi+\"'\";\n    // msg.sqlDynamic=\"SELECT count() as total from ais_dynamic where mmsi='\"+msg.payload.senderMmsi+\"'\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":60,"wires":[["2a4a224363d19b10"]]},{"id":"6449a6dab87d98b4","type":"switch","z":"0e6ef4deee1bd260","name":"If !Undefined","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":60,"wires":[["2003ed86b68c76fd"],[]]},{"id":"2a4a224363d19b10","type":"change","z":"0e6ef4deee1bd260","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sqlStatic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":60,"wires":[[]]},{"id":"feb35ce44d81ac9e","type":"function","z":"0e6ef4deee1bd260","name":"","func":"// if (msg.payload && !msg.payload.length){\n//     msg.result=\"No Data\";\n// }else{\n//     msg.result=msg.payload.length;\n// }\n// return msg;\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar isDataExists=true;\nvar ship_id=0;\nvar aisData={static:{},dynamic:{},destination:{},draught:{}};\n\nif (msg.payload && !msg.payload.length){\n    isDataExists=false;\n}\n\nvar d = new Date();\nvar time_stamp = String(d.getUTCFullYear())+'-'+String(addZero(d.getUTCMonth()+1))+'-'+String(addZero(d.getUTCDate()))+' ';\ntime_stamp += String(addZero(d.getUTCHours()))+':'+String(addZero(d.getUTCMinutes()))+':'+String(addZero(d.getUTCSeconds()));\n\n//Init Ship ID\nif(!isDataExists){\n    ship_id=0;\n}else{\n    ship_id=msg.payload[0].id;\n}\naisData.ship_id=ship_id;\n//Static Data\naisData.static.mmsi=msg.decoded.senderMmsi,\naisData.static.callsign=msg.decoded.callsign,\naisData.static.vessel_name=msg.decoded.name,\naisData.static.imo=msg.decoded.shipId,\naisData.static.ship_type=msg.decoded.shipType,\naisData.static.dimension_a=msg.decoded.dimensionToBow,\naisData.static.dimension_b=msg.decoded.dimensionToStern,\naisData.static.dimension_c=msg.decoded.dimensionToPort,\naisData.static.dimension_d=msg.decoded.dimensionToStarboard,\naisData.static.fix_type=msg.decoded.fix_type,\n//Dynamic Data\naisData.dynamic.station_id=global.get('stationId'),\naisData.dynamic.sog=msg.decoded.speedOverGround,\naisData.dynamic.cog=msg.decoded.courseOverGround,\naisData.dynamic.heading=msg.decoded.trueHeading,\naisData.dynamic.turning_direction=msg.decoded.turningDirection,\naisData.dynamic.rot=msg.decoded.turningRate,\naisData.dynamic.bearing=0,\naisData.dynamic.nav_status=msg.decoded.navigationStatus,\naisData.dynamic.latitude=msg.decoded.latitude,\naisData.dynamic.longitude=msg.decoded.longitude,\naisData.dynamic.raim=msg.decoded.raim,\naisData.dynamic.msg_type=msg.decoded.messageType,\naisData.dynamic.repeat_indicator=msg.decoded.repeatIndicator,\naisData.dynamic.position_accuracy=msg.decoded.positionAccuracy,\n//Destination\naisData.destination.destination=msg.decoded.destination,\naisData.destination.eta=msg.decoded.eta,\n//Draught\naisData.draught.draught=msg.decoded.draught;\n//Timestamp\naisData.time_stamp=time_stamp;\n//isExists?\naisData.exists=isDataExists;\n\nmsg.parsed=aisData;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["4c6cb34eab7827ee"]]},{"id":"4c6cb34eab7827ee","type":"function","z":"0e6ef4deee1bd260","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nvar parsed=msg.parsed;\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\nvar astatic=parsed.static;\nvar staticSize = Object.size(astatic);\n\nvar insertStatic;\nvar isUpdate=false;\nif(!parsed.exists){\n\tinsertStatic=\"INSERT INTO ais_static set \";\n}else{\n    insertStatic=\"UPDATE ais_static set \";\n    isUpdate=true;\n}\nvar i=1;\nObject.keys(astatic).forEach(key => {\n    // console.log(key, astatic[key]);\n    if(i>1){\n        insertStatic+=\",\";\n    }\n    var column = String(key);\n    var value = String(astatic[key]);\n    if(value===\"undefined\"){\n        value=0;\n        if(column==\"vessel_name\"){\n            value=\"\";\n        }else if(column==\"imo\"){\n            value=\"\";\n        }else if(column==\"callsign\"){\n            value=\"\";\n        }\n    }\n    insertStatic+=column+\"='\"+value+\"'\";\n    i++;\n});\n// console.log(insertStatic);\nif(isUpdate){\n    insertStatic+=\",updated_at=UTC_TIMESTAMP() WHERE id=\"+parsed.ship_id;\n}else{\n    insertStatic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}\nmsg.topic=insertStatic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[[]]},{"id":"5411a78f77b00555","type":"function","z":"0e6ef4deee1bd260","name":"","func":"if(msg.payload===undefined){\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":60,"wires":[["6449a6dab87d98b4"]]},{"id":"c96d5130e092c8ac","type":"function","z":"989d741af49f8810","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nif(msg.parsed.ship_id===0){\n    msg.parsed.ship_id=msg.payload.insertId;\n}\nvar parsed=msg.parsed;\n\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar dynamic=parsed.dynamic;\nvar destination=parsed.destination;\nvar draught=parsed.draught;\nvar dynamicSize = Object.size(dynamic);\nvar destinationSize = Object.size(destination);\nvar draughtSize = Object.size(draught);\n\nmsg.parsed.size={};\nmsg.parsed.size.dynamic=dynamicSize;\nmsg.parsed.size.destination=destinationSize;\nmsg.parsed.size.draught=draughtSize;\n\nvar d = new Date();\nvar suffix = String(d.getUTCFullYear())+String(addZero(d.getUTCMonth()+1));\nvar insertDynamic=\"INSERT INTO ais_dynamic_\"+suffix+\" set ship_id=\"+parsed.ship_id+\",\";\nvar updateDynamic=\"INSERT INTO ais_dynamic set ship_id=\"+parsed.ship_id+\",\";\nif(parsed.exists){\n    updateDynamic=\"UPDATE ais_dynamic set \";\n}\ni=1;\nObject.keys(dynamic).forEach(key => {\n\t// console.log(key, static[key]);\n    if(i>1){\n    \tinsertDynamic+=\",\";\n    \tupdateDynamic+=\",\";\n    }\n    var column = String(key);\n    var value = String(dynamic[key]);\n    if(value===\"undefined\"){\n        value=\"0\";\n    }\n    if(column===\"raim\"){\n        if(value===\"false\"){\n            value=\"0\";\n        }else{\n            value=\"1\";\n        }\n    }\n    if(column===\"latitude\" || column===\"longitude\"){\n        if(value!==\"0\" && value!==\"undefined\"){\n            insertDynamic+=column+\"='\"+value+\"'\";\n            updateDynamic+=column+\"='\"+value+\"'\";\n        }\n    }else{\n        insertDynamic+=column+\"='\"+value+\"'\";\n        updateDynamic+=column+\"='\"+value+\"'\";\n    }\n    i++;\n});\ninsertDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\nif(!parsed.exists){\n    updateDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}else{\n    updateDynamic+=\",updated_at=UTC_TIMESTAMP() WHERE ship_id=\"+parsed.ship_id;\n}\n\nmsg.insertDynamic=insertDynamic.replace(\",,,\", \",\");\nmsg.updateDynamic=updateDynamic.replace(\",,,\", \",\");\n\nvar insertDestination=0;\ni=1;\nif(destination.destination!==undefined){\n    var tempEta = destination.eta.toISOString().slice(0, 19).replace('T', ' ');\n    destination.eta = tempEta;\n    insertDestination=\"INSERT INTO ais_destination set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(destination).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDestination+=\",\";\n        }\n        var column = String(key);\n        var value = String(destination[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDestination+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDestination+=\",updated_at='\"+parsed.time_stamp+\"'\";\n    insertDestination=insertDestination.replace(\"\\\\\", \"\\\\\\\\\");\n}\nmsg.insertDestination=insertDestination;\n\nvar insertDraught=0;\ni=1;\nif(draught.draught!==undefined){\n    insertDraught=\"INSERT INTO ais_draught set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(draught).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDraught+=\",\";\n        }\n        var column = String(key);\n        var value = String(draught[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDraught+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDraught+=\",updated_at='\"+parsed.time_stamp+\"'\";\n}\nmsg.insertDraught=insertDraught;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":180,"wires":[["822074c3c69a9927"]]},{"id":"822074c3c69a9927","type":"change","z":"989d741af49f8810","name":"insertDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[[]]},{"id":"3e5c9bc04893e146","type":"change","z":"989d741af49f8810","name":"updateDynamic","rules":[{"t":"set","p":"topic","pt":"msg","to":"updateDynamic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[[]]},{"id":"a6be36537ea05571","type":"change","z":"989d741af49f8810","name":"insertDestination","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDestination","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[[]]},{"id":"bb25a4165f9eb954","type":"change","z":"989d741af49f8810","name":"insertDraught","rules":[{"t":"set","p":"topic","pt":"msg","to":"insertDraught","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[[]]},{"id":"8edac1fb80326137","type":"switch","z":"989d741af49f8810","name":"checkDestination","property":"insertDestination","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":300,"wires":[["a6be36537ea05571"],["e54a29f0e770562c"]]},{"id":"e54a29f0e770562c","type":"switch","z":"989d741af49f8810","name":"checkDraught","property":"insertDraught","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":380,"wires":[["bb25a4165f9eb954"],[]]},{"id":"44eced43811b42f9","type":"function","z":"989d741af49f8810","name":"","func":"var decoded=msg.payload;\nmsg.decoded=decoded;\nif(decoded!==undefined){\n    msg.sqlStatic=\"SELECT * from ais_static where mmsi='\"+msg.payload.senderMmsi+\"'\";\n    // msg.sqlDynamic=\"SELECT count() as total from ais_dynamic where mmsi='\"+msg.payload.senderMmsi+\"'\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":60,"wires":[["bfbbead5f13f5082"]]},{"id":"485c22cfd72a2725","type":"switch","z":"989d741af49f8810","name":"If !Undefined","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":60,"wires":[["44eced43811b42f9"],[]]},{"id":"bfbbead5f13f5082","type":"change","z":"989d741af49f8810","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sqlStatic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":60,"wires":[[]]},{"id":"6cb26c273ac6931a","type":"function","z":"989d741af49f8810","name":"","func":"// if (msg.payload && !msg.payload.length){\n//     msg.result=\"No Data\";\n// }else{\n//     msg.result=msg.payload.length;\n// }\n// return msg;\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar isDataExists=true;\nvar ship_id=0;\nvar aisData={static:{},dynamic:{},destination:{},draught:{}};\n\nif (msg.payload && !msg.payload.length){\n    isDataExists=false;\n}\n\nvar d = new Date();\nvar time_stamp = String(d.getUTCFullYear())+'-'+String(addZero(d.getUTCMonth()+1))+'-'+String(addZero(d.getUTCDate()))+' ';\ntime_stamp += String(addZero(d.getUTCHours()))+':'+String(addZero(d.getUTCMinutes()))+':'+String(addZero(d.getUTCSeconds()));\n\n//Init Ship ID\nif(!isDataExists){\n    ship_id=0;\n}else{\n    ship_id=msg.payload[0].id;\n}\naisData.ship_id=ship_id;\n//Static Data\naisData.static.mmsi=msg.decoded.senderMmsi,\naisData.static.callsign=msg.decoded.callsign,\naisData.static.vessel_name=msg.decoded.name,\naisData.static.imo=msg.decoded.shipId,\naisData.static.ship_type=msg.decoded.shipType,\naisData.static.dimension_a=msg.decoded.dimensionToBow,\naisData.static.dimension_b=msg.decoded.dimensionToStern,\naisData.static.dimension_c=msg.decoded.dimensionToPort,\naisData.static.dimension_d=msg.decoded.dimensionToStarboard,\naisData.static.fix_type=msg.decoded.fix_type,\n//Dynamic Data\naisData.dynamic.station_id=global.get('stationId'),\naisData.dynamic.sog=msg.decoded.speedOverGround,\naisData.dynamic.cog=msg.decoded.courseOverGround,\naisData.dynamic.heading=msg.decoded.trueHeading,\naisData.dynamic.turning_direction=msg.decoded.turningDirection,\naisData.dynamic.rot=msg.decoded.turningRate,\naisData.dynamic.bearing=0,\naisData.dynamic.nav_status=msg.decoded.navigationStatus,\naisData.dynamic.latitude=msg.decoded.latitude,\naisData.dynamic.longitude=msg.decoded.longitude,\naisData.dynamic.raim=msg.decoded.raim,\naisData.dynamic.msg_type=msg.decoded.messageType,\naisData.dynamic.repeat_indicator=msg.decoded.repeatIndicator,\naisData.dynamic.position_accuracy=msg.decoded.positionAccuracy,\n//Destination\naisData.destination.destination=msg.decoded.destination,\naisData.destination.eta=msg.decoded.eta,\n//Draught\naisData.draught.draught=msg.decoded.draught;\n//Timestamp\naisData.time_stamp=time_stamp;\n//isExists?\naisData.exists=isDataExists;\n\nmsg.parsed=aisData;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["d13b2b09b129de3a"]]},{"id":"d13b2b09b129de3a","type":"function","z":"989d741af49f8810","name":"","func":"// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nvar parsed=msg.parsed;\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\nvar astatic=parsed.static;\nvar staticSize = Object.size(astatic);\n\nvar insertStatic;\nvar isUpdate=false;\nif(!parsed.exists){\n\tinsertStatic=\"INSERT INTO ais_static set \";\n}else{\n    insertStatic=\"UPDATE ais_static set \";\n    isUpdate=true;\n}\nvar i=1;\nObject.keys(astatic).forEach(key => {\n    // console.log(key, astatic[key]);\n    if(i>1){\n        insertStatic+=\",\";\n    }\n    var column = String(key);\n    var value = String(astatic[key]);\n    if(value===\"undefined\"){\n        value=0;\n        if(column==\"vessel_name\"){\n            value=\"\";\n        }else if(column==\"imo\"){\n            value=\"\";\n        }else if(column==\"callsign\"){\n            value=\"\";\n        }\n    }\n    insertStatic+=column+\"='\"+value+\"'\";\n    i++;\n});\n// console.log(insertStatic);\nif(isUpdate){\n    insertStatic+=\",updated_at=UTC_TIMESTAMP() WHERE id=\"+parsed.ship_id;\n}else{\n    insertStatic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}\nmsg.topic=insertStatic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[[]]},{"id":"61350cdf9ff5e2c0","type":"ais-decoder","z":"989d741af49f8810","name":"","x":130,"y":60,"wires":[["966faaa917ceb0d4"]]},{"id":"966faaa917ceb0d4","type":"function","z":"989d741af49f8810","name":"","func":"if(msg.payload===undefined){\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":60,"wires":[["485c22cfd72a2725"]]},{"id":"91f07b0b1beac785","type":"function","z":"80f8a74d09dd9b8e","name":"function 1","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenlks.pernika.net/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":120,"wires":[["b1dbe95f24f578f0"]]},{"id":"87113fc21a601501","type":"split","z":"80f8a74d09dd9b8e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":310,"y":100,"wires":[["598bf7a64767202f","10c9f171092ecb97"]]},{"id":"9e582d152143cdb2","type":"function","z":"80f8a74d09dd9b8e","name":"function 2","func":"flow.set(\"dataais\", msg.payload)\nmsg.payload = msg.payload.source\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":120,"wires":[["02f82ac6b123a9d7"]]},{"id":"02f82ac6b123a9d7","type":"ais-decoder","z":"80f8a74d09dd9b8e","name":"","x":1050,"y":120,"wires":[["91f07b0b1beac785"]]},{"id":"598bf7a64767202f","type":"function","z":"80f8a74d09dd9b8e","name":"function 6","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":60,"wires":[["bb393fdd3886b308","8ca7be96b9aebb4f"]]},{"id":"db85db0c414fe9cb","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"regex","v":"^(0\\d{8}|1\\d{8}|2\\d{8}|3\\d{8}|4\\d{8}|5\\d{8}|6\\d{8}|7\\d{8}|8\\d{8}|9\\d{8})$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":120,"wires":[["9e582d152143cdb2"]]},{"id":"8ca7be96b9aebb4f","type":"ais-decoder","z":"80f8a74d09dd9b8e","name":"","x":610,"y":20,"wires":[["03f0db8f60e81b36"]]},{"id":"03f0db8f60e81b36","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":20,"wires":[["a5d56ae4d1ade438"]]},{"id":"a5d56ae4d1ade438","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":20,"wires":[["02b43f7af9a2a960","22f5244112f7294d"]]},{"id":"02b43f7af9a2a960","type":"function","z":"80f8a74d09dd9b8e","name":"function 11","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenlks.pernika.net/api/aisstatic\"\nconst aisdata2 = msg.payload\nmsg.payload = aisdata2;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":20,"wires":[["593c5960ff755da4"]]},{"id":"10c9f171092ecb97","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"GPRMC","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":180,"wires":[["2716dfc702639cb5"]]},{"id":"2716dfc702639cb5","type":"function","z":"80f8a74d09dd9b8e","name":"function 14","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":180,"wires":[["b70bafccf996f9a1"]]},{"id":"336a6319b86be83d","type":"function","z":"80f8a74d09dd9b8e","name":"function 15","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenlks.pernika.net/api/position\"\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":180,"wires":[["8d6440c5f678f75e"]]},{"id":"22f5244112f7294d","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 26","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":80,"wires":[]},{"id":"8e574384b6ad5386","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 27","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":100,"wires":[]},{"id":"e550773532203df3","type":"split","z":"80f8a74d09dd9b8e","name":"","splt":"\\","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":110,"y":80,"wires":[["4e3c733e8d94224d"]]},{"id":"4e3c733e8d94224d","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!AIVDM","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":40,"wires":[["87113fc21a601501"]]},{"id":"200baa739e976dcf","type":"websocket out","z":"80f8a74d09dd9b8e","name":"","server":"dd018d89c98db1d1","client":"","x":1980,"y":200,"wires":[]},{"id":"5ceac2b50f3b1403","type":"split","z":"80f8a74d09dd9b8e","name":"","splt":"\\","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":310,"y":380,"wires":[["0553a72103073d8d"]]},{"id":"e799cbb117a99718","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":380,"wires":[["667f0bf3b33c1353","05b53190488e8cd7"]]},{"id":"667f0bf3b33c1353","type":"function","z":"80f8a74d09dd9b8e","name":"function 17","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM ais_data_vessels WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":340,"wires":[["8d8dd00a469def65"]]},{"id":"05b53190488e8cd7","type":"function","z":"80f8a74d09dd9b8e","name":"function 18","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM vessel_list_20240621 WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":420,"wires":[["c7af4539743c7b46"]]},{"id":"8d8dd00a469def65","type":"mysql","z":"80f8a74d09dd9b8e","mydb":"c306af48406793df","name":"","x":1000,"y":340,"wires":[["01b2536b4a8247b2"]]},{"id":"c7af4539743c7b46","type":"mysql","z":"80f8a74d09dd9b8e","mydb":"c306af48406793df","name":"","x":1000,"y":420,"wires":[["12c9d939b488e31e"]]},{"id":"01b2536b4a8247b2","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":340,"wires":[["4e05a6202b842d19"]]},{"id":"12c9d939b488e31e","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":420,"wires":[["4e05a6202b842d19"]]},{"id":"4e05a6202b842d19","type":"function","z":"80f8a74d09dd9b8e","name":"function 19","func":"const aisdata1 = flow.get(\"dataaistemp\")\nconst aisdata2 = msg.payload[0]\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":380,"wires":[["1d49c5f38a45ec26"]]},{"id":"844bbf819cdd5808","type":"websocket out","z":"80f8a74d09dd9b8e","name":"","server":"dd018d89c98db1d1","client":"","x":2160,"y":380,"wires":[]},{"id":"1d49c5f38a45ec26","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1490,"y":380,"wires":[["1640c619383b2161"]]},{"id":"03c392ed6aec309f","type":"function","z":"80f8a74d09dd9b8e","name":"function 20","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":100,"wires":[["8e574384b6ad5386"]]},{"id":"66c6e2d66bbf9609","type":"function","z":"80f8a74d09dd9b8e","name":"function 21","func":"const originalJson1 = msg.payload;\n\nconst transformedJson1 = {\n    \"aisData\": {\n        \"id\": originalJson1.id,\n        \"vessel\": {\n            \"vessel_name\": originalJson1.vessel_name,\n            \"vessel_type\": originalJson1.vessel_type,\n            \"mmsi\": originalJson1.mmsi,\n            \"imo\": originalJson1.imo,\n            \"callsign\": originalJson1.callsign,\n            \"draught\": originalJson1.draught,\n            \"dimension_to_bow\": originalJson1.dimension_to_bow,\n            \"dimension_to_stern\": originalJson1.dimension_to_stern,\n            \"dimension_to_port\": originalJson1.dimension_to_port,\n            \"dimension_to_starboard\": originalJson1.dimension_to_starboard,\n            \"reported_destination\": originalJson1.reported_destination,\n            \"out_of_range\": originalJson1.out_of_range,\n            \"type_number\": originalJson1.type_number,\n            \"reported_eta\": originalJson1.reported_eta,\n            \"no_pkk\": originalJson1.no_pkk,\n            \"jenis_layanan\": originalJson1.jenis_layanan,\n            \"nama_negara\": originalJson1.nama_negara,\n            \"tipe_kapal\": originalJson1.tipe_kapal,\n            \"nama_perusahaan\": originalJson1.nama_perusahaan,\n            \"tgl_tiba\": originalJson1.tgl_tiba,\n            \"tgl_brangkat\": originalJson1.tgl_brangkat,\n            \"bendera\": originalJson1.bendera,\n            \"gt_kapal\": originalJson1.gt_kapal,\n            \"dwt\": originalJson1.dwt,\n            \"nakhoda\": originalJson1.nakhoda,\n            \"jenis_trayek\": originalJson1.jenis_trayek,\n            \"pelabuhan_asal\": originalJson1.pelabuhan_asal,\n            \"pelabuhan_tujuan\": originalJson1.pelabuhan_tujuan,\n            \"lokasi_lambat_labuh\": originalJson1.lokasi_lambat_labuh,\n            \"nomor_spog\": originalJson1.nomor_spog,\n            \"jenis_muatan\": originalJson1.jenis_muatan,\n            \"no_pandu\": originalJson1.no_pandu,\n            \"nama_pandu\": originalJson1.nama_pandu,\n            \"nama_kapal_eks\": originalJson1.nama_kapal_eks,\n            \"nama_kapal_pemilik\": originalJson1.nama_kapal_pemilik,\n            \"loa\": originalJson1.loa,\n            \"counting_hari\": originalJson1.counting_hari,\n            \"tgl_counting_hari\": originalJson1.tgl_counting_hari,\n            \"last_update_counting\": originalJson1.last_update_counting,\n            \"isAssign\": originalJson1.isAssign,\n            \"nama_kapal_inaportnet\": originalJson1.nama_kapal_inaportnet,\n            \"created_at\": originalJson1.created_at,\n            \"updated_at\": originalJson1.updated_at\n        },\n        \"channel\": originalJson1.channel,\n        \"messageType\": originalJson1.messageType,\n        \"repeatIndicator\": originalJson1.repeatIndicator,\n        \"senderMmsi\": originalJson1.senderMmsi,\n        \"navigationStatus\": originalJson1.navigationStatus,\n        \"speed\": originalJson1.speedOverGround,\n        \"positionAccurate\": originalJson1.positionAccurate,\n        \"longitude\": originalJson1.longitude,\n        \"latitude\": originalJson1.latitude,\n        \"course\": originalJson1.courseOverGround,\n        \"heading\": originalJson1.courseOverGround,\n        \"timeStampSeconds\": originalJson1.timeStampSeconds,\n        \"raim\": originalJson1.raim,\n        \"radioStatus\": originalJson1.radioStatus,\n        \"talkerId\": originalJson1.talkerId,\n        \"sentenceId\": originalJson1.sentenceId,\n        \"talkerId_text\": originalJson1.talkerId_text,\n        \"sentenceId_text\": originalJson1.sentenceId_text,\n        \"messageType_text\": originalJson1.messageType_text,\n        \"navigationStatus_text\": originalJson1.navigationStatus,\n        \"navigation_status\": originalJson1.navigationStatus,\n        \"timestamp\": new Date().toISOString(),\n        \"distance\": 0,\n        \"is_inside_geofence\": 0,\n        \"is_geofence\": 0,\n        \"created_at\": new Date().toISOString(),\n        \"updated_at\": new Date().toISOString()\n    }\n};\n\nmsg.payload = transformedJson1;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1950,"y":380,"wires":[["844bbf819cdd5808","4c99d1e4ed76c091"]]},{"id":"f25d29dc8abc2295","type":"mqtt in","z":"80f8a74d09dd9b8e","name":"","topic":"aispybadak","qos":"2","datatype":"auto-detect","broker":"c397fcf23234d0d8","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":460,"wires":[["8e72c01563a15eb5"]]},{"id":"8e72c01563a15eb5","type":"function","z":"80f8a74d09dd9b8e","name":"function 22","func":"// Function to extract key-value pairs from the input string\nfunction parseMessageType3(input) {\n    // Remove \"MessageType3(\" and the trailing \")\"\n    let cleaned = input.replace(/^MessageType3\\(|\\)$/g, '');\n\n    // Extract key-value pairs by splitting on \", \" and processing each entry\n    let parts = cleaned.split(/, (?![^<>]*>)/);\n    let obj = {};\n\n    parts.forEach(part => {\n        let [key, value] = part.split('=');\n        \n        // Clean up key and value\n        key = key.trim();\n        value = value.trim();\n\n        // Process specific types of values\n        if (value.startsWith('<') && value.endsWith('>')) {\n            // Extract enum-like values (e.g. \"<NavigationStatus.AtAnchor: 1>\")\n            value = value.match(/<[^.]+\\.(.+):/)[1]; // extract the enum value\n        } else if (!isNaN(parseFloat(value))) {\n            // Handle numeric values\n            value = parseFloat(value);\n        } else if (value === 'True' || value === 'False') {\n            // Handle boolean values\n            value = value === 'True';\n        } else if (value.startsWith(\"b'\")) {\n            // Handle byte array (e.g. b'\\x00')\n            value = value.replace(/^b'|\\'$/g, '');\n        }\n\n        obj[key] = value;\n    });\n\n    return obj;\n}\n\n// Parse the input string and convert to JSON\nlet parsedData = parseMessageType3(msg.payload);\n\n// Set the parsed JSON object as the output message payload\nmsg.payload = parsedData;\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":480,"wires":[["e799cbb117a99718"]]},{"id":"1640c619383b2161","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.latitude","propertyType":"msg","rules":[{"t":"regex","v":"^(-([0-9]|10|11)\\.\\d+|[0-5]\\.\\d+|6\\.0*)$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":380,"wires":[["939a56c866dc41e3"]]},{"id":"7283f00c5d41e9bc","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 33","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1820,"y":440,"wires":[]},{"id":"939a56c866dc41e3","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.longitude","propertyType":"msg","rules":[{"t":"regex","v":"^(9[5-9]|1[0-3][0-9]|14[0-1])\\.\\d+$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1790,"y":380,"wires":[["66c6e2d66bbf9609","7283f00c5d41e9bc"]]},{"id":"efe9f3c508433422","type":"websocket in","z":"80f8a74d09dd9b8e","name":"","server":"","client":"0e7cebf9688e36f6","x":230,"y":600,"wires":[["deb16ac9b208f044"]]},{"id":"deb16ac9b208f044","type":"json","z":"80f8a74d09dd9b8e","name":"","property":"payload","action":"","pretty":false,"x":550,"y":600,"wires":[["e3bb0ff22f1a7371"]]},{"id":"e3bb0ff22f1a7371","type":"function","z":"80f8a74d09dd9b8e","name":"function 23","func":"const mmsi = msg.payload.updates[0].values[0].value.mmsi;\nmsg.mmsi = mmsi\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":600,"wires":[["d10f28f39bfdd8df"]]},{"id":"d10f28f39bfdd8df","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":600,"wires":[["35e6b726133bd3bf","4afed327a1a89430"]]},{"id":"35e6b726133bd3bf","type":"function","z":"80f8a74d09dd9b8e","name":"function 24","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp2\", msg.payload)\nconst mmsi = msg.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM ais_data_vessels WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":540,"wires":[["e96fc64125e3509e"]]},{"id":"4afed327a1a89430","type":"function","z":"80f8a74d09dd9b8e","name":"function 25","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp2\", msg.payload)\nconst mmsi = msg.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM vessel_list_20240621 WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":600,"wires":[["1533648b2987751b"]]},{"id":"e96fc64125e3509e","type":"mysql","z":"80f8a74d09dd9b8e","mydb":"c306af48406793df","name":"","x":1280,"y":520,"wires":[["1180395d7dc02015"]]},{"id":"1533648b2987751b","type":"mysql","z":"80f8a74d09dd9b8e","mydb":"c306af48406793df","name":"","x":1280,"y":600,"wires":[["c7d57ee42fe65d91"]]},{"id":"1180395d7dc02015","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1430,"y":520,"wires":[["9061abdc29a55f40"]]},{"id":"c7d57ee42fe65d91","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1430,"y":600,"wires":[["9061abdc29a55f40"]]},{"id":"9061abdc29a55f40","type":"function","z":"80f8a74d09dd9b8e","name":"function 26","func":"const aisdata1 = flow.get(\"dataaistemp2\")\nconst aisdata2 = msg.payload[0]\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":560,"wires":[["1c41adbc1262da88"]]},{"id":"1c41adbc1262da88","type":"function","z":"80f8a74d09dd9b8e","name":"function 27","func":"const originalJson1 = msg.payload;\n\nconst transformedJson1 = {\n    \"aisData\": {\n        \"id\": originalJson1.uuid,  // Mapping 'uuid' to 'id'\n        \"vessel\": {\n            \"vessel_name\": originalJson1.name,  // Mapping 'name' to 'vessel_name'\n            \"vessel_type\": originalJson1.vessel_type,\n            \"mmsi\": originalJson1.mmsi,\n            \"imo\": originalJson1.imo,\n            \"callsign\": originalJson1.callsign,\n            \"draught\": originalJson1.draught || null,  // If missing, fallback to null\n            \"dimension_to_bow\": originalJson1.dimension_to_bow || null,\n            \"dimension_to_stern\": originalJson1.dimension_to_stern || null,\n            \"dimension_to_port\": originalJson1.dimension_to_port || null,\n            \"dimension_to_starboard\": originalJson1.dimension_to_starboard || null,\n            \"reported_destination\": originalJson1.reported_destination || null,\n            \"out_of_range\": originalJson1.out_of_range || null,\n            \"type_number\": originalJson1.type_number || null,\n            \"reported_eta\": originalJson1.reported_eta || null,\n            \"no_pkk\": originalJson1.no_pkk || null,\n            \"jenis_layanan\": originalJson1.jenis_layanan || null,\n            \"nama_negara\": originalJson1.country || null,  // Mapping 'country' to 'nama_negara'\n            \"tipe_kapal\": originalJson1.vessel_type_specific || null,  // Mapping 'vessel_type_specific' to 'tipe_kapal'\n            \"nama_perusahaan\": originalJson1.nama_perusahaan || null,\n            \"tgl_tiba\": originalJson1.tgl_tiba || null,\n            \"tgl_brangkat\": originalJson1.tgl_brangkat || null,\n            \"bendera\": originalJson1.country || null,  // Mapping 'country' to 'bendera'\n            \"gt_kapal\": originalJson1.gross_tonnage || null,  // Mapping 'gross_tonnage' to 'gt_kapal'\n            \"dwt\": originalJson1.deadweight || null,  // Mapping 'deadweight' to 'dwt'\n            \"nakhoda\": originalJson1.nakhoda || null,\n            \"jenis_trayek\": originalJson1.jenis_trayek || null,\n            \"pelabuhan_asal\": originalJson1.pelabuhan_asal || null,\n            \"pelabuhan_tujuan\": originalJson1.pelabuhan_tujuan || null,\n            \"lokasi_lambat_labuh\": originalJson1.lokasi_lambat_labuh || null,\n            \"nomor_spog\": originalJson1.nomor_spog || null,\n            \"jenis_muatan\": originalJson1.jenis_muatan || null,\n            \"no_pandu\": originalJson1.no_pandu || null,\n            \"nama_pandu\": originalJson1.nama_pandu || null,\n            \"nama_kapal_eks\": originalJson1.nama_kapal_eks || null,\n            \"nama_kapal_pemilik\": originalJson1.nama_kapal_pemilik || null,\n            \"loa\": originalJson1.length || null,  // Mapping 'length' to 'loa'\n            \"counting_hari\": originalJson1.counting_hari || null,\n            \"tgl_counting_hari\": originalJson1.tgl_counting_hari || null,\n            \"last_update_counting\": originalJson1.last_update_counting || null,\n            \"isAssign\": originalJson1.isAssign || null,\n            \"nama_kapal_inaportnet\": originalJson1.nama_kapal_inaportnet || null,\n            \"created_at\": originalJson1.created_at || null,\n            \"updated_at\": originalJson1.updated_at || null\n        },\n        \"channel\": originalJson1.channel || null,\n        \"messageType\": originalJson1.messageType || null,\n        \"repeatIndicator\": originalJson1.repeatIndicator || null,\n        \"senderMmsi\": originalJson1.senderMmsi || null,\n        \"navigationStatus\": originalJson1.navigationStatus || null,\n        \"speed\": originalJson1.updates[0].values.find(v => v.path === 'navigation.speedOverGround')?.value || null,\n        \"positionAccurate\": originalJson1.positionAccurate || null,\n        \"longitude\": originalJson1.updates[0].values.find(v => v.path === 'navigation.position')?.value.longitude || null,\n        \"latitude\": originalJson1.updates[0].values.find(v => v.path === 'navigation.position')?.value.latitude || null,\n        \"course\": originalJson1.updates[0].values.find(v => v.path === 'navigation.courseOverGroundTrue')?.value || null,\n        \"heading\": originalJson1.updates[0].values.find(v => v.path === 'navigation.headingTrue')?.value || null,\n        \"timeStampSeconds\": originalJson1.timeStampSeconds || null,\n        \"raim\": originalJson1.raim || null,\n        \"radioStatus\": originalJson1.radioStatus || null,\n        \"talkerId\": originalJson1.updates[0].source.talker || null,\n        \"sentenceId\": originalJson1.sentenceId || null,\n        \"talkerId_text\": originalJson1.talkerId_text || null,\n        \"sentenceId_text\": originalJson1.sentenceId_text || null,\n        \"messageType_text\": originalJson1.messageType_text || null,\n        \"navigationStatus_text\": originalJson1.navigationStatus || null,\n        \"navigation_status\": originalJson1.navigationStatus || null,\n        \"timestamp\": new Date().toISOString(),\n        \"distance\": 0,\n        \"is_inside_geofence\": 0,\n        \"is_geofence\": 0,\n        \"created_at\": new Date().toISOString(),\n        \"updated_at\": new Date().toISOString()\n    }\n};\n\nmsg.payload = transformedJson1;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":560,"wires":[["d4808cef28153139","595bd109aa6f2eb8"]]},{"id":"d4808cef28153139","type":"websocket out","z":"80f8a74d09dd9b8e","name":"","server":"dd018d89c98db1d1","client":"","x":2020,"y":560,"wires":[]},{"id":"b70bafccf996f9a1","type":"nmea","z":"80f8a74d09dd9b8e","name":"","property":"payload","outputProperty":"payload","x":910,"y":180,"wires":[["336a6319b86be83d"]]},{"id":"bb393fdd3886b308","type":"ais","z":"80f8a74d09dd9b8e","name":"","x":610,"y":120,"wires":[["db85db0c414fe9cb"]]},{"id":"0553a72103073d8d","type":"ais","z":"80f8a74d09dd9b8e","name":"","x":470,"y":380,"wires":[["e799cbb117a99718","6a91724bca2ef083"]]},{"id":"593c5960ff755da4","type":"www-request","z":"80f8a74d09dd9b8e","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1250,"y":20,"wires":[[]]},{"id":"b1dbe95f24f578f0","type":"www-request","z":"80f8a74d09dd9b8e","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1470,"y":120,"wires":[["200baa739e976dcf","03c392ed6aec309f","99146c190dd7a1c8","28a9619ff808efa3","935aa0c072c287ca"]]},{"id":"8d6440c5f678f75e","type":"www-request","z":"80f8a74d09dd9b8e","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1250,"y":180,"wires":[[]]},{"id":"a965f832e565fde7","type":"tcp in","z":"80f8a74d09dd9b8e","name":"","server":"server","host":"","port":"5007","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":60,"y":160,"wires":[["e550773532203df3","5ceac2b50f3b1403","bab568d0abebb23c"]]},{"id":"99146c190dd7a1c8","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 37","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1620,"y":220,"wires":[]},{"id":"28a9619ff808efa3","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 39","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1960,"y":280,"wires":[]},{"id":"bab568d0abebb23c","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 40","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":200,"wires":[]},{"id":"935aa0c072c287ca","type":"mqtt out","z":"80f8a74d09dd9b8e","name":"","topic":"aislksmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":1920,"y":140,"wires":[]},{"id":"4c99d1e4ed76c091","type":"mqtt out","z":"80f8a74d09dd9b8e","name":"","topic":"aislksmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":2140,"y":320,"wires":[]},{"id":"595bd109aa6f2eb8","type":"mqtt out","z":"80f8a74d09dd9b8e","name":"","topic":"aislksmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":1980,"y":500,"wires":[]},{"id":"6a91724bca2ef083","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 45","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":460,"wires":[]},{"id":"99c9cf0dd43f88ed","type":"function","z":"8c155df6ea42cba3","name":"function 28","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenabp.cakrawala.id/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":120,"wires":[["a317b7bda655785d","eaacc474c53a1172"]]},{"id":"ab97f102e1884183","type":"function","z":"8c155df6ea42cba3","name":"function 29","func":"flow.set(\"dataais\", msg.payload)\nmsg.payload = msg.payload.source\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":120,"wires":[["43298d829e376e92"]]},{"id":"43298d829e376e92","type":"ais-decoder","z":"8c155df6ea42cba3","name":"","x":1060,"y":120,"wires":[["99c9cf0dd43f88ed"]]},{"id":"591a9b43279fc31a","type":"function","z":"8c155df6ea42cba3","name":"function 30","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":60,"wires":[["2ca80c0bcdb82287","6ed8495d9ff49d37"]]},{"id":"7762bd0385cbf565","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"regex","v":"^(0\\d{8}|1\\d{8}|2\\d{8}|3\\d{8}|4\\d{8}|5\\d{8}|6\\d{8}|7\\d{8}|8\\d{8}|9\\d{8})$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":120,"wires":[["ab97f102e1884183"]]},{"id":"6ed8495d9ff49d37","type":"ais-decoder","z":"8c155df6ea42cba3","name":"","x":620,"y":20,"wires":[["a06e492eb737ad46"]]},{"id":"a06e492eb737ad46","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":20,"wires":[["42ab3b4320345488"]]},{"id":"42ab3b4320345488","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":20,"wires":[["2bb44d613d8c5369","59490857dc99bd1a"]]},{"id":"2bb44d613d8c5369","type":"function","z":"8c155df6ea42cba3","name":"function 31","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenabp.cakrawala.id/api/aisstatic\"\nconst aisdata2 = msg.payload\nmsg.payload = aisdata2;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":20,"wires":[["702f9ccbce7f8f4e"]]},{"id":"d132896f6d55c17d","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"GPRMC","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":180,"wires":[["66138ad062efc64f"]]},{"id":"66138ad062efc64f","type":"function","z":"8c155df6ea42cba3","name":"function 32","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":180,"wires":[["db51a9793acffc9d"]]},{"id":"f5fe3207afac8a81","type":"function","z":"8c155df6ea42cba3","name":"function 33","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenabp.cakrawala.id/api/position\"\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":180,"wires":[["6702cfca2aab4d93"]]},{"id":"59490857dc99bd1a","type":"debug","z":"8c155df6ea42cba3","name":"debug 34","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":80,"wires":[]},{"id":"d8a9500865405c75","type":"split","z":"8c155df6ea42cba3","name":"","splt":"\\","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":120,"y":80,"wires":[["5e09432380e01091"]]},{"id":"5e09432380e01091","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!AIVDM","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":40,"wires":[["591a9b43279fc31a","d132896f6d55c17d"]]},{"id":"ed5f991cf68dd710","type":"websocket out","z":"8c155df6ea42cba3","name":"","server":"0c78b0336a5f180b","client":"","x":2000,"y":200,"wires":[]},{"id":"318b65f7b9453222","type":"split","z":"8c155df6ea42cba3","name":"","splt":"\\","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":320,"y":380,"wires":[["0b5d00ee573d50a3"]]},{"id":"d8112dee7fa4ac99","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":380,"wires":[["1ea1637770028165","58396aaa5466b63d"]]},{"id":"1ea1637770028165","type":"function","z":"8c155df6ea42cba3","name":"function 34","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM ais_data_vessels WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":340,"wires":[["b773f68f4375a872"]]},{"id":"58396aaa5466b63d","type":"function","z":"8c155df6ea42cba3","name":"function 35","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM vessel_list_20240621 WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":420,"wires":[["bde4336cbb29c5cc"]]},{"id":"b773f68f4375a872","type":"mysql","z":"8c155df6ea42cba3","mydb":"c306af48406793df","name":"","x":1010,"y":340,"wires":[["76a1c032765872d0"]]},{"id":"bde4336cbb29c5cc","type":"mysql","z":"8c155df6ea42cba3","mydb":"c306af48406793df","name":"","x":1010,"y":420,"wires":[["11d80cc37c48dc28"]]},{"id":"76a1c032765872d0","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":340,"wires":[["a7a0078baebc8197"]]},{"id":"11d80cc37c48dc28","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":420,"wires":[["a7a0078baebc8197"]]},{"id":"a7a0078baebc8197","type":"function","z":"8c155df6ea42cba3","name":"function 36","func":"const aisdata1 = flow.get(\"dataaistemp\")\nconst aisdata2 = msg.payload[0]\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":380,"wires":[["e51c2f632644b577"]]},{"id":"42877581a30ebc8e","type":"websocket out","z":"8c155df6ea42cba3","name":"","server":"0c78b0336a5f180b","client":"","x":2370,"y":380,"wires":[]},{"id":"e51c2f632644b577","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":380,"wires":[["45cb40b2003367df"]]},{"id":"142773f4a6808660","type":"function","z":"8c155df6ea42cba3","name":"function 38","func":"const originalJson1 = msg.payload;\n\nconst transformedJson1 = {\n    \"aisData\": {\n        \"id\": originalJson1.id,\n        \"vessel\": {\n            \"vessel_name\": originalJson1.vessel_name,\n            \"vessel_type\": originalJson1.vessel_type,\n            \"mmsi\": originalJson1.mmsi,\n            \"imo\": originalJson1.imo,\n            \"callsign\": originalJson1.callsign,\n            \"draught\": originalJson1.draught,\n            \"dimension_to_bow\": originalJson1.dimension_to_bow,\n            \"dimension_to_stern\": originalJson1.dimension_to_stern,\n            \"dimension_to_port\": originalJson1.dimension_to_port,\n            \"dimension_to_starboard\": originalJson1.dimension_to_starboard,\n            \"reported_destination\": originalJson1.reported_destination,\n            \"out_of_range\": originalJson1.out_of_range,\n            \"type_number\": originalJson1.type_number,\n            \"reported_eta\": originalJson1.reported_eta,\n            \"no_pkk\": originalJson1.no_pkk,\n            \"jenis_layanan\": originalJson1.jenis_layanan,\n            \"nama_negara\": originalJson1.nama_negara,\n            \"tipe_kapal\": originalJson1.tipe_kapal,\n            \"nama_perusahaan\": originalJson1.nama_perusahaan,\n            \"tgl_tiba\": originalJson1.tgl_tiba,\n            \"tgl_brangkat\": originalJson1.tgl_brangkat,\n            \"bendera\": originalJson1.bendera,\n            \"gt_kapal\": originalJson1.gt_kapal,\n            \"dwt\": originalJson1.dwt,\n            \"nakhoda\": originalJson1.nakhoda,\n            \"jenis_trayek\": originalJson1.jenis_trayek,\n            \"pelabuhan_asal\": originalJson1.pelabuhan_asal,\n            \"pelabuhan_tujuan\": originalJson1.pelabuhan_tujuan,\n            \"lokasi_lambat_labuh\": originalJson1.lokasi_lambat_labuh,\n            \"nomor_spog\": originalJson1.nomor_spog,\n            \"jenis_muatan\": originalJson1.jenis_muatan,\n            \"no_pandu\": originalJson1.no_pandu,\n            \"nama_pandu\": originalJson1.nama_pandu,\n            \"nama_kapal_eks\": originalJson1.nama_kapal_eks,\n            \"nama_kapal_pemilik\": originalJson1.nama_kapal_pemilik,\n            \"loa\": originalJson1.loa,\n            \"counting_hari\": originalJson1.counting_hari,\n            \"tgl_counting_hari\": originalJson1.tgl_counting_hari,\n            \"last_update_counting\": originalJson1.last_update_counting,\n            \"isAssign\": originalJson1.isAssign,\n            \"nama_kapal_inaportnet\": originalJson1.nama_kapal_inaportnet,\n            \"created_at\": originalJson1.created_at,\n            \"updated_at\": originalJson1.updated_at\n        },\n        \"channel\": originalJson1.channel,\n        \"messageType\": originalJson1.messageType,\n        \"repeatIndicator\": originalJson1.repeatIndicator,\n        \"senderMmsi\": originalJson1.senderMmsi,\n        \"navigationStatus\": originalJson1.navigationStatus,\n        \"speed\": originalJson1.speedOverGround,\n        \"positionAccurate\": originalJson1.positionAccurate,\n        \"longitude\": `${originalJson1.longitude}`,\n    \"latitude\": `${originalJson1.latitude}`,\n        \"course\": originalJson1.courseOverGround,\n        \"heading\": originalJson1.courseOverGround,\n        \"timeStampSeconds\": originalJson1.timeStampSeconds,\n        \"raim\": originalJson1.raim,\n        \"radioStatus\": originalJson1.radioStatus,\n        \"talkerId\": originalJson1.talkerId,\n        \"sentenceId\": originalJson1.sentenceId,\n        \"talkerId_text\": originalJson1.talkerId_text,\n        \"sentenceId_text\": originalJson1.sentenceId_text,\n        \"messageType_text\": originalJson1.messageType_text,\n        \"navigationStatus_text\": originalJson1.navigationStatus,\n        \"navigation_status\": originalJson1.navigationStatus,\n        \"timestamp\": new Date().toISOString(),\n        \"distance\": 0,\n        \"is_inside_geofence\": 0,\n        \"is_geofence\": 0,\n        \"created_at\": new Date().toISOString(),\n        \"updated_at\": new Date().toISOString()\n    }\n};\n\nmsg.payload = transformedJson1;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":380,"wires":[["35a5bae3bacc92ac","f5056e7fd6933e71"]]},{"id":"2a97c927731aa6b0","type":"mqtt in","z":"8c155df6ea42cba3","name":"","topic":"aispybadak","qos":"2","datatype":"auto-detect","broker":"c397fcf23234d0d8","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":460,"wires":[["c0c5bad0fdf6a96c"]]},{"id":"c0c5bad0fdf6a96c","type":"function","z":"8c155df6ea42cba3","name":"function 39","func":"// Function to extract key-value pairs from the input string\nfunction parseMessageType3(input) {\n    // Remove \"MessageType3(\" and the trailing \")\"\n    let cleaned = input.replace(/^MessageType3\\(|\\)$/g, '');\n\n    // Extract key-value pairs by splitting on \", \" and processing each entry\n    let parts = cleaned.split(/, (?![^<>]*>)/);\n    let obj = {};\n\n    parts.forEach(part => {\n        let [key, value] = part.split('=');\n        \n        // Clean up key and value\n        key = key.trim();\n        value = value.trim();\n\n        // Process specific types of values\n        if (value.startsWith('<') && value.endsWith('>')) {\n            // Extract enum-like values (e.g. \"<NavigationStatus.AtAnchor: 1>\")\n            value = value.match(/<[^.]+\\.(.+):/)[1]; // extract the enum value\n        } else if (!isNaN(parseFloat(value))) {\n            // Handle numeric values\n            value = parseFloat(value);\n        } else if (value === 'True' || value === 'False') {\n            // Handle boolean values\n            value = value === 'True';\n        } else if (value.startsWith(\"b'\")) {\n            // Handle byte array (e.g. b'\\x00')\n            value = value.replace(/^b'|\\'$/g, '');\n        }\n\n        obj[key] = value;\n    });\n\n    return obj;\n}\n\n// Parse the input string and convert to JSON\nlet parsedData = parseMessageType3(msg.payload);\n\n// Set the parsed JSON object as the output message payload\nmsg.payload = parsedData;\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":480,"wires":[["d8112dee7fa4ac99"]]},{"id":"45cb40b2003367df","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload.latitude","propertyType":"msg","rules":[{"t":"regex","v":"^(-([0-9]|10|11)\\.\\d+|[0-5]\\.\\d+|6\\.0*)$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1660,"y":380,"wires":[["896370521171a8e5"]]},{"id":"57852ef5ab22285e","type":"debug","z":"8c155df6ea42cba3","name":"debug 36","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1830,"y":440,"wires":[]},{"id":"896370521171a8e5","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload.longitude","propertyType":"msg","rules":[{"t":"regex","v":"^(9[5-9]|1[0-3][0-9]|14[0-1])\\.\\d+$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1800,"y":380,"wires":[["142773f4a6808660","57852ef5ab22285e"]]},{"id":"2b48ed8c2bf822f4","type":"websocket in","z":"8c155df6ea42cba3","name":"","server":"","client":"0e7cebf9688e36f6","x":240,"y":600,"wires":[["8a3c2bc84618fe00","08ee4788391f9bf4"]]},{"id":"8a3c2bc84618fe00","type":"json","z":"8c155df6ea42cba3","name":"","property":"payload","action":"","pretty":false,"x":560,"y":600,"wires":[["2a83911aae3a7c79"]]},{"id":"2a83911aae3a7c79","type":"function","z":"8c155df6ea42cba3","name":"function 40","func":"const mmsi = msg.payload.updates[0].values[0].value.mmsi;\nmsg.mmsi = mmsi\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":600,"wires":[["f5f6a15dac7b221e"]]},{"id":"f5f6a15dac7b221e","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":600,"wires":[["824efc47de39f321","76815860bdc50730"]]},{"id":"824efc47de39f321","type":"function","z":"8c155df6ea42cba3","name":"function 41","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp2\", msg.payload)\nconst mmsi = msg.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM ais_data_vessels WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":540,"wires":[["7a0d466b2afc218a"]]},{"id":"76815860bdc50730","type":"function","z":"8c155df6ea42cba3","name":"function 42","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp2\", msg.payload)\nconst mmsi = msg.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM vessel_list_20240621 WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":600,"wires":[["846ce63f96d0a763"]]},{"id":"7a0d466b2afc218a","type":"mysql","z":"8c155df6ea42cba3","mydb":"c306af48406793df","name":"","x":1290,"y":520,"wires":[["855cb52e96524556"]]},{"id":"846ce63f96d0a763","type":"mysql","z":"8c155df6ea42cba3","mydb":"c306af48406793df","name":"","x":1290,"y":600,"wires":[["23fb620ecdf7d3e4"]]},{"id":"855cb52e96524556","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1440,"y":520,"wires":[["89a6d4a48b9c205d"]]},{"id":"23fb620ecdf7d3e4","type":"switch","z":"8c155df6ea42cba3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1440,"y":600,"wires":[["89a6d4a48b9c205d"]]},{"id":"89a6d4a48b9c205d","type":"function","z":"8c155df6ea42cba3","name":"function 43","func":"const aisdata1 = flow.get(\"dataaistemp2\")\nconst aisdata2 = msg.payload[0]\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":560,"wires":[["035598f02d41a516"]]},{"id":"035598f02d41a516","type":"function","z":"8c155df6ea42cba3","name":"function 44","func":"const originalJson1 = msg.payload;\n\nconst transformedJson1 = {\n    \"aisData\": {\n        \"id\": originalJson1.uuid,  // Mapping 'uuid' to 'id'\n        \"vessel\": {\n            \"vessel_name\": originalJson1.name,  // Mapping 'name' to 'vessel_name'\n            \"vessel_type\": originalJson1.vessel_type,\n            \"mmsi\": originalJson1.mmsi,\n            \"imo\": originalJson1.imo,\n            \"callsign\": originalJson1.callsign,\n            \"draught\": originalJson1.draught || null,  // If missing, fallback to null\n            \"dimension_to_bow\": originalJson1.dimension_to_bow || null,\n            \"dimension_to_stern\": originalJson1.dimension_to_stern || null,\n            \"dimension_to_port\": originalJson1.dimension_to_port || null,\n            \"dimension_to_starboard\": originalJson1.dimension_to_starboard || null,\n            \"reported_destination\": originalJson1.reported_destination || null,\n            \"out_of_range\": originalJson1.out_of_range || null,\n            \"type_number\": originalJson1.type_number || null,\n            \"reported_eta\": originalJson1.reported_eta || null,\n            \"no_pkk\": originalJson1.no_pkk || null,\n            \"jenis_layanan\": originalJson1.jenis_layanan || null,\n            \"nama_negara\": originalJson1.country || null,  // Mapping 'country' to 'nama_negara'\n            \"tipe_kapal\": originalJson1.vessel_type_specific || null,  // Mapping 'vessel_type_specific' to 'tipe_kapal'\n            \"nama_perusahaan\": originalJson1.nama_perusahaan || null,\n            \"tgl_tiba\": originalJson1.tgl_tiba || null,\n            \"tgl_brangkat\": originalJson1.tgl_brangkat || null,\n            \"bendera\": originalJson1.country || null,  // Mapping 'country' to 'bendera'\n            \"gt_kapal\": originalJson1.gross_tonnage || null,  // Mapping 'gross_tonnage' to 'gt_kapal'\n            \"dwt\": originalJson1.deadweight || null,  // Mapping 'deadweight' to 'dwt'\n            \"nakhoda\": originalJson1.nakhoda || null,\n            \"jenis_trayek\": originalJson1.jenis_trayek || null,\n            \"pelabuhan_asal\": originalJson1.pelabuhan_asal || null,\n            \"pelabuhan_tujuan\": originalJson1.pelabuhan_tujuan || null,\n            \"lokasi_lambat_labuh\": originalJson1.lokasi_lambat_labuh || null,\n            \"nomor_spog\": originalJson1.nomor_spog || null,\n            \"jenis_muatan\": originalJson1.jenis_muatan || null,\n            \"no_pandu\": originalJson1.no_pandu || null,\n            \"nama_pandu\": originalJson1.nama_pandu || null,\n            \"nama_kapal_eks\": originalJson1.nama_kapal_eks || null,\n            \"nama_kapal_pemilik\": originalJson1.nama_kapal_pemilik || null,\n            \"loa\": originalJson1.length || null,  // Mapping 'length' to 'loa'\n            \"counting_hari\": originalJson1.counting_hari || null,\n            \"tgl_counting_hari\": originalJson1.tgl_counting_hari || null,\n            \"last_update_counting\": originalJson1.last_update_counting || null,\n            \"isAssign\": originalJson1.isAssign || null,\n            \"nama_kapal_inaportnet\": originalJson1.nama_kapal_inaportnet || null,\n            \"created_at\": originalJson1.created_at || null,\n            \"updated_at\": originalJson1.updated_at || null\n        },\n        \"channel\": originalJson1.channel || null,\n        \"messageType\": originalJson1.messageType || null,\n        \"repeatIndicator\": originalJson1.repeatIndicator || null,\n        \"senderMmsi\": originalJson1.senderMmsi || null,\n        \"navigationStatus\": originalJson1.navigationStatus || null,\n        \"speed\": originalJson1.updates[0].values.find(v => v.path === 'navigation.speedOverGround')?.value || null,\n        \"positionAccurate\": originalJson1.positionAccurate || null,\n        \"longitude\": originalJson1.updates[0].values.find(v => v.path === 'navigation.position')?.value.longitude || null,\n        \"latitude\": originalJson1.updates[0].values.find(v => v.path === 'navigation.position')?.value.latitude || null,\n        \"course\": originalJson1.updates[0].values.find(v => v.path === 'navigation.courseOverGroundTrue')?.value || null,\n        \"heading\": originalJson1.updates[0].values.find(v => v.path === 'navigation.headingTrue')?.value || null,\n        \"timeStampSeconds\": originalJson1.timeStampSeconds || null,\n        \"raim\": originalJson1.raim || null,\n        \"radioStatus\": originalJson1.radioStatus || null,\n        \"talkerId\": originalJson1.updates[0].source.talker || null,\n        \"sentenceId\": originalJson1.sentenceId || null,\n        \"talkerId_text\": originalJson1.talkerId_text || null,\n        \"sentenceId_text\": originalJson1.sentenceId_text || null,\n        \"messageType_text\": originalJson1.messageType_text || null,\n        \"navigationStatus_text\": originalJson1.navigationStatus || null,\n        \"navigation_status\": originalJson1.navigationStatus || null,\n        \"timestamp\": new Date().toISOString(),\n        \"distance\": 0,\n        \"is_inside_geofence\": 0,\n        \"is_geofence\": 0,\n        \"created_at\": new Date().toISOString(),\n        \"updated_at\": new Date().toISOString()\n    }\n};\n\nmsg.payload = transformedJson1;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":560,"wires":[["2224449eaf415241","1dbac71e1d824dab"]]},{"id":"1a01edcac47c6e5d","type":"websocket out","z":"8c155df6ea42cba3","name":"","server":"0c78b0336a5f180b","client":"","x":2230,"y":560,"wires":[]},{"id":"db51a9793acffc9d","type":"nmea","z":"8c155df6ea42cba3","name":"","property":"payload","outputProperty":"payload","x":920,"y":180,"wires":[["f5fe3207afac8a81"]]},{"id":"2ca80c0bcdb82287","type":"ais","z":"8c155df6ea42cba3","name":"","x":620,"y":120,"wires":[["7762bd0385cbf565"]]},{"id":"0b5d00ee573d50a3","type":"ais","z":"8c155df6ea42cba3","name":"","x":480,"y":380,"wires":[["d8112dee7fa4ac99","378ee933826b531d"]]},{"id":"702f9ccbce7f8f4e","type":"www-request","z":"8c155df6ea42cba3","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1260,"y":20,"wires":[[]]},{"id":"a317b7bda655785d","type":"www-request","z":"8c155df6ea42cba3","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1480,"y":120,"wires":[["c57bca5781947788","d1edaa788c6292e0","ed5f991cf68dd710"]]},{"id":"6702cfca2aab4d93","type":"www-request","z":"8c155df6ea42cba3","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1260,"y":180,"wires":[[]]},{"id":"7f61c4b3ffbc83f8","type":"tcp in","z":"8c155df6ea42cba3","name":"","server":"server","host":"","port":"5006","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"ABP","trim":false,"base64":false,"tls":"","x":70,"y":20,"wires":[["d8a9500865405c75","318b65f7b9453222"]]},{"id":"c57bca5781947788","type":"debug","z":"8c155df6ea42cba3","name":"debug 42","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1680,"y":220,"wires":[]},{"id":"d1edaa788c6292e0","type":"mqtt out","z":"8c155df6ea42cba3","name":"","topic":"aisabpmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":1890,"y":140,"wires":[]},{"id":"35a5bae3bacc92ac","type":"mqtt out","z":"8c155df6ea42cba3","name":"","topic":"aisabpmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":2110,"y":460,"wires":[]},{"id":"2224449eaf415241","type":"mqtt out","z":"8c155df6ea42cba3","name":"","topic":"aisabpmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":1990,"y":640,"wires":[]},{"id":"0a50e450e5f55fcf","type":"systeminformation","z":"8c155df6ea42cba3","name":"","group":"fs","func":"fsSize","params":{"drive":""},"poll":false,"interval":2,"onchangeonly":false,"x":330,"y":700,"wires":[["7191ccebd1dce309","84cbee47bfa8dbea"]]},{"id":"62411757af6e76e0","type":"inject","z":"8c155df6ea42cba3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":680,"wires":[["0a50e450e5f55fcf"]]},{"id":"7191ccebd1dce309","type":"debug","z":"8c155df6ea42cba3","name":"debug 44","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":680,"wires":[]},{"id":"378ee933826b531d","type":"debug","z":"8c155df6ea42cba3","name":"debug 46","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":280,"wires":[]},{"id":"6af6646be3b43a81","type":"http in","z":"8c155df6ea42cba3","name":"","url":"/get-storage-size","method":"get","upload":false,"swaggerDoc":"","x":140,"y":720,"wires":[["0a50e450e5f55fcf"]]},{"id":"84cbee47bfa8dbea","type":"http response","z":"8c155df6ea42cba3","name":"","statusCode":"200","headers":{"content-typ":"application/json"},"x":480,"y":720,"wires":[]},{"id":"08ee4788391f9bf4","type":"debug","z":"8c155df6ea42cba3","name":"debug 47","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":540,"wires":[]},{"id":"1dbac71e1d824dab","type":"delay","z":"8c155df6ea42cba3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1990,"y":560,"wires":[["1a01edcac47c6e5d"]]},{"id":"f5056e7fd6933e71","type":"delay","z":"8c155df6ea42cba3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2150,"y":380,"wires":[["42877581a30ebc8e"]]},{"id":"eaacc474c53a1172","type":"debug","z":"8c155df6ea42cba3","name":"debug 48","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":260,"wires":[]},{"id":"1dde0989f457aeb8","type":"function","z":"b28578ee71840d04","name":"function 45","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenbmss.cakrawala.id/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":160,"wires":[["f60fded9ce2a0d43"]]},{"id":"09e7cc5343197472","type":"split","z":"b28578ee71840d04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":320,"y":140,"wires":[["9777cd040ecf1de1","fb7eee8481a77fd6"]]},{"id":"a50302a753168956","type":"function","z":"b28578ee71840d04","name":"function 46","func":"flow.set(\"dataais\", msg.payload)\nmsg.payload = msg.payload.source\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":160,"wires":[["61503eef2f034cc3"]]},{"id":"61503eef2f034cc3","type":"ais-decoder","z":"b28578ee71840d04","name":"","x":1060,"y":160,"wires":[["1dde0989f457aeb8"]]},{"id":"9777cd040ecf1de1","type":"function","z":"b28578ee71840d04","name":"function 47","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":100,"wires":[["b74959420131b298","a30cc66589c49a97"]]},{"id":"aeb7b528956edb5b","type":"switch","z":"b28578ee71840d04","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"regex","v":"^(0\\d{8}|1\\d{8}|2\\d{8}|3\\d{8}|4\\d{8}|5\\d{8}|6\\d{8}|7\\d{8}|8\\d{8}|9\\d{8})$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":160,"wires":[["a50302a753168956"]]},{"id":"a30cc66589c49a97","type":"ais-decoder","z":"b28578ee71840d04","name":"","x":620,"y":60,"wires":[["2d8e2613d0a85c59"]]},{"id":"2d8e2613d0a85c59","type":"switch","z":"b28578ee71840d04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":60,"wires":[["a7d4e56e6a300133"]]},{"id":"a7d4e56e6a300133","type":"switch","z":"b28578ee71840d04","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":60,"wires":[["5d2448e36f9f8ff9","88097a0419cf1888"]]},{"id":"5d2448e36f9f8ff9","type":"function","z":"b28578ee71840d04","name":"function 48","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenbmss.cakrawala.id/api/aisstatic\"\nconst aisdata2 = msg.payload\nmsg.payload = aisdata2;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":60,"wires":[["406a704aa69c1525"]]},{"id":"fb7eee8481a77fd6","type":"switch","z":"b28578ee71840d04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"GPRMC","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":220,"wires":[["c9db9c82463a72ce"]]},{"id":"c9db9c82463a72ce","type":"function","z":"b28578ee71840d04","name":"function 49","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":220,"wires":[["4f5d688494fe27f1"]]},{"id":"6268f9aa35a651b7","type":"function","z":"b28578ee71840d04","name":"function 50","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenbmss.cakrawala.id/api/position\"\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":220,"wires":[["07ecf4c4ca183adf"]]},{"id":"88097a0419cf1888","type":"debug","z":"b28578ee71840d04","name":"debug 49","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":120,"wires":[]},{"id":"fce515d206a74cd3","type":"debug","z":"b28578ee71840d04","name":"debug 50","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1870,"y":140,"wires":[]},{"id":"1d6286ae2e7ffe0c","type":"split","z":"b28578ee71840d04","name":"","splt":"\\","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":120,"y":120,"wires":[["32566e0fe8f5ba41"]]},{"id":"32566e0fe8f5ba41","type":"switch","z":"b28578ee71840d04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!AIVDM","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":80,"wires":[["09e7cc5343197472"]]},{"id":"547a82674f1d53c8","type":"websocket out","z":"b28578ee71840d04","name":"","server":"6de47104a153c176","client":"","x":2000,"y":240,"wires":[]},{"id":"e19599ff8a68edaf","type":"split","z":"b28578ee71840d04","name":"","splt":"\\","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":320,"y":420,"wires":[["a36a687c7b1038e6"]]},{"id":"e9fc48cec31cd387","type":"switch","z":"b28578ee71840d04","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":420,"wires":[["c01cd114a6d9926b","a00768f1d374602f"]]},{"id":"c01cd114a6d9926b","type":"function","z":"b28578ee71840d04","name":"function 51","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM ais_data_vessels WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":380,"wires":[["8ea7b5111ceb8f0a"]]},{"id":"a00768f1d374602f","type":"function","z":"b28578ee71840d04","name":"function 52","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM vessel_list_20240621 WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":460,"wires":[["b166fa35f3f6266b"]]},{"id":"8ea7b5111ceb8f0a","type":"mysql","z":"b28578ee71840d04","mydb":"c306af48406793df","name":"","x":1010,"y":380,"wires":[["601db1ac451922fc"]]},{"id":"b166fa35f3f6266b","type":"mysql","z":"b28578ee71840d04","mydb":"c306af48406793df","name":"","x":1010,"y":460,"wires":[["a6ac763cf68982ce"]]},{"id":"601db1ac451922fc","type":"switch","z":"b28578ee71840d04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":380,"wires":[["78e86b5e588c4490"]]},{"id":"a6ac763cf68982ce","type":"switch","z":"b28578ee71840d04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":460,"wires":[["78e86b5e588c4490"]]},{"id":"78e86b5e588c4490","type":"function","z":"b28578ee71840d04","name":"function 53","func":"const aisdata1 = flow.get(\"dataaistemp\")\nconst aisdata2 = msg.payload[0]\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":420,"wires":[["0cce364b37c50ca2"]]},{"id":"cf4bb28dc45d5893","type":"websocket out","z":"b28578ee71840d04","name":"","server":"6de47104a153c176","client":"","x":2180,"y":420,"wires":[]},{"id":"0cce364b37c50ca2","type":"switch","z":"b28578ee71840d04","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":420,"wires":[["9664d2de7250d2cb"]]},{"id":"72fdecfe502117ec","type":"function","z":"b28578ee71840d04","name":"function 54","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":140,"wires":[["fce515d206a74cd3"]]},{"id":"6e1d4607b99668ce","type":"function","z":"b28578ee71840d04","name":"function 55","func":"const originalJson1 = msg.payload;\n\nconst transformedJson1 = {\n    \"aisData\": {\n        \"id\": originalJson1.id,\n        \"vessel\": {\n            \"vessel_name\": originalJson1.vessel_name,\n            \"vessel_type\": originalJson1.vessel_type,\n            \"mmsi\": originalJson1.mmsi,\n            \"imo\": originalJson1.imo,\n            \"callsign\": originalJson1.callsign,\n            \"draught\": originalJson1.draught,\n            \"dimension_to_bow\": originalJson1.dimension_to_bow,\n            \"dimension_to_stern\": originalJson1.dimension_to_stern,\n            \"dimension_to_port\": originalJson1.dimension_to_port,\n            \"dimension_to_starboard\": originalJson1.dimension_to_starboard,\n            \"reported_destination\": originalJson1.reported_destination,\n            \"out_of_range\": originalJson1.out_of_range,\n            \"type_number\": originalJson1.type_number,\n            \"reported_eta\": originalJson1.reported_eta,\n            \"no_pkk\": originalJson1.no_pkk,\n            \"jenis_layanan\": originalJson1.jenis_layanan,\n            \"nama_negara\": originalJson1.nama_negara,\n            \"tipe_kapal\": originalJson1.tipe_kapal,\n            \"nama_perusahaan\": originalJson1.nama_perusahaan,\n            \"tgl_tiba\": originalJson1.tgl_tiba,\n            \"tgl_brangkat\": originalJson1.tgl_brangkat,\n            \"bendera\": originalJson1.bendera,\n            \"gt_kapal\": originalJson1.gt_kapal,\n            \"dwt\": originalJson1.dwt,\n            \"nakhoda\": originalJson1.nakhoda,\n            \"jenis_trayek\": originalJson1.jenis_trayek,\n            \"pelabuhan_asal\": originalJson1.pelabuhan_asal,\n            \"pelabuhan_tujuan\": originalJson1.pelabuhan_tujuan,\n            \"lokasi_lambat_labuh\": originalJson1.lokasi_lambat_labuh,\n            \"nomor_spog\": originalJson1.nomor_spog,\n            \"jenis_muatan\": originalJson1.jenis_muatan,\n            \"no_pandu\": originalJson1.no_pandu,\n            \"nama_pandu\": originalJson1.nama_pandu,\n            \"nama_kapal_eks\": originalJson1.nama_kapal_eks,\n            \"nama_kapal_pemilik\": originalJson1.nama_kapal_pemilik,\n            \"loa\": originalJson1.loa,\n            \"counting_hari\": originalJson1.counting_hari,\n            \"tgl_counting_hari\": originalJson1.tgl_counting_hari,\n            \"last_update_counting\": originalJson1.last_update_counting,\n            \"isAssign\": originalJson1.isAssign,\n            \"nama_kapal_inaportnet\": originalJson1.nama_kapal_inaportnet,\n            \"created_at\": originalJson1.created_at,\n            \"updated_at\": originalJson1.updated_at\n        },\n        \"channel\": originalJson1.channel,\n        \"messageType\": originalJson1.messageType,\n        \"repeatIndicator\": originalJson1.repeatIndicator,\n        \"senderMmsi\": originalJson1.senderMmsi,\n        \"navigationStatus\": originalJson1.navigationStatus,\n        \"speed\": originalJson1.speedOverGround,\n        \"positionAccurate\": originalJson1.positionAccurate,\n        \"longitude\": originalJson1.longitude,\n        \"latitude\": originalJson1.latitude,\n        \"course\": originalJson1.courseOverGround,\n        \"heading\": originalJson1.courseOverGround,\n        \"timeStampSeconds\": originalJson1.timeStampSeconds,\n        \"raim\": originalJson1.raim,\n        \"radioStatus\": originalJson1.radioStatus,\n        \"talkerId\": originalJson1.talkerId,\n        \"sentenceId\": originalJson1.sentenceId,\n        \"talkerId_text\": originalJson1.talkerId_text,\n        \"sentenceId_text\": originalJson1.sentenceId_text,\n        \"messageType_text\": originalJson1.messageType_text,\n        \"navigationStatus_text\": originalJson1.navigationStatus,\n        \"navigation_status\": originalJson1.navigationStatus,\n        \"timestamp\": new Date().toISOString(),\n        \"distance\": 0,\n        \"is_inside_geofence\": 0,\n        \"is_geofence\": 0,\n        \"created_at\": new Date().toISOString(),\n        \"updated_at\": new Date().toISOString()\n    }\n};\n\nmsg.payload = transformedJson1;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":420,"wires":[["cf4bb28dc45d5893","07e0999ee31afa03"]]},{"id":"4e1ade6551a26910","type":"mqtt in","z":"b28578ee71840d04","name":"","topic":"aispybadak","qos":"2","datatype":"auto-detect","broker":"c397fcf23234d0d8","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":500,"wires":[["c78e9d1fd1c66606"]]},{"id":"c78e9d1fd1c66606","type":"function","z":"b28578ee71840d04","name":"function 56","func":"// Function to extract key-value pairs from the input string\nfunction parseMessageType3(input) {\n    // Remove \"MessageType3(\" and the trailing \")\"\n    let cleaned = input.replace(/^MessageType3\\(|\\)$/g, '');\n\n    // Extract key-value pairs by splitting on \", \" and processing each entry\n    let parts = cleaned.split(/, (?![^<>]*>)/);\n    let obj = {};\n\n    parts.forEach(part => {\n        let [key, value] = part.split('=');\n        \n        // Clean up key and value\n        key = key.trim();\n        value = value.trim();\n\n        // Process specific types of values\n        if (value.startsWith('<') && value.endsWith('>')) {\n            // Extract enum-like values (e.g. \"<NavigationStatus.AtAnchor: 1>\")\n            value = value.match(/<[^.]+\\.(.+):/)[1]; // extract the enum value\n        } else if (!isNaN(parseFloat(value))) {\n            // Handle numeric values\n            value = parseFloat(value);\n        } else if (value === 'True' || value === 'False') {\n            // Handle boolean values\n            value = value === 'True';\n        } else if (value.startsWith(\"b'\")) {\n            // Handle byte array (e.g. b'\\x00')\n            value = value.replace(/^b'|\\'$/g, '');\n        }\n\n        obj[key] = value;\n    });\n\n    return obj;\n}\n\n// Parse the input string and convert to JSON\nlet parsedData = parseMessageType3(msg.payload);\n\n// Set the parsed JSON object as the output message payload\nmsg.payload = parsedData;\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":520,"wires":[["e9fc48cec31cd387"]]},{"id":"9664d2de7250d2cb","type":"switch","z":"b28578ee71840d04","name":"","property":"payload.latitude","propertyType":"msg","rules":[{"t":"regex","v":"^(-([0-9]|10|11)\\.\\d+|[0-5]\\.\\d+|6\\.0*)$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1660,"y":420,"wires":[["6a99537823496aa6"]]},{"id":"c2c4d14d516dabca","type":"debug","z":"b28578ee71840d04","name":"debug 51","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1780,"y":500,"wires":[]},{"id":"6a99537823496aa6","type":"switch","z":"b28578ee71840d04","name":"","property":"payload.longitude","propertyType":"msg","rules":[{"t":"regex","v":"^(9[5-9]|1[0-3][0-9]|14[0-1])\\.\\d+$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1800,"y":420,"wires":[["6e1d4607b99668ce","c2c4d14d516dabca","772d3197a587d350"]]},{"id":"11b1b5161a1c38fd","type":"websocket in","z":"b28578ee71840d04","name":"","server":"","client":"0e7cebf9688e36f6","x":240,"y":640,"wires":[["d3c874c1091ef916"]]},{"id":"d3c874c1091ef916","type":"json","z":"b28578ee71840d04","name":"","property":"payload","action":"","pretty":false,"x":560,"y":640,"wires":[["148f59ee7b9354fc"]]},{"id":"148f59ee7b9354fc","type":"function","z":"b28578ee71840d04","name":"function 57","func":"const mmsi = msg.payload.updates[0].values[0].value.mmsi;\nmsg.mmsi = mmsi\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":640,"wires":[["ca6fb398f9c69104"]]},{"id":"ca6fb398f9c69104","type":"switch","z":"b28578ee71840d04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":640,"wires":[["e20570c7c535759a","0620dc1b66862e89"]]},{"id":"e20570c7c535759a","type":"function","z":"b28578ee71840d04","name":"function 58","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp2\", msg.payload)\nconst mmsi = msg.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM ais_data_vessels WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":580,"wires":[["ed0cee6c90cec234"]]},{"id":"0620dc1b66862e89","type":"function","z":"b28578ee71840d04","name":"function 59","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp2\", msg.payload)\nconst mmsi = msg.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM vessel_list_20240621 WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":640,"wires":[["f4a1b5bfa3fa961a"]]},{"id":"ed0cee6c90cec234","type":"mysql","z":"b28578ee71840d04","mydb":"c306af48406793df","name":"","x":1290,"y":560,"wires":[["8abe507ea7e3dcda"]]},{"id":"f4a1b5bfa3fa961a","type":"mysql","z":"b28578ee71840d04","mydb":"c306af48406793df","name":"","x":1290,"y":640,"wires":[["f769322f245449cd"]]},{"id":"8abe507ea7e3dcda","type":"switch","z":"b28578ee71840d04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1440,"y":560,"wires":[["8c8a855ad0f00b34"]]},{"id":"f769322f245449cd","type":"switch","z":"b28578ee71840d04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1440,"y":640,"wires":[["8c8a855ad0f00b34"]]},{"id":"8c8a855ad0f00b34","type":"function","z":"b28578ee71840d04","name":"function 60","func":"const aisdata1 = flow.get(\"dataaistemp2\")\nconst aisdata2 = msg.payload[0]\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":600,"wires":[["f1e2e5ebbe587b25"]]},{"id":"f1e2e5ebbe587b25","type":"function","z":"b28578ee71840d04","name":"function 61","func":"const originalJson1 = msg.payload;\n\nconst transformedJson1 = {\n    \"aisData\": {\n        \"id\": originalJson1.uuid,  // Mapping 'uuid' to 'id'\n        \"vessel\": {\n            \"vessel_name\": originalJson1.name,  // Mapping 'name' to 'vessel_name'\n            \"vessel_type\": originalJson1.vessel_type,\n            \"mmsi\": originalJson1.mmsi,\n            \"imo\": originalJson1.imo,\n            \"callsign\": originalJson1.callsign,\n            \"draught\": originalJson1.draught || null,  // If missing, fallback to null\n            \"dimension_to_bow\": originalJson1.dimension_to_bow || null,\n            \"dimension_to_stern\": originalJson1.dimension_to_stern || null,\n            \"dimension_to_port\": originalJson1.dimension_to_port || null,\n            \"dimension_to_starboard\": originalJson1.dimension_to_starboard || null,\n            \"reported_destination\": originalJson1.reported_destination || null,\n            \"out_of_range\": originalJson1.out_of_range || null,\n            \"type_number\": originalJson1.type_number || null,\n            \"reported_eta\": originalJson1.reported_eta || null,\n            \"no_pkk\": originalJson1.no_pkk || null,\n            \"jenis_layanan\": originalJson1.jenis_layanan || null,\n            \"nama_negara\": originalJson1.country || null,  // Mapping 'country' to 'nama_negara'\n            \"tipe_kapal\": originalJson1.vessel_type_specific || null,  // Mapping 'vessel_type_specific' to 'tipe_kapal'\n            \"nama_perusahaan\": originalJson1.nama_perusahaan || null,\n            \"tgl_tiba\": originalJson1.tgl_tiba || null,\n            \"tgl_brangkat\": originalJson1.tgl_brangkat || null,\n            \"bendera\": originalJson1.country || null,  // Mapping 'country' to 'bendera'\n            \"gt_kapal\": originalJson1.gross_tonnage || null,  // Mapping 'gross_tonnage' to 'gt_kapal'\n            \"dwt\": originalJson1.deadweight || null,  // Mapping 'deadweight' to 'dwt'\n            \"nakhoda\": originalJson1.nakhoda || null,\n            \"jenis_trayek\": originalJson1.jenis_trayek || null,\n            \"pelabuhan_asal\": originalJson1.pelabuhan_asal || null,\n            \"pelabuhan_tujuan\": originalJson1.pelabuhan_tujuan || null,\n            \"lokasi_lambat_labuh\": originalJson1.lokasi_lambat_labuh || null,\n            \"nomor_spog\": originalJson1.nomor_spog || null,\n            \"jenis_muatan\": originalJson1.jenis_muatan || null,\n            \"no_pandu\": originalJson1.no_pandu || null,\n            \"nama_pandu\": originalJson1.nama_pandu || null,\n            \"nama_kapal_eks\": originalJson1.nama_kapal_eks || null,\n            \"nama_kapal_pemilik\": originalJson1.nama_kapal_pemilik || null,\n            \"loa\": originalJson1.length || null,  // Mapping 'length' to 'loa'\n            \"counting_hari\": originalJson1.counting_hari || null,\n            \"tgl_counting_hari\": originalJson1.tgl_counting_hari || null,\n            \"last_update_counting\": originalJson1.last_update_counting || null,\n            \"isAssign\": originalJson1.isAssign || null,\n            \"nama_kapal_inaportnet\": originalJson1.nama_kapal_inaportnet || null,\n            \"created_at\": originalJson1.created_at || null,\n            \"updated_at\": originalJson1.updated_at || null\n        },\n        \"channel\": originalJson1.channel || null,\n        \"messageType\": originalJson1.messageType || null,\n        \"repeatIndicator\": originalJson1.repeatIndicator || null,\n        \"senderMmsi\": originalJson1.senderMmsi || null,\n        \"navigationStatus\": originalJson1.navigationStatus || null,\n        \"speed\": originalJson1.updates[0].values.find(v => v.path === 'navigation.speedOverGround')?.value || null,\n        \"positionAccurate\": originalJson1.positionAccurate || null,\n        \"longitude\": originalJson1.updates[0].values.find(v => v.path === 'navigation.position')?.value.longitude || null,\n        \"latitude\": originalJson1.updates[0].values.find(v => v.path === 'navigation.position')?.value.latitude || null,\n        \"course\": originalJson1.updates[0].values.find(v => v.path === 'navigation.courseOverGroundTrue')?.value || null,\n        \"heading\": originalJson1.updates[0].values.find(v => v.path === 'navigation.headingTrue')?.value || null,\n        \"timeStampSeconds\": originalJson1.timeStampSeconds || null,\n        \"raim\": originalJson1.raim || null,\n        \"radioStatus\": originalJson1.radioStatus || null,\n        \"talkerId\": originalJson1.updates[0].source.talker || null,\n        \"sentenceId\": originalJson1.sentenceId || null,\n        \"talkerId_text\": originalJson1.talkerId_text || null,\n        \"sentenceId_text\": originalJson1.sentenceId_text || null,\n        \"messageType_text\": originalJson1.messageType_text || null,\n        \"navigationStatus_text\": originalJson1.navigationStatus || null,\n        \"navigation_status\": originalJson1.navigationStatus || null,\n        \"timestamp\": new Date().toISOString(),\n        \"distance\": 0,\n        \"is_inside_geofence\": 0,\n        \"is_geofence\": 0,\n        \"created_at\": new Date().toISOString(),\n        \"updated_at\": new Date().toISOString()\n    }\n};\n\nmsg.payload = transformedJson1;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":600,"wires":[["4961ac140f3f6eba","cc4ba8ba9c7bb49b"]]},{"id":"4961ac140f3f6eba","type":"websocket out","z":"b28578ee71840d04","name":"","server":"6de47104a153c176","client":"","x":2030,"y":660,"wires":[]},{"id":"4f5d688494fe27f1","type":"nmea","z":"b28578ee71840d04","name":"","property":"payload","outputProperty":"payload","x":920,"y":220,"wires":[["6268f9aa35a651b7"]]},{"id":"b74959420131b298","type":"ais","z":"b28578ee71840d04","name":"","x":620,"y":160,"wires":[["aeb7b528956edb5b"]]},{"id":"a36a687c7b1038e6","type":"ais","z":"b28578ee71840d04","name":"","x":480,"y":420,"wires":[["e9fc48cec31cd387","65e8e168d8708ca6"]]},{"id":"406a704aa69c1525","type":"www-request","z":"b28578ee71840d04","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1260,"y":60,"wires":[[]]},{"id":"f60fded9ce2a0d43","type":"www-request","z":"b28578ee71840d04","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1480,"y":160,"wires":[["547a82674f1d53c8","72fdecfe502117ec","5c04a8465cce7b1d","6d61739a6804461b","b9028002babca7cf"]]},{"id":"07ecf4c4ca183adf","type":"www-request","z":"b28578ee71840d04","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1260,"y":220,"wires":[[]]},{"id":"0e1ef34b016d6e84","type":"tcp in","z":"b28578ee71840d04","name":"","server":"server","host":"","port":"5008","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":70,"y":200,"wires":[["1d6286ae2e7ffe0c","e19599ff8a68edaf","298740acf809f948"]]},{"id":"5c04a8465cce7b1d","type":"debug","z":"b28578ee71840d04","name":"debug 52","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":260,"wires":[]},{"id":"6d61739a6804461b","type":"debug","z":"b28578ee71840d04","name":"debug 53","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1970,"y":320,"wires":[]},{"id":"298740acf809f948","type":"debug","z":"b28578ee71840d04","name":"debug 54","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":240,"wires":[]},{"id":"b9028002babca7cf","type":"mqtt out","z":"b28578ee71840d04","name":"","topic":"aisbmssmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":1940,"y":180,"wires":[]},{"id":"07e0999ee31afa03","type":"mqtt out","z":"b28578ee71840d04","name":"","topic":"aisbmssmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":2160,"y":360,"wires":[]},{"id":"cc4ba8ba9c7bb49b","type":"mqtt out","z":"b28578ee71840d04","name":"","topic":"aisbmssmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":2010,"y":600,"wires":[]},{"id":"65e8e168d8708ca6","type":"debug","z":"b28578ee71840d04","name":"debug 55","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":500,"wires":[]},{"id":"5521a1135e535ecb","type":"http request","z":"b28578ee71840d04","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://194.233.84.224:8981/api/checkgeofence","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2190,"y":500,"wires":[[]]},{"id":"772d3197a587d350","type":"delay","z":"b28578ee71840d04","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1990,"y":500,"wires":[["5521a1135e535ecb"]]},{"id":"e4decee8012988aa","type":"websocket out","z":"af92fe5558094d88","name":"","server":"4141f6886b3a37f1","client":"","x":530,"y":120,"wires":[]},{"id":"8634a83093516be7","type":"mqtt in","z":"af92fe5558094d88","name":"","topic":"aisabpmqtt","qos":"2","datatype":"auto-detect","broker":"92bd4385102b2542","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":80,"wires":[["e4decee8012988aa"]]},{"id":"8e15e372f3b9c013","type":"mqtt in","z":"af92fe5558094d88","name":"","topic":"aislksmqtt","qos":"2","datatype":"auto-detect","broker":"92bd4385102b2542","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":180,"wires":[["e4decee8012988aa"]]},{"id":"5836e9a6c6d33ee5","type":"mqtt in","z":"af92fe5558094d88","name":"","topic":"aisbmssmqtt","qos":"2","datatype":"auto-detect","broker":"92bd4385102b2542","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":260,"wires":[["e4decee8012988aa"]]},{"id":"84de5a13f22a0372","type":"mqtt in","z":"af92fe5558094d88","name":"","topic":"aiswbsmqtt","qos":"2","datatype":"auto-detect","broker":"92bd4385102b2542","nl":false,"rap":true,"rh":0,"inputs":0,"x":340,"y":340,"wires":[["e4decee8012988aa"]]},{"id":"ac32b47365f02572","type":"debug","z":"af92fe5558094d88","name":"debug 66","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":240,"wires":[]},{"id":"839dce8a437cfe9c","type":"http in","z":"8de36f7138465902","name":"","url":"/sendgeofencealarmksop","method":"post","upload":false,"swaggerDoc":"","x":210,"y":80,"wires":[["7cfb2da93eccb7e8","2cc20bf0eeab2a78"]]},{"id":"7cfb2da93eccb7e8","type":"switch","z":"8de36f7138465902","name":"","property":"payload.msg","propertyType":"msg","rules":[{"t":"cont","v":"Inside Full Pelabuhan Geofence","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":80,"wires":[[],["e4cb09e1e2d4517e","d7f45ee58c56c21c"]]},{"id":"d7f45ee58c56c21c","type":"websocket out","z":"8de36f7138465902","name":"","server":"568fbd90132245c7","client":"","x":590,"y":140,"wires":[]},{"id":"e4cb09e1e2d4517e","type":"http response","z":"8de36f7138465902","name":"","statusCode":"200","headers":{},"x":560,"y":100,"wires":[]},{"id":"2cc20bf0eeab2a78","type":"debug","z":"8de36f7138465902","name":"debug 64","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":240,"wires":[]},{"id":"6b7204436307c4b3","type":"function","z":"1697fcacf91a5d47","name":"function 62","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenwbs.cakrawala.id/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":140,"wires":[["95bfbdef74a3327e"]]},{"id":"4a2ee3857327ed48","type":"split","z":"1697fcacf91a5d47","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":320,"y":120,"wires":[["6b67c26315b7c790","5dedc61fc6034731"]]},{"id":"9b336eddbe24612b","type":"function","z":"1697fcacf91a5d47","name":"function 63","func":"flow.set(\"dataais\", msg.payload)\nmsg.payload = msg.payload.source\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":140,"wires":[["08bf2d6387490e8f"]]},{"id":"08bf2d6387490e8f","type":"ais-decoder","z":"1697fcacf91a5d47","name":"","x":1060,"y":140,"wires":[["6b7204436307c4b3"]]},{"id":"6b67c26315b7c790","type":"function","z":"1697fcacf91a5d47","name":"function 64","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":80,"wires":[["7fccb98ac6175d1f","869dd14dc84a14a1"]]},{"id":"65d7922650d013e2","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"regex","v":"^(0\\d{8}|1\\d{8}|2\\d{8}|3\\d{8}|4\\d{8}|5\\d{8}|6\\d{8}|7\\d{8}|8\\d{8}|9\\d{8})$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":140,"wires":[["9b336eddbe24612b"]]},{"id":"869dd14dc84a14a1","type":"ais-decoder","z":"1697fcacf91a5d47","name":"","x":620,"y":40,"wires":[["aa33701a7087766a"]]},{"id":"aa33701a7087766a","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":40,"wires":[["b0f292fb525f9ff3"]]},{"id":"b0f292fb525f9ff3","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":40,"wires":[["ec26759c3366aae5","d1d85e81954d850e"]]},{"id":"ec26759c3366aae5","type":"function","z":"1697fcacf91a5d47","name":"function 65","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenwbs.cakrawala.id/api/aisstatic\"\nconst aisdata2 = msg.payload\nmsg.payload = aisdata2;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":40,"wires":[["20fb02e73c5ff356"]]},{"id":"5dedc61fc6034731","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"GPRMC","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":200,"wires":[["33942f8b7459a841"]]},{"id":"33942f8b7459a841","type":"function","z":"1697fcacf91a5d47","name":"function 66","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":200,"wires":[["f9fe110ab6d25fa1"]]},{"id":"dd5e9189ea7c56fb","type":"function","z":"1697fcacf91a5d47","name":"function 67","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenwbs.cakrawala.id/api/position\"\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":200,"wires":[["da5e159fb325d47b"]]},{"id":"d1d85e81954d850e","type":"debug","z":"1697fcacf91a5d47","name":"debug 56","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":100,"wires":[]},{"id":"38aae7ad46e3d890","type":"debug","z":"1697fcacf91a5d47","name":"debug 57","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1870,"y":120,"wires":[]},{"id":"daa6999d3c7fa824","type":"split","z":"1697fcacf91a5d47","name":"","splt":"\\","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":120,"y":100,"wires":[["3e82b7a96c764e52"]]},{"id":"3e82b7a96c764e52","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!AIVDM","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":60,"wires":[["4a2ee3857327ed48"]]},{"id":"6d5efe48fc26936a","type":"websocket out","z":"1697fcacf91a5d47","name":"","server":"3d6eb7b459dc5968","client":"","x":2000,"y":220,"wires":[]},{"id":"597a05e1eea99150","type":"split","z":"1697fcacf91a5d47","name":"","splt":"\\","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":320,"y":400,"wires":[["a8468da32f9bd69a"]]},{"id":"f94783612cfe6d9c","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":400,"wires":[["4cc65fe943558dbf","12ef3e16575d6b3e"]]},{"id":"4cc65fe943558dbf","type":"function","z":"1697fcacf91a5d47","name":"function 68","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM ais_data_vessels WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":360,"wires":[["fdc7e1c8e71eaf7a"]]},{"id":"12ef3e16575d6b3e","type":"function","z":"1697fcacf91a5d47","name":"function 69","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM vessel_list_20240621 WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":440,"wires":[["b33d5ab85d075896"]]},{"id":"fdc7e1c8e71eaf7a","type":"mysql","z":"1697fcacf91a5d47","mydb":"c306af48406793df","name":"","x":1010,"y":360,"wires":[["6f17ee120e0d3f45"]]},{"id":"b33d5ab85d075896","type":"mysql","z":"1697fcacf91a5d47","mydb":"c306af48406793df","name":"","x":1010,"y":440,"wires":[["6b9f01fd4fb958a2"]]},{"id":"6f17ee120e0d3f45","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":360,"wires":[["6f1a734c516a4ee2"]]},{"id":"6b9f01fd4fb958a2","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":440,"wires":[["6f1a734c516a4ee2"]]},{"id":"6f1a734c516a4ee2","type":"function","z":"1697fcacf91a5d47","name":"function 70","func":"const aisdata1 = flow.get(\"dataaistemp\")\nconst aisdata2 = msg.payload[0]\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":400,"wires":[["b84a3dd4b04f55ff"]]},{"id":"ea7ff4f377fed9ad","type":"websocket out","z":"1697fcacf91a5d47","name":"","server":"3d6eb7b459dc5968","client":"","x":2180,"y":400,"wires":[]},{"id":"b84a3dd4b04f55ff","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":400,"wires":[["35932fda2e23d1ff"]]},{"id":"411969f4d8efc227","type":"function","z":"1697fcacf91a5d47","name":"function 71","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":120,"wires":[["38aae7ad46e3d890"]]},{"id":"7ba02c8e52791479","type":"function","z":"1697fcacf91a5d47","name":"function 72","func":"const originalJson1 = msg.payload;\n\nconst transformedJson1 = {\n    \"aisData\": {\n        \"id\": originalJson1.id,\n        \"vessel\": {\n            \"vessel_name\": originalJson1.vessel_name,\n            \"vessel_type\": originalJson1.vessel_type,\n            \"mmsi\": originalJson1.mmsi,\n            \"imo\": originalJson1.imo,\n            \"callsign\": originalJson1.callsign,\n            \"draught\": originalJson1.draught,\n            \"dimension_to_bow\": originalJson1.dimension_to_bow,\n            \"dimension_to_stern\": originalJson1.dimension_to_stern,\n            \"dimension_to_port\": originalJson1.dimension_to_port,\n            \"dimension_to_starboard\": originalJson1.dimension_to_starboard,\n            \"reported_destination\": originalJson1.reported_destination,\n            \"out_of_range\": originalJson1.out_of_range,\n            \"type_number\": originalJson1.type_number,\n            \"reported_eta\": originalJson1.reported_eta,\n            \"no_pkk\": originalJson1.no_pkk,\n            \"jenis_layanan\": originalJson1.jenis_layanan,\n            \"nama_negara\": originalJson1.nama_negara,\n            \"tipe_kapal\": originalJson1.tipe_kapal,\n            \"nama_perusahaan\": originalJson1.nama_perusahaan,\n            \"tgl_tiba\": originalJson1.tgl_tiba,\n            \"tgl_brangkat\": originalJson1.tgl_brangkat,\n            \"bendera\": originalJson1.bendera,\n            \"gt_kapal\": originalJson1.gt_kapal,\n            \"dwt\": originalJson1.dwt,\n            \"nakhoda\": originalJson1.nakhoda,\n            \"jenis_trayek\": originalJson1.jenis_trayek,\n            \"pelabuhan_asal\": originalJson1.pelabuhan_asal,\n            \"pelabuhan_tujuan\": originalJson1.pelabuhan_tujuan,\n            \"lokasi_lambat_labuh\": originalJson1.lokasi_lambat_labuh,\n            \"nomor_spog\": originalJson1.nomor_spog,\n            \"jenis_muatan\": originalJson1.jenis_muatan,\n            \"no_pandu\": originalJson1.no_pandu,\n            \"nama_pandu\": originalJson1.nama_pandu,\n            \"nama_kapal_eks\": originalJson1.nama_kapal_eks,\n            \"nama_kapal_pemilik\": originalJson1.nama_kapal_pemilik,\n            \"loa\": originalJson1.loa,\n            \"counting_hari\": originalJson1.counting_hari,\n            \"tgl_counting_hari\": originalJson1.tgl_counting_hari,\n            \"last_update_counting\": originalJson1.last_update_counting,\n            \"isAssign\": originalJson1.isAssign,\n            \"nama_kapal_inaportnet\": originalJson1.nama_kapal_inaportnet,\n            \"created_at\": originalJson1.created_at,\n            \"updated_at\": originalJson1.updated_at\n        },\n        \"channel\": originalJson1.channel,\n        \"messageType\": originalJson1.messageType,\n        \"repeatIndicator\": originalJson1.repeatIndicator,\n        \"senderMmsi\": originalJson1.senderMmsi,\n        \"navigationStatus\": originalJson1.navigationStatus,\n        \"speed\": originalJson1.speedOverGround,\n        \"positionAccurate\": originalJson1.positionAccurate,\n        \"longitude\": originalJson1.longitude,\n        \"latitude\": originalJson1.latitude,\n        \"course\": originalJson1.courseOverGround,\n        \"heading\": originalJson1.courseOverGround,\n        \"timeStampSeconds\": originalJson1.timeStampSeconds,\n        \"raim\": originalJson1.raim,\n        \"radioStatus\": originalJson1.radioStatus,\n        \"talkerId\": originalJson1.talkerId,\n        \"sentenceId\": originalJson1.sentenceId,\n        \"talkerId_text\": originalJson1.talkerId_text,\n        \"sentenceId_text\": originalJson1.sentenceId_text,\n        \"messageType_text\": originalJson1.messageType_text,\n        \"navigationStatus_text\": originalJson1.navigationStatus,\n        \"navigation_status\": originalJson1.navigationStatus,\n        \"timestamp\": new Date().toISOString(),\n        \"distance\": 0,\n        \"is_inside_geofence\": 0,\n        \"is_geofence\": 0,\n        \"created_at\": new Date().toISOString(),\n        \"updated_at\": new Date().toISOString()\n    }\n};\n\nmsg.payload = transformedJson1;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":400,"wires":[["ea7ff4f377fed9ad","71f574dfac9fa71b"]]},{"id":"494dc8476fa35ea2","type":"mqtt in","z":"1697fcacf91a5d47","name":"","topic":"aispybadak","qos":"2","datatype":"auto-detect","broker":"c397fcf23234d0d8","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":480,"wires":[["f6d87f3f05585005"]]},{"id":"f6d87f3f05585005","type":"function","z":"1697fcacf91a5d47","name":"function 73","func":"// Function to extract key-value pairs from the input string\nfunction parseMessageType3(input) {\n    // Remove \"MessageType3(\" and the trailing \")\"\n    let cleaned = input.replace(/^MessageType3\\(|\\)$/g, '');\n\n    // Extract key-value pairs by splitting on \", \" and processing each entry\n    let parts = cleaned.split(/, (?![^<>]*>)/);\n    let obj = {};\n\n    parts.forEach(part => {\n        let [key, value] = part.split('=');\n        \n        // Clean up key and value\n        key = key.trim();\n        value = value.trim();\n\n        // Process specific types of values\n        if (value.startsWith('<') && value.endsWith('>')) {\n            // Extract enum-like values (e.g. \"<NavigationStatus.AtAnchor: 1>\")\n            value = value.match(/<[^.]+\\.(.+):/)[1]; // extract the enum value\n        } else if (!isNaN(parseFloat(value))) {\n            // Handle numeric values\n            value = parseFloat(value);\n        } else if (value === 'True' || value === 'False') {\n            // Handle boolean values\n            value = value === 'True';\n        } else if (value.startsWith(\"b'\")) {\n            // Handle byte array (e.g. b'\\x00')\n            value = value.replace(/^b'|\\'$/g, '');\n        }\n\n        obj[key] = value;\n    });\n\n    return obj;\n}\n\n// Parse the input string and convert to JSON\nlet parsedData = parseMessageType3(msg.payload);\n\n// Set the parsed JSON object as the output message payload\nmsg.payload = parsedData;\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":500,"wires":[["f94783612cfe6d9c"]]},{"id":"35932fda2e23d1ff","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload.latitude","propertyType":"msg","rules":[{"t":"regex","v":"^(-([0-9]|10|11)\\.\\d+|[0-5]\\.\\d+|6\\.0*)$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1660,"y":400,"wires":[["7a16ab12eb5667d2"]]},{"id":"e5787d37eb631fdf","type":"debug","z":"1697fcacf91a5d47","name":"debug 58","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1830,"y":460,"wires":[]},{"id":"7a16ab12eb5667d2","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload.longitude","propertyType":"msg","rules":[{"t":"regex","v":"^(9[5-9]|1[0-3][0-9]|14[0-1])\\.\\d+$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1800,"y":400,"wires":[["7ba02c8e52791479","e5787d37eb631fdf"]]},{"id":"b6a50c5a6b43fa28","type":"websocket in","z":"1697fcacf91a5d47","name":"","server":"","client":"0e7cebf9688e36f6","x":240,"y":620,"wires":[["31df80bdb45cc8bd"]]},{"id":"31df80bdb45cc8bd","type":"json","z":"1697fcacf91a5d47","name":"","property":"payload","action":"","pretty":false,"x":560,"y":620,"wires":[["701b97633434ef6a"]]},{"id":"701b97633434ef6a","type":"function","z":"1697fcacf91a5d47","name":"function 74","func":"const mmsi = msg.payload.updates[0].values[0].value.mmsi;\nmsg.mmsi = mmsi\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":620,"wires":[["502748cc848e5b09"]]},{"id":"502748cc848e5b09","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":620,"wires":[["aab9c302c9b12e99","178791afe1159e05"]]},{"id":"aab9c302c9b12e99","type":"function","z":"1697fcacf91a5d47","name":"function 75","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp2\", msg.payload)\nconst mmsi = msg.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM ais_data_vessels WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":560,"wires":[["649364fc19d0fc32"]]},{"id":"178791afe1159e05","type":"function","z":"1697fcacf91a5d47","name":"function 76","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp2\", msg.payload)\nconst mmsi = msg.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM vessel_list_20240621 WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":620,"wires":[["54d27b6794ed3d5b"]]},{"id":"649364fc19d0fc32","type":"mysql","z":"1697fcacf91a5d47","mydb":"c306af48406793df","name":"","x":1290,"y":540,"wires":[["5c8aec0ba46a7969"]]},{"id":"54d27b6794ed3d5b","type":"mysql","z":"1697fcacf91a5d47","mydb":"c306af48406793df","name":"","x":1290,"y":620,"wires":[["ca97ede6e9d37467"]]},{"id":"5c8aec0ba46a7969","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1440,"y":540,"wires":[["5ef9add12c01c60d"]]},{"id":"ca97ede6e9d37467","type":"switch","z":"1697fcacf91a5d47","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1440,"y":620,"wires":[["5ef9add12c01c60d"]]},{"id":"5ef9add12c01c60d","type":"function","z":"1697fcacf91a5d47","name":"function 77","func":"const aisdata1 = flow.get(\"dataaistemp2\")\nconst aisdata2 = msg.payload[0]\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":580,"wires":[["17fe03a1b2547208"]]},{"id":"17fe03a1b2547208","type":"function","z":"1697fcacf91a5d47","name":"function 78","func":"const originalJson1 = msg.payload;\n\nconst transformedJson1 = {\n    \"aisData\": {\n        \"id\": originalJson1.uuid,  // Mapping 'uuid' to 'id'\n        \"vessel\": {\n            \"vessel_name\": originalJson1.name,  // Mapping 'name' to 'vessel_name'\n            \"vessel_type\": originalJson1.vessel_type,\n            \"mmsi\": originalJson1.mmsi,\n            \"imo\": originalJson1.imo,\n            \"callsign\": originalJson1.callsign,\n            \"draught\": originalJson1.draught || null,  // If missing, fallback to null\n            \"dimension_to_bow\": originalJson1.dimension_to_bow || null,\n            \"dimension_to_stern\": originalJson1.dimension_to_stern || null,\n            \"dimension_to_port\": originalJson1.dimension_to_port || null,\n            \"dimension_to_starboard\": originalJson1.dimension_to_starboard || null,\n            \"reported_destination\": originalJson1.reported_destination || null,\n            \"out_of_range\": originalJson1.out_of_range || null,\n            \"type_number\": originalJson1.type_number || null,\n            \"reported_eta\": originalJson1.reported_eta || null,\n            \"no_pkk\": originalJson1.no_pkk || null,\n            \"jenis_layanan\": originalJson1.jenis_layanan || null,\n            \"nama_negara\": originalJson1.country || null,  // Mapping 'country' to 'nama_negara'\n            \"tipe_kapal\": originalJson1.vessel_type_specific || null,  // Mapping 'vessel_type_specific' to 'tipe_kapal'\n            \"nama_perusahaan\": originalJson1.nama_perusahaan || null,\n            \"tgl_tiba\": originalJson1.tgl_tiba || null,\n            \"tgl_brangkat\": originalJson1.tgl_brangkat || null,\n            \"bendera\": originalJson1.country || null,  // Mapping 'country' to 'bendera'\n            \"gt_kapal\": originalJson1.gross_tonnage || null,  // Mapping 'gross_tonnage' to 'gt_kapal'\n            \"dwt\": originalJson1.deadweight || null,  // Mapping 'deadweight' to 'dwt'\n            \"nakhoda\": originalJson1.nakhoda || null,\n            \"jenis_trayek\": originalJson1.jenis_trayek || null,\n            \"pelabuhan_asal\": originalJson1.pelabuhan_asal || null,\n            \"pelabuhan_tujuan\": originalJson1.pelabuhan_tujuan || null,\n            \"lokasi_lambat_labuh\": originalJson1.lokasi_lambat_labuh || null,\n            \"nomor_spog\": originalJson1.nomor_spog || null,\n            \"jenis_muatan\": originalJson1.jenis_muatan || null,\n            \"no_pandu\": originalJson1.no_pandu || null,\n            \"nama_pandu\": originalJson1.nama_pandu || null,\n            \"nama_kapal_eks\": originalJson1.nama_kapal_eks || null,\n            \"nama_kapal_pemilik\": originalJson1.nama_kapal_pemilik || null,\n            \"loa\": originalJson1.length || null,  // Mapping 'length' to 'loa'\n            \"counting_hari\": originalJson1.counting_hari || null,\n            \"tgl_counting_hari\": originalJson1.tgl_counting_hari || null,\n            \"last_update_counting\": originalJson1.last_update_counting || null,\n            \"isAssign\": originalJson1.isAssign || null,\n            \"nama_kapal_inaportnet\": originalJson1.nama_kapal_inaportnet || null,\n            \"created_at\": originalJson1.created_at || null,\n            \"updated_at\": originalJson1.updated_at || null\n        },\n        \"channel\": originalJson1.channel || null,\n        \"messageType\": originalJson1.messageType || null,\n        \"repeatIndicator\": originalJson1.repeatIndicator || null,\n        \"senderMmsi\": originalJson1.senderMmsi || null,\n        \"navigationStatus\": originalJson1.navigationStatus || null,\n        \"speed\": originalJson1.updates[0].values.find(v => v.path === 'navigation.speedOverGround')?.value || null,\n        \"positionAccurate\": originalJson1.positionAccurate || null,\n        \"longitude\": originalJson1.updates[0].values.find(v => v.path === 'navigation.position')?.value.longitude || null,\n        \"latitude\": originalJson1.updates[0].values.find(v => v.path === 'navigation.position')?.value.latitude || null,\n        \"course\": originalJson1.updates[0].values.find(v => v.path === 'navigation.courseOverGroundTrue')?.value || null,\n        \"heading\": originalJson1.updates[0].values.find(v => v.path === 'navigation.headingTrue')?.value || null,\n        \"timeStampSeconds\": originalJson1.timeStampSeconds || null,\n        \"raim\": originalJson1.raim || null,\n        \"radioStatus\": originalJson1.radioStatus || null,\n        \"talkerId\": originalJson1.updates[0].source.talker || null,\n        \"sentenceId\": originalJson1.sentenceId || null,\n        \"talkerId_text\": originalJson1.talkerId_text || null,\n        \"sentenceId_text\": originalJson1.sentenceId_text || null,\n        \"messageType_text\": originalJson1.messageType_text || null,\n        \"navigationStatus_text\": originalJson1.navigationStatus || null,\n        \"navigation_status\": originalJson1.navigationStatus || null,\n        \"timestamp\": new Date().toISOString(),\n        \"distance\": 0,\n        \"is_inside_geofence\": 0,\n        \"is_geofence\": 0,\n        \"created_at\": new Date().toISOString(),\n        \"updated_at\": new Date().toISOString()\n    }\n};\n\nmsg.payload = transformedJson1;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":580,"wires":[["dff296ca967bf4de","4c0c2c26e20d60d8"]]},{"id":"dff296ca967bf4de","type":"websocket out","z":"1697fcacf91a5d47","name":"","server":"3d6eb7b459dc5968","client":"","x":2040,"y":580,"wires":[]},{"id":"f9fe110ab6d25fa1","type":"nmea","z":"1697fcacf91a5d47","name":"","property":"payload","outputProperty":"payload","x":920,"y":200,"wires":[["dd5e9189ea7c56fb"]]},{"id":"7fccb98ac6175d1f","type":"ais","z":"1697fcacf91a5d47","name":"","x":620,"y":140,"wires":[["65d7922650d013e2"]]},{"id":"a8468da32f9bd69a","type":"ais","z":"1697fcacf91a5d47","name":"","x":480,"y":400,"wires":[["f94783612cfe6d9c","2b520282f387af46"]]},{"id":"20fb02e73c5ff356","type":"www-request","z":"1697fcacf91a5d47","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1260,"y":40,"wires":[[]]},{"id":"95bfbdef74a3327e","type":"www-request","z":"1697fcacf91a5d47","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1480,"y":140,"wires":[["6d5efe48fc26936a","411969f4d8efc227","25aef6ae22a32c92","5cfae53862f2f171","5aebd71e0bf86f1c"]]},{"id":"da5e159fb325d47b","type":"www-request","z":"1697fcacf91a5d47","name":"","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1260,"y":200,"wires":[[]]},{"id":"4fe965659330f00f","type":"tcp in","z":"1697fcacf91a5d47","name":"","server":"server","host":"","port":"5009","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":70,"y":180,"wires":[["daa6999d3c7fa824","597a05e1eea99150","a01a66c66169808d"]]},{"id":"25aef6ae22a32c92","type":"debug","z":"1697fcacf91a5d47","name":"debug 59","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":240,"wires":[]},{"id":"5cfae53862f2f171","type":"debug","z":"1697fcacf91a5d47","name":"debug 60","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1970,"y":300,"wires":[]},{"id":"a01a66c66169808d","type":"debug","z":"1697fcacf91a5d47","name":"debug 61","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":220,"wires":[]},{"id":"5aebd71e0bf86f1c","type":"mqtt out","z":"1697fcacf91a5d47","name":"","topic":"aiswbsmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":1940,"y":160,"wires":[]},{"id":"71f574dfac9fa71b","type":"mqtt out","z":"1697fcacf91a5d47","name":"","topic":"aiswbsmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":2160,"y":340,"wires":[]},{"id":"4c0c2c26e20d60d8","type":"mqtt out","z":"1697fcacf91a5d47","name":"","topic":"aiswbsmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":2000,"y":520,"wires":[]},{"id":"2b520282f387af46","type":"debug","z":"1697fcacf91a5d47","name":"debug 62","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":480,"wires":[]}]