DOCS/flow
[{"id":"60ae057330bf1123","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d60f42f77171c94c","type":"serial in","z":"60ae057330bf1123","name":"","serial":"7a514ac7e4bcf6eb","x":90,"y":60,"wires":[["b88f29485f5399f3"]]},{"id":"1da7314332964c35","type":"http request","z":"60ae057330bf1123","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":130,"y":140,"wires":[["ccf51952ea456cec"]]},{"id":"78820bb2a137ca09","type":"function","z":"60ae057330bf1123","name":"function 1","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":60,"wires":[["1da7314332964c35","2bbd67fd9ba4049f"]]},{"id":"ccf51952ea456cec","type":"debug","z":"60ae057330bf1123","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":140,"wires":[]},{"id":"2bbd67fd9ba4049f","type":"debug","z":"60ae057330bf1123","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":160,"wires":[]},{"id":"b88f29485f5399f3","type":"split","z":"60ae057330bf1123","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":210,"y":60,"wires":[["63ca08908ef94b97"]]},{"id":"63ca08908ef94b97","type":"ais","z":"60ae057330bf1123","name":"","x":330,"y":60,"wires":[["ab5656a0a4f50a27"]]},{"id":"c9868a50f3733f61","type":"ais-decoder","z":"60ae057330bf1123","name":"","x":590,"y":60,"wires":[["78820bb2a137ca09"]]},{"id":"ab5656a0a4f50a27","type":"function","z":"60ae057330bf1123","name":"function 2","func":"flow.set(\"dataais\", msg.payload)\nmsg.payload = msg.payload.source\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":60,"wires":[["c9868a50f3733f61"]]},{"id":"7a514ac7e4bcf6eb","type":"serial-port","serialport":"COM3","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]