DOCS/flow
[{"id":"60ae057330bf1123","type":"tab","label":"AIS","disabled":false,"info":"","env":[]},{"id":"dc9e87aff4d9551e","type":"tab","label":"ADS-B","disabled":false,"info":"","env":[]},{"id":"7a514ac7e4bcf6eb","type":"serial-port","serialport":"COM7","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f614c112864cc4d3","type":"websocket-listener","path":"/ws/sensordata","wholemsg":"false"},{"id":"92bd4385102b2542","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0960ae41486c6ef0","type":"serial-port","serialport":"COM7","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d60f42f77171c94c","type":"serial in","z":"60ae057330bf1123","name":"","serial":"7a514ac7e4bcf6eb","x":90,"y":60,"wires":[["b88f29485f5399f3"]]},{"id":"1da7314332964c35","type":"http request","z":"60ae057330bf1123","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":130,"y":140,"wires":[["ccf51952ea456cec"]]},{"id":"78820bb2a137ca09","type":"function","z":"60ae057330bf1123","name":"function 1","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":60,"wires":[["1da7314332964c35","739faf0fd7913589","f17d9b689dcbf4c7"]]},{"id":"ccf51952ea456cec","type":"debug","z":"60ae057330bf1123","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":140,"wires":[]},{"id":"b88f29485f5399f3","type":"split","z":"60ae057330bf1123","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":210,"y":60,"wires":[["63ca08908ef94b97"]]},{"id":"ab5656a0a4f50a27","type":"function","z":"60ae057330bf1123","name":"function 2","func":"flow.set(\"dataais\", msg.payload)\nmsg.payload = msg.payload.source\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":60,"wires":[["c9868a50f3733f61"]]},{"id":"47f1429dcf712b3e","type":"cronplus","z":"60ae057330bf1123","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"str","payload":"php \"C:\\Users\\admin\\Documents\\AIS-Local\\artisan\" app:sendata","expressionType":"cron","expression":"0 * * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":100,"y":240,"wires":[["6bd2503b49267246"]]},{"id":"156465b0a3cdb9c7","type":"debug","z":"60ae057330bf1123","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":240,"wires":[]},{"id":"6bd2503b49267246","type":"exec","z":"60ae057330bf1123","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":270,"y":240,"wires":[["156465b0a3cdb9c7"],["156465b0a3cdb9c7"],["156465b0a3cdb9c7"]]},{"id":"fa5a92dafb8fafc5","type":"http in","z":"60ae057330bf1123","name":"","url":"/api/nampungdata","method":"post","upload":false,"swaggerDoc":"","x":140,"y":340,"wires":[["0529daef582fa6b6","8af4a2d7119bdf5f"]]},{"id":"8af4a2d7119bdf5f","type":"debug","z":"60ae057330bf1123","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":340,"wires":[]},{"id":"0529daef582fa6b6","type":"http response","z":"60ae057330bf1123","name":"","statusCode":"200","headers":{},"x":360,"y":420,"wires":[]},{"id":"63ca08908ef94b97","type":"ais","z":"60ae057330bf1123","name":"","x":330,"y":60,"wires":[["ab5656a0a4f50a27","ddc9c85a55618f3a"]]},{"id":"c9868a50f3733f61","type":"ais-decoder","z":"60ae057330bf1123","name":"","x":590,"y":60,"wires":[["78820bb2a137ca09","495e608280b59027"]]},{"id":"739faf0fd7913589","type":"websocket out","z":"60ae057330bf1123","name":"","server":"f614c112864cc4d3","client":"","x":1010,"y":60,"wires":[]},{"id":"495e608280b59027","type":"function","z":"60ae057330bf1123","name":"function 3","func":"msg.method = \"POST\"\nmsg.url = \"https://siege.cakrawala.id/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":20,"wires":[["1da7314332964c35"]]},{"id":"3937c359c51da6d8","type":"debug","z":"60ae057330bf1123","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":80,"wires":[]},{"id":"e5aa1bda97479fce","type":"mqtt out","z":"60ae057330bf1123","name":"","topic":"aisdataloggerfak","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92bd4385102b2542","x":1180,"y":120,"wires":[]},{"id":"f17d9b689dcbf4c7","type":"switch","z":"60ae057330bf1123","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":120,"wires":[["e5aa1bda97479fce","3937c359c51da6d8"]]},{"id":"ddc9c85a55618f3a","type":"debug","z":"60ae057330bf1123","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":140,"wires":[]},{"id":"956268a67f89b34f","type":"tcp in","z":"dc9e87aff4d9551e","name":"","server":"client","host":"192.168.100.4","port":"32088","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":150,"y":40,"wires":[["73f7b0855b0a833c"]]},{"id":"73f7b0855b0a833c","type":"ads-b","z":"dc9e87aff4d9551e","name":"","x":350,"y":40,"wires":[["8a21ba4efc575150"]]},{"id":"86dc0cdc639ecb58","type":"debug","z":"dc9e87aff4d9551e","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":280,"wires":[]},{"id":"8a21ba4efc575150","type":"debug","z":"dc9e87aff4d9551e","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":40,"wires":[]},{"id":"3e6b4206112d477f","type":"inject","z":"dc9e87aff4d9551e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":600,"wires":[["76424692e58146aa"]]},{"id":"76424692e58146aa","type":"http request","z":"dc9e87aff4d9551e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.100.82/data/rbfeeder_aircraft.json","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":600,"wires":[["798b6a1bed3ce512","21d185574602e4ca"]]},{"id":"b1c553a93ff31d75","type":"debug","z":"dc9e87aff4d9551e","name":"debug 10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":600,"wires":[]},{"id":"798b6a1bed3ce512","type":"function","z":"dc9e87aff4d9551e","name":"function 4","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/adsbdata\"\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":600,"wires":[["9ddc883c151a1aa7"]]},{"id":"9ddc883c151a1aa7","type":"http request","z":"dc9e87aff4d9551e","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":570,"y":600,"wires":[["b1c553a93ff31d75"]]},{"id":"21d185574602e4ca","type":"debug","z":"dc9e87aff4d9551e","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":660,"wires":[]},{"id":"637a991e59a6c8bc","type":"tcp in","z":"dc9e87aff4d9551e","name":"","server":"client","host":"192.168.100.4","port":"30105","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":150,"y":100,"wires":[["73f7b0855b0a833c"]]},{"id":"3da069d21a9e7913","type":"tcp in","z":"dc9e87aff4d9551e","name":"","server":"client","host":"192.168.100.4","port":"32457","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":150,"y":160,"wires":[["73f7b0855b0a833c"]]},{"id":"7354170cda544962","type":"tcp in","z":"dc9e87aff4d9551e","name":"","server":"client","host":"192.168.100.4","port":"32458","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":150,"y":220,"wires":[["73f7b0855b0a833c"]]},{"id":"935c065bcfa22a5b","type":"tcp in","z":"dc9e87aff4d9551e","name":"","server":"client","host":"192.168.100.2","port":"32459","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","trim":false,"base64":false,"tls":"","x":150,"y":280,"wires":[["809ff5b2391938a2"]]},{"id":"3feee159cc179e93","type":"npm","z":"dc9e87aff4d9551e","name":"SBSDECODER","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"sbs1","module_style":"function","msg_payload":"return_val","function_name":"parseSbs1Message","x":500,"y":280,"wires":[["86dc0cdc639ecb58","644fb0b95266973e"]]},{"id":"7e3187110e9a8b26","type":"function","z":"dc9e87aff4d9551e","name":"function 5","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/adsbdatav2\"\nconst aisdata1 = flow.get(\"dataadsbmentah\")\nconst newAdsbMsg = { msgSbs: aisdata1}\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...newAdsbMsg };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":340,"wires":[["0475e74b18fd4cd3","51eef924ffca231b"]]},{"id":"51eef924ffca231b","type":"http request","z":"dc9e87aff4d9551e","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":610,"y":340,"wires":[["84309d43533fc59b"]]},{"id":"84309d43533fc59b","type":"debug","z":"dc9e87aff4d9551e","name":"debug 12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":340,"wires":[]},{"id":"809ff5b2391938a2","type":"function","z":"dc9e87aff4d9551e","name":"function 6","func":"flow.set(\"dataadsbmentah\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":280,"wires":[["3feee159cc179e93"]]},{"id":"0475e74b18fd4cd3","type":"debug","z":"dc9e87aff4d9551e","name":"debug 13","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":400,"wires":[]},{"id":"644fb0b95266973e","type":"delay","z":"dc9e87aff4d9551e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":290,"y":340,"wires":[["7e3187110e9a8b26"]]},{"id":"0ea4c1950a68642f","type":"debug","z":"dc9e87aff4d9551e","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":200,"wires":[]}]