DOCS/flowsrtcs100
[
    {
        "id": "80f8a74d09dd9b8e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7365955a007c1cd",
        "type": "tab",
        "label": "crontab",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "07d42c4895448327",
        "type": "tab",
        "label": "Geofence",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f90a3ebd122d18b",
        "type": "subflow",
        "name": "GPRMC Handler ",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "b4eafedf48ad9063"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 560,
            "y": 120,
            "wires": []
        }
    },
    {
        "id": "9f8de59c262b7de1",
        "type": "subflow",
        "name": "AIVDM Decoder",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "44c59405dbf60c58"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 940,
                "y": 120,
                "wires": [
                    {
                        "id": "4704a8d760c26ca4",
                        "port": 1
                    },
                    {
                        "id": "0204f1adc622e486",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 940,
            "y": 220,
            "wires": [
                {
                    "id": "4704a8d760c26ca4",
                    "port": 1
                }
            ]
        }
    },
    {
        "id": "f614c112864cc4d3",
        "type": "websocket-listener",
        "path": "/ws/sensordata",
        "wholemsg": "false"
    },
    {
        "id": "92bd4385102b2542",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.cakrawala.id",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ed5625119e8ad936",
        "type": "websocket-listener",
        "d": true,
        "path": "/ws/sensordata",
        "wholemsg": "false"
    },
    {
        "id": "c0587586e0feab65",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.cakrawala.id",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7a514ac7e4bcf6eb",
        "type": "serial-port",
        "serialport": "COM1",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "0960ae41486c6ef0",
        "type": "serial-port",
        "name": "",
        "serialport": "COM4",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "11e860719980e3ac",
        "type": "serial-port",
        "serialport": "COM1",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bb03f8d1f5b4d598",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "2bffb4e783a0c2ed",
        "type": "MySQLdatabase",
        "d": true,
        "name": "bst_op",
        "host": "localhost",
        "port": "3306",
        "db": "bst_op",
        "tz": "UTC",
        "charset": "UTF8"
    },
    {
        "id": "32a6da0f907a8237",
        "type": "MySQLdatabase",
        "d": true,
        "name": "bst_op_decoder",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "bst_op",
        "tz": "UTC",
        "charset": "UTF8"
    },
    {
        "id": "1a43de3ee452c915",
        "type": "MySQLdatabase",
        "d": true,
        "name": "bst_op_decoder_insert",
        "host": "localhost",
        "port": "3306",
        "db": "bst_op",
        "tz": "UTC",
        "charset": "UTF8"
    },
    {
        "id": "568fbd90132245c7",
        "type": "websocket-listener",
        "path": "/ws/geofence",
        "wholemsg": "false"
    },
    {
        "id": "15ac1be9d7b1b4e1",
        "type": "function",
        "z": "4f90a3ebd122d18b",
        "name": "",
        "func": "function convertLat(latitude,north_south){\n    var splitLat=latitude.split(\".\"),\n    secLat=splitLat[0].substring(splitLat[0].length - 2, splitLat[0].length)+'.'+splitLat[1],\n    degLat=splitLat[0].substring(0,splitLat[0].length - 2),\n    minLat=parseFloat(secLat)/60;\n    if(north_south=='S'){\n    \tnorth_south=-1;\n    }else{\n    \tnorth_south=1;\n    }\n    return String((parseFloat(degLat)+minLat)*north_south);\n}\n\nfunction convertLng(longitude,east_west){\n    var splitLng=longitude.split(\".\"),\n    secLng=splitLng[0].substring(splitLng[0].length - 2, splitLng[0].length)+'.'+splitLng[1],\n    degLng=splitLng[0].substring(0,splitLng[0].length - 2),\n    minLng=parseFloat(secLng)/60;\n    if(east_west=='W'){\n    \teast_west=-1;\n    }else{\n    \teast_west=1;\n    }\n    return String((parseFloat(degLng)+minLng)*east_west);\n}\n\nfunction fixDateTime(date_stamp,time_stamp){\n    var d = new Date(), date = date_stamp.substring(0,2), month = date_stamp.substring(2,4);\n    var fixDateStamp=String(d.getUTCFullYear())+'-'+month+'-'+date;\n    var fixTimeStamp=time_stamp.substring(0,2)+':'+time_stamp.substring(2,4)+':'+time_stamp.substring(4,6);\n    return String(fixDateStamp+' '+fixTimeStamp);\n}\n\n// var msgText=String(msg.payload);\nvar msgText=String(msg.gprmc);\nvar m=msgText.split(\",\");\nvar time_stamp=String(m[1]),validity=m[2],latitude=m[3],north_south=m[4],longitude=m[5],east_west=m[6],sog=m[7],cog=m[8],\ndate_stamp=String(m[9]),variation=m[10],fillbits=m[11];\n\nif(String(sog)!==''){\n    sog=String(parseFloat(sog));\n}else{\n    sog=\"0\";\n}\nif(String(cog)!==''){\n    cog=String(parseFloat(cog));\n}else{\n    cog=\"0\";\n}\nvar heading=cog;\nvar lat=convertLat(latitude,north_south);\nvar lng=convertLng(longitude,east_west);\nvar fixDT=fixDateTime(date_stamp,time_stamp);\n\nmsg.topic=\"INSERT INTO bst_mbs VALUES(0,\"+global.get('stationId')+\",\"+lat+\",\"+lng+\",\"+heading+\",\"+sog+\",\"+cog+\",'\"+fixDT+\"','\"+fixDT+\"')\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b4eafedf48ad9063",
        "type": "function",
        "z": "4f90a3ebd122d18b",
        "name": "",
        "func": "var msgText=String(msg.payload);\nmsg.gprmc=msgText;\nmsg.topic=\"INSERT INTO gprmc_msg VALUES (0,'\"+msgText+\"',\"+global.get('stationId')+\",1,UTC_TIMESTAMP())\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "1c5099576fbb9689",
        "type": "debug",
        "z": "4f90a3ebd122d18b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "4af9b5aa3828a88b",
        "type": "debug",
        "z": "4f90a3ebd122d18b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "1e414a35ddb3cecc",
        "type": "debug",
        "z": "4f90a3ebd122d18b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 220,
        "wires": []
    },
    {
        "id": "d2376b60045d1aac",
        "type": "function",
        "z": "9f8de59c262b7de1",
        "name": "",
        "func": "// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nif(msg.parsed.ship_id===0){\n    msg.parsed.ship_id=msg.payload.insertId;\n}\nvar parsed=msg.parsed;\n\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar dynamic=parsed.dynamic;\nvar destination=parsed.destination;\nvar draught=parsed.draught;\nvar dynamicSize = Object.size(dynamic);\nvar destinationSize = Object.size(destination);\nvar draughtSize = Object.size(draught);\n\nmsg.parsed.size={};\nmsg.parsed.size.dynamic=dynamicSize;\nmsg.parsed.size.destination=destinationSize;\nmsg.parsed.size.draught=draughtSize;\n\nvar d = new Date();\nvar suffix = String(d.getUTCFullYear())+String(addZero(d.getUTCMonth()+1));\nvar insertDynamic=\"INSERT INTO ais_dynamic_\"+suffix+\" set ship_id=\"+parsed.ship_id+\",\";\nvar updateDynamic=\"INSERT INTO ais_dynamic set ship_id=\"+parsed.ship_id+\",\";\nif(parsed.exists){\n    updateDynamic=\"UPDATE ais_dynamic set \";\n}\ni=1;\nObject.keys(dynamic).forEach(key => {\n\t// console.log(key, static[key]);\n    if(i>1){\n    \tinsertDynamic+=\",\";\n    \tupdateDynamic+=\",\";\n    }\n    var column = String(key);\n    var value = String(dynamic[key]);\n    if(value===\"undefined\"){\n        value=\"0\";\n    }\n    if(column===\"raim\"){\n        if(value===\"false\"){\n            value=\"0\";\n        }else{\n            value=\"1\";\n        }\n    }\n    if(column===\"latitude\" || column===\"longitude\"){\n        if(value!==\"0\" && value!==\"undefined\"){\n            insertDynamic+=column+\"='\"+value+\"'\";\n            updateDynamic+=column+\"='\"+value+\"'\";\n        }\n    }else{\n        insertDynamic+=column+\"='\"+value+\"'\";\n        updateDynamic+=column+\"='\"+value+\"'\";\n    }\n    i++;\n});\ninsertDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\nif(!parsed.exists){\n    updateDynamic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}else{\n    updateDynamic+=\",updated_at=UTC_TIMESTAMP() WHERE ship_id=\"+parsed.ship_id;\n}\n\nmsg.insertDynamic=insertDynamic.replace(\",,,\", \",\");\nmsg.updateDynamic=updateDynamic.replace(\",,,\", \",\");\n\nvar insertDestination=0;\ni=1;\nif(destination.destination!==undefined){\n    var tempEta = destination.eta.toISOString().slice(0, 19).replace('T', ' ');\n    destination.eta = tempEta;\n    insertDestination=\"INSERT INTO ais_destination set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(destination).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDestination+=\",\";\n        }\n        var column = String(key);\n        var value = String(destination[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDestination+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDestination+=\",updated_at='\"+parsed.time_stamp+\"'\";\n    insertDestination=insertDestination.replace(\"\\\\\", \"\\\\\\\\\");\n}\nmsg.insertDestination=insertDestination;\n\nvar insertDraught=0;\ni=1;\nif(draught.draught!==undefined){\n    insertDraught=\"INSERT INTO ais_draught set ship_id=\"+parsed.ship_id+\",\";\n    Object.keys(draught).forEach(key => {\n    \t// console.log(key, static[key]);\n        if(i>1){\n        \tinsertDraught+=\",\";\n        }\n        var column = String(key);\n        var value = String(draught[key]);\n        // if(value===\"undefined\"){\n        //     value=\"0\";\n        // }\n        insertDraught+=column+\"='\"+value+\"'\";\n        i++;\n    });\n    insertDraught+=\",updated_at='\"+parsed.time_stamp+\"'\";\n}\nmsg.insertDraught=insertDraught;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "04ae55b28dfff270"
            ]
        ]
    },
    {
        "id": "04ae55b28dfff270",
        "type": "change",
        "z": "9f8de59c262b7de1",
        "name": "insertDynamic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "insertDynamic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4506c6dcf9751299",
        "type": "change",
        "z": "9f8de59c262b7de1",
        "name": "updateDynamic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "updateDynamic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "06333236853bfae1",
        "type": "change",
        "z": "9f8de59c262b7de1",
        "name": "insertDestination",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "insertDestination",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3c9bf3f04d2340c0",
        "type": "change",
        "z": "9f8de59c262b7de1",
        "name": "insertDraught",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "insertDraught",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a3129761479bebbd",
        "type": "switch",
        "z": "9f8de59c262b7de1",
        "name": "checkDestination",
        "property": "insertDestination",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "06333236853bfae1"
            ],
            [
                "4704a8d760c26ca4"
            ]
        ]
    },
    {
        "id": "4704a8d760c26ca4",
        "type": "switch",
        "z": "9f8de59c262b7de1",
        "name": "checkDraught",
        "property": "insertDraught",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "3c9bf3f04d2340c0"
            ],
            []
        ]
    },
    {
        "id": "791ca52868337347",
        "type": "function",
        "z": "9f8de59c262b7de1",
        "name": "",
        "func": "var decoded=msg.payload;\nmsg.decoded=decoded;\nif(decoded!==undefined){\n    msg.sqlStatic=\"SELECT * from ais_static where mmsi='\"+msg.payload.senderMmsi+\"'\";\n    // msg.sqlDynamic=\"SELECT count() as total from ais_dynamic where mmsi='\"+msg.payload.senderMmsi+\"'\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 60,
        "wires": [
            [
                "d306d82cefa9b14f"
            ]
        ]
    },
    {
        "id": "0204f1adc622e486",
        "type": "switch",
        "z": "9f8de59c262b7de1",
        "name": "If !Undefined",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 60,
        "wires": [
            [
                "791ca52868337347"
            ],
            []
        ]
    },
    {
        "id": "d306d82cefa9b14f",
        "type": "change",
        "z": "9f8de59c262b7de1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sqlStatic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "6d5f2d25d35ddda7",
        "type": "function",
        "z": "9f8de59c262b7de1",
        "name": "",
        "func": "// if (msg.payload && !msg.payload.length){\n//     msg.result=\"No Data\";\n// }else{\n//     msg.result=msg.payload.length;\n// }\n// return msg;\n\nfunction addZero(i) {\n    if (i < 10) {\n      i = \"0\" + i;\n    }\n    return i;\n}\n\nvar isDataExists=true;\nvar ship_id=0;\nvar aisData={static:{},dynamic:{},destination:{},draught:{}};\n\nif (msg.payload && !msg.payload.length){\n    isDataExists=false;\n}\n\nvar d = new Date();\nvar time_stamp = String(d.getUTCFullYear())+'-'+String(addZero(d.getUTCMonth()+1))+'-'+String(addZero(d.getUTCDate()))+' ';\ntime_stamp += String(addZero(d.getUTCHours()))+':'+String(addZero(d.getUTCMinutes()))+':'+String(addZero(d.getUTCSeconds()));\n\n//Init Ship ID\nif(!isDataExists){\n    ship_id=0;\n}else{\n    ship_id=msg.payload[0].id;\n}\naisData.ship_id=ship_id;\n//Static Data\naisData.static.mmsi=msg.decoded.senderMmsi,\naisData.static.callsign=msg.decoded.callsign,\naisData.static.vessel_name=msg.decoded.name,\naisData.static.imo=msg.decoded.shipId,\naisData.static.ship_type=msg.decoded.shipType,\naisData.static.dimension_a=msg.decoded.dimensionToBow,\naisData.static.dimension_b=msg.decoded.dimensionToStern,\naisData.static.dimension_c=msg.decoded.dimensionToPort,\naisData.static.dimension_d=msg.decoded.dimensionToStarboard,\naisData.static.fix_type=msg.decoded.fix_type,\n//Dynamic Data\naisData.dynamic.station_id=global.get('stationId'),\naisData.dynamic.sog=msg.decoded.speedOverGround,\naisData.dynamic.cog=msg.decoded.courseOverGround,\naisData.dynamic.heading=msg.decoded.trueHeading,\naisData.dynamic.turning_direction=msg.decoded.turningDirection,\naisData.dynamic.rot=msg.decoded.turningRate,\naisData.dynamic.bearing=0,\naisData.dynamic.nav_status=msg.decoded.navigationStatus,\naisData.dynamic.latitude=msg.decoded.latitude,\naisData.dynamic.longitude=msg.decoded.longitude,\naisData.dynamic.raim=msg.decoded.raim,\naisData.dynamic.msg_type=msg.decoded.messageType,\naisData.dynamic.repeat_indicator=msg.decoded.repeatIndicator,\naisData.dynamic.position_accuracy=msg.decoded.positionAccuracy,\n//Destination\naisData.destination.destination=msg.decoded.destination,\naisData.destination.eta=msg.decoded.eta,\n//Draught\naisData.draught.draught=msg.decoded.draught;\n//Timestamp\naisData.time_stamp=time_stamp;\n//isExists?\naisData.exists=isDataExists;\n\nmsg.parsed=aisData;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "275d49e4b399794b"
            ]
        ]
    },
    {
        "id": "275d49e4b399794b",
        "type": "function",
        "z": "9f8de59c262b7de1",
        "name": "",
        "func": "// var parsed={\"static\":{\"mmsi\":\"525019645\"},\"dynamic\":{\"station_id\":\"1\",\"sog\":0.3,\"cog\":15.6,\"bearing\":0,\"nav_status\":0,\"latitude\":-6.062245,\"longitude\":106.87224833333333,\"raim\":false,\"msg_type\":1,\"repeat_indicator\":0,\"position_accuracy\":0},\"destination\":{},\"draught\":{},\"ship_id\":0,\"time_stamp\":\"2020-10-01 10:27:50\",\"exists\":false};\nvar parsed=msg.parsed;\nObject.size = function(obj) {\n    var size = 0, key;\n    for (key in obj) {\n        if (obj.hasOwnProperty(key)) size++;\n    }\n    return size;\n};\nvar astatic=parsed.static;\nvar staticSize = Object.size(astatic);\n\nvar insertStatic;\nvar isUpdate=false;\nif(!parsed.exists){\n\tinsertStatic=\"INSERT INTO ais_static set \";\n}else{\n    insertStatic=\"UPDATE ais_static set \";\n    isUpdate=true;\n}\nvar i=1;\nObject.keys(astatic).forEach(key => {\n    // console.log(key, astatic[key]);\n    if(i>1){\n        insertStatic+=\",\";\n    }\n    var column = String(key);\n    var value = String(astatic[key]);\n    if(value===\"undefined\"){\n        value=0;\n        if(column==\"vessel_name\"){\n            value=\"\";\n        }else if(column==\"imo\"){\n            value=\"\";\n        }else if(column==\"callsign\"){\n            value=\"\";\n        }\n    }\n    insertStatic+=column+\"='\"+value+\"'\";\n    i++;\n});\n// console.log(insertStatic);\nif(isUpdate){\n    insertStatic+=\",updated_at=UTC_TIMESTAMP() WHERE id=\"+parsed.ship_id;\n}else{\n    insertStatic+=\",created_at=UTC_TIMESTAMP(),updated_at=UTC_TIMESTAMP()\";\n}\nmsg.topic=insertStatic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "44c59405dbf60c58",
        "type": "ais-decoder",
        "z": "9f8de59c262b7de1",
        "name": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "0ee1358dd073c5c2"
            ]
        ]
    },
    {
        "id": "0ee1358dd073c5c2",
        "type": "function",
        "z": "9f8de59c262b7de1",
        "name": "",
        "func": "if(msg.payload===undefined){\n    msg.payload=0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 260,
        "y": 60,
        "wires": [
            [
                "0204f1adc622e486"
            ]
        ]
    },
    {
        "id": "6d009caf2999efae",
        "type": "http request",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1370,
        "y": 120,
        "wires": [
            [
                "8e574384b6ad5386"
            ]
        ]
    },
    {
        "id": "91f07b0b1beac785",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 1",
        "func": "msg.method = \"POST\"\nmsg.url = \"http://ais-local-lumen.test/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 120,
        "wires": [
            [
                "6d009caf2999efae",
                "fafb16ad640becdb",
                "d81ccbfa75ceab3e",
                "eb21a38f8a46f194"
            ]
        ]
    },
    {
        "id": "87113fc21a601501",
        "type": "split",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "598bf7a64767202f",
                "b418f5247252face"
            ]
        ]
    },
    {
        "id": "9e582d152143cdb2",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 2",
        "func": "flow.set(\"dataais\", msg.payload)\nmsg.payload = msg.payload.source\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 120,
        "wires": [
            [
                "02f82ac6b123a9d7"
            ]
        ]
    },
    {
        "id": "58829394358c8f38",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "c3cbb809cc8f24bb",
        "type": "exec",
        "z": "80f8a74d09dd9b8e",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "58829394358c8f38"
            ],
            [
                "58829394358c8f38"
            ],
            [
                "58829394358c8f38"
            ]
        ]
    },
    {
        "id": "cfe7db1431b3dba4",
        "type": "http in",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "url": "/api/nampungdata",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "f4f4a356c9762ee4",
                "013a5da94217477c"
            ]
        ]
    },
    {
        "id": "013a5da94217477c",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 540,
        "wires": []
    },
    {
        "id": "f4f4a356c9762ee4",
        "type": "http response",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 340,
        "y": 620,
        "wires": []
    },
    {
        "id": "bb393fdd3886b308",
        "type": "ais",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "db85db0c414fe9cb"
            ]
        ]
    },
    {
        "id": "02f82ac6b123a9d7",
        "type": "ais-decoder",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "91f07b0b1beac785"
            ]
        ]
    },
    {
        "id": "589e1504f4101961",
        "type": "mqtt out",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "topic": "aisdataloggerksop",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c0587586e0feab65",
        "x": 1690,
        "y": 20,
        "wires": []
    },
    {
        "id": "598bf7a64767202f",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 6",
        "func": "var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 60,
        "wires": [
            [
                "bb393fdd3886b308",
                "8ca7be96b9aebb4f"
            ]
        ]
    },
    {
        "id": "db85db0c414fe9cb",
        "type": "switch",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "property": "payload.mmsi",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^(0\\d{8}|1\\d{8}|2\\d{8}|3\\d{8}|4\\d{8}|5\\d{8}|6\\d{8}|7\\d{8}|8\\d{8}|9\\d{8})$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 120,
        "wires": [
            [
                "9e582d152143cdb2"
            ]
        ]
    },
    {
        "id": "8ca7be96b9aebb4f",
        "type": "ais-decoder",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "x": 610,
        "y": 20,
        "wires": [
            [
                "03f0db8f60e81b36"
            ]
        ]
    },
    {
        "id": "03f0db8f60e81b36",
        "type": "switch",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 20,
        "wires": [
            [
                "a5d56ae4d1ade438"
            ]
        ]
    },
    {
        "id": "a5d56ae4d1ade438",
        "type": "switch",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 20,
        "wires": [
            [
                "02b43f7af9a2a960",
                "22f5244112f7294d",
                "1b7f68a8eb8e5080",
                "c49c3c8eef6b4887"
            ]
        ]
    },
    {
        "id": "02b43f7af9a2a960",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 11",
        "func": "msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8000/api/aisstatic\"\nconst aisdata2 = msg.payload\nmsg.payload = aisdata2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 20,
        "wires": [
            [
                "92e91a9d426856c0"
            ]
        ]
    },
    {
        "id": "92e91a9d426856c0",
        "type": "http request",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1230,
        "y": 20,
        "wires": [
            [
                "8e574384b6ad5386"
            ]
        ]
    },
    {
        "id": "8103d42455c2730a",
        "type": "mqtt out",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "topic": "aisdataloggerksop",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c0587586e0feab65",
        "x": 1270,
        "y": 60,
        "wires": []
    },
    {
        "id": "8193dc6a09766bf4",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 360,
        "wires": []
    },
    {
        "id": "10d8acc802b0e40a",
        "type": "exec",
        "z": "80f8a74d09dd9b8e",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "8193dc6a09766bf4"
            ],
            [
                "8193dc6a09766bf4"
            ],
            [
                "8193dc6a09766bf4"
            ]
        ]
    },
    {
        "id": "6cbe7239818d91eb",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 440,
        "wires": []
    },
    {
        "id": "011fbe527e649aab",
        "type": "exec",
        "z": "80f8a74d09dd9b8e",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "6cbe7239818d91eb"
            ],
            [
                "6cbe7239818d91eb"
            ],
            [
                "6cbe7239818d91eb"
            ]
        ]
    },
    {
        "id": "10c9f171092ecb97",
        "type": "switch",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "GPRMC",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "2716dfc702639cb5"
            ]
        ]
    },
    {
        "id": "2716dfc702639cb5",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 14",
        "func": "var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 180,
        "wires": [
            [
                "b70bafccf996f9a1"
            ]
        ]
    },
    {
        "id": "b418f5247252face",
        "type": "delay",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "10c9f171092ecb97"
            ]
        ]
    },
    {
        "id": "336a6319b86be83d",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 15",
        "func": "msg.method = \"POST\"\nmsg.url = \"http://ais-local-lumen.test/api/position\"\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 180,
        "wires": [
            [
                "b4d341711f45a650"
            ]
        ]
    },
    {
        "id": "b4d341711f45a650",
        "type": "http request",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1250,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b70bafccf996f9a1",
        "type": "nmea",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "property": "payload",
        "outputProperty": "payload",
        "x": 910,
        "y": 180,
        "wires": [
            [
                "336a6319b86be83d"
            ]
        ]
    },
    {
        "id": "fafb16ad640becdb",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 180,
        "wires": []
    },
    {
        "id": "22f5244112f7294d",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 80,
        "wires": []
    },
    {
        "id": "d772b56317b3bac6",
        "type": "serial in",
        "z": "80f8a74d09dd9b8e",
        "name": "",
        "serial": "0960ae41486c6ef0",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "87113fc21a601501"
            ]
        ]
    },
    {
        "id": "621512a36bdfb88d",
        "type": "cronplus",
        "z": "80f8a74d09dd9b8e",
        "d": true,
        "name": "sendata",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" app:sendata",
                "expressionType": "cron",
                "expression": "0 * * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 100,
        "y": 260,
        "wires": [
            [
                "c3cbb809cc8f24bb"
            ]
        ]
    },
    {
        "id": "10d976203d571979",
        "type": "cronplus",
        "z": "80f8a74d09dd9b8e",
        "d": true,
        "name": "radar image",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" radarpng",
                "expressionType": "cron",
                "expression": "0 * * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 110,
        "y": 360,
        "wires": [
            [
                "10d8acc802b0e40a"
            ]
        ]
    },
    {
        "id": "51e2b2b920a3d855",
        "type": "cronplus",
        "z": "80f8a74d09dd9b8e",
        "d": true,
        "name": "radar data",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\GitHub\\AIS-Local\\artisan\" fetchradar",
                "expressionType": "cron",
                "expression": "0 * * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 110,
        "y": 440,
        "wires": [
            [
                "011fbe527e649aab"
            ]
        ]
    },
    {
        "id": "8e574384b6ad5386",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 120,
        "wires": []
    },
    {
        "id": "d81ccbfa75ceab3e",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 220,
        "wires": []
    },
    {
        "id": "eb21a38f8a46f194",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 16",
        "func": "const aisdata1 = {idDatalogger: 2}\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 20,
        "wires": [
            [
                "589e1504f4101961"
            ]
        ]
    },
    {
        "id": "1b7f68a8eb8e5080",
        "type": "debug",
        "z": "80f8a74d09dd9b8e",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "c49c3c8eef6b4887",
        "type": "function",
        "z": "80f8a74d09dd9b8e",
        "name": "function 17",
        "func": "const aisdata1 = {idDatalogger: 2}\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 60,
        "wires": [
            [
                "8103d42455c2730a"
            ]
        ]
    },
    {
        "id": "24877ff6cd79cc8e",
        "type": "cronplus",
        "z": "b7365955a007c1cd",
        "d": true,
        "name": "checkgeofence",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "C:\\laragon\\bin\\php\\php-8.2.13-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\AIS-Local\\artisan\" app:checkgeofence",
                "expressionType": "cron",
                "expression": "0 0/2 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 160,
        "y": 80,
        "wires": [
            [
                "802e71f52371a4d6"
            ]
        ]
    },
    {
        "id": "802e71f52371a4d6",
        "type": "exec",
        "z": "b7365955a007c1cd",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "4e7008b74e28ec83"
            ],
            [
                "4e7008b74e28ec83"
            ],
            [
                "4e7008b74e28ec83"
            ]
        ]
    },
    {
        "id": "4e7008b74e28ec83",
        "type": "debug",
        "z": "b7365955a007c1cd",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "e281c4259617e005",
        "type": "cronplus",
        "z": "b7365955a007c1cd",
        "name": "eventtrigger",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "C:\\laragon\\bin\\php\\php-8.2.13-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\AIS-Local\\artisan\" eventtrigger",
                "expressionType": "cron",
                "expression": "0 0/2 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 150,
        "y": 180,
        "wires": [
            [
                "5e0b5cd581c67630"
            ]
        ]
    },
    {
        "id": "5e0b5cd581c67630",
        "type": "exec",
        "z": "b7365955a007c1cd",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "f1f322fc792d5e81"
            ],
            [
                "f1f322fc792d5e81"
            ],
            [
                "f1f322fc792d5e81"
            ]
        ]
    },
    {
        "id": "f1f322fc792d5e81",
        "type": "debug",
        "z": "b7365955a007c1cd",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "93fcdba921be1b64",
        "type": "cronplus",
        "z": "b7365955a007c1cd",
        "name": "outofrange",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "C:\\laragon\\bin\\php\\php-8.2.13-Win32-vs16-x64\\php \"C:\\Users\\user\\Documents\\AIS-Local\\artisan\" app:outofrange",
                "expressionType": "cron",
                "expression": "0 0/2 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 150,
        "y": 280,
        "wires": [
            [
                "30277634ba42bbdb"
            ]
        ]
    },
    {
        "id": "30277634ba42bbdb",
        "type": "exec",
        "z": "b7365955a007c1cd",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "a37fda1cfd30c1cc"
            ],
            [
                "a37fda1cfd30c1cc"
            ],
            [
                "a37fda1cfd30c1cc"
            ]
        ]
    },
    {
        "id": "a37fda1cfd30c1cc",
        "type": "debug",
        "z": "b7365955a007c1cd",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 280,
        "wires": []
    },
    {
        "id": "d1ee4d35c12d05f7",
        "type": "cronplus",
        "z": "b7365955a007c1cd",
        "name": "git pull be",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "cd C:\\Users\\user\\Documents\\AIS-Local && git pull",
                "expressionType": "cron",
                "expression": "0 */10 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 140,
        "y": 360,
        "wires": [
            [
                "a20ddacdd78506f4"
            ]
        ]
    },
    {
        "id": "a20ddacdd78506f4",
        "type": "exec",
        "z": "b7365955a007c1cd",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "f6decc926fc539bb"
            ],
            [
                "f6decc926fc539bb"
            ],
            [
                "f6decc926fc539bb"
            ]
        ]
    },
    {
        "id": "f6decc926fc539bb",
        "type": "debug",
        "z": "b7365955a007c1cd",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "2e4d65b97c7c6be8",
        "type": "cronplus",
        "z": "b7365955a007c1cd",
        "name": "git pull fe",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "cd C:\\Users\\user\\Documents\\trackerFe && git pull",
                "expressionType": "cron",
                "expression": "0 */10 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 140,
        "y": 440,
        "wires": [
            [
                "d749ed9ca245804f"
            ]
        ]
    },
    {
        "id": "d749ed9ca245804f",
        "type": "exec",
        "z": "b7365955a007c1cd",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "5994356979fa7173"
            ],
            [
                "5994356979fa7173"
            ],
            [
                "5994356979fa7173"
            ]
        ]
    },
    {
        "id": "5994356979fa7173",
        "type": "debug",
        "z": "b7365955a007c1cd",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 440,
        "wires": []
    },
    {
        "id": "7659c8213b74370b",
        "type": "exec",
        "z": "b7365955a007c1cd",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "5994356979fa7173"
            ],
            [
                "5994356979fa7173"
            ],
            [
                "5994356979fa7173"
            ]
        ]
    },
    {
        "id": "2e3b450e0b28b90b",
        "type": "cronplus",
        "z": "b7365955a007c1cd",
        "name": "yarn install",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "cd C:\\Users\\user\\Documents\\trackerFe && yarn install",
                "expressionType": "cron",
                "expression": "0 */10 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 150,
        "y": 520,
        "wires": [
            [
                "7659c8213b74370b"
            ]
        ]
    },
    {
        "id": "b12fd4c0324a3d85",
        "type": "inject",
        "z": "07d42c4895448327",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Ocean Inside Kabel Laut Geofence",
        "payloadType": "str",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "0507833ee3826ece"
            ]
        ]
    },
    {
        "id": "0507833ee3826ece",
        "type": "websocket out",
        "z": "07d42c4895448327",
        "name": "",
        "server": "568fbd90132245c7",
        "client": "",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "7696523b5e97b90f",
        "type": "http in",
        "z": "07d42c4895448327",
        "name": "",
        "url": "/sendgeofencealarm",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "082a12d1e8d35e13",
                "c1bd8be0cfa87ce5"
            ]
        ]
    },
    {
        "id": "082a12d1e8d35e13",
        "type": "http response",
        "z": "07d42c4895448327",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "9324494b7c952edd",
        "type": "websocket out",
        "z": "07d42c4895448327",
        "name": "",
        "server": "568fbd90132245c7",
        "client": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "c1bd8be0cfa87ce5",
        "type": "change",
        "z": "07d42c4895448327",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.msg",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "9324494b7c952edd",
                "dabaf47753121232"
            ]
        ]
    },
    {
        "id": "dabaf47753121232",
        "type": "debug",
        "z": "07d42c4895448327",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 420,
        "wires": []
    }
]